{% load widget_tweaks %}
{% load staticfiles %}

{% if offer_form.non_field_errors %}
    {% for err in offer_form.non_field_errors %}
        <span class="errors"><img class="warning" src="{% static 'warning.png' %}" height="16" width="16" alt=""/>{{ err }}</span>
    {% endfor %}
{% endif %}
<form id="new_offer" {% if not trade %}data-trade-action="create"{% else %}data-trade-action="reply" data-trade-id="{{ trade.id }}"{% endif %}>
    {% csrf_token %}
{% if not trade %}
    <p>With who?
        {{ trade_form.responder }}&nbsp;
        <span class="errors">{{ trade_form.responder.errors.as_text }}</span></p>
{% endif %}
    <p>Click on commodities and rules to select your offer:</p>
    <h3>Commodities</h3>
    <div id="zone_selected_commodities"></div>
    <h3>Rules</h3>
    <div id="zone_selected_rulecards"></div>
    <h3>Free Information(s) <span class="helptext">(optional)</span></h3>
    {{ offer_form.free_information|attr:"rows:3" }}<br/>
    <span class="helptext">That piece of information will NOT be revealed until both players have accepted the trade.</span>
    <img class="note" src="{% static 'explanation.png' %}" height="16" width="16" alt="" title="For now, the other player will only be informed that there IS a free information with the trade, not its content. You should give an hint of what it is in the comment below."/>
    <span class="errors">{{ offer_form.free_information.errors.as_text }}</span>
    <h3>Comment <span class="helptext">(optional)</span></h3>
    {{ offer_form.comment|attr:"rows:3" }}<br/>
    <span class="helptext">Your comment will be immediately shown to the other player.</span><br/>
    <span class="errors">{{ offer_form.comment.errors.as_text }}</span>

    <div class="submit">
    {% if trade %}
        <input type="submit" class="trade_submit_button" value="Reply with this offer"/>&nbsp;
        <a class="link_reset_offer">cancel</a>
    {% else %}
        <input type="submit" class="trade_submit_button" value="Propose this trade"/>&nbsp;
        <a class="link_reset_offer">reset</a>
    {% endif %}
    </div>

    {% for rulecard in offer_form.rulecards %}{{ rulecard }}{% endfor %}
    {% for commodity in offer_form.commodities %}{{ commodity }}{% endfor %}
</form>