{% load filters %}

Offered by {% include "common/name_or_you.html" with who=giver %}:

{% if offer.tradedcommodities %}
<div id="zone_commodities_offered">
    <h3>Commodities</h3>
    {% for card in offer.tradedcommodities %}
        {% for copy in card.nb_traded_cards|as_range %}
            {% include "common/commodity_card.html" with commodity=card.commodityinhand.commodity %}
        {% endfor %}
    {% endfor %}
</div>
{% endif %}

{% if offer.rulecards %}
<div id="zone_rulecards_offered">
    <h3>Rules{% if trade.status != 'ACCEPTED' and giver != user and not super_access %} <span class="helptext">(Text hidden until trade accepted)</span>{% endif %}</h3>
    {% for card in offer.rulecards %}
        <div class="rulecard_thumbnail" data-rih-id="{{ card.id }}">{{ card.rulecard.public_name }}</div>
    {% endfor %}
</div>
{% endif %}

{% if offer.free_information %}
    <h3>Free information(s)</h3>
    {% if trade.status == 'ACCEPTED' or giver == user or super_access %}
        <div class="free_information_text">{{ offer.free_information }}</div>
    {% else %}
        <span class="helptext">Some information(s), hidden until trade accepted by both players.</span>
    {% endif %}
{% endif %}

{% if offer.comment %}
    <h3>Comment</h3>
    <div class="message_content">{{ offer.comment }}</div>
{% endif %}

<script>
    $(function() {
        activateTooltips(); {# function in board.html #}
    });
</script>