{% if not trade %} {# Trade creation #}
    {% include "trade/edit_offer.html" %}
{% else %}
    {# First, display the initiator's offer. #}
    {% include "trade/show_offer.html" with offer=trade.initiator_offer giver=trade.initiator %}
    <hr>

    {% if trade.status == 'INITIATED' and game.is_active %}
        {% if user == trade.initiator  %}
            Waiting for reply by {% include "common/name_or_you.html" with who=trade.responder %}...
            <form id="cancel_trade" data-trade-action="cancel" data-trade-id="{{ trade.id }}">{% csrf_token %}
                <div class="submit"><input type="submit" class="trade_submit_button" value="Cancel this trade"/></div>
            </form>
        {% elif user == trade.responder %}
            <div class="submit" id="zone_choice_buttons">
                <button type="button" id="reply" class="trade_submit_button">Reply with your offer</button> &nbsp;&nbsp;
                <button type="button" id="decline" class="trade_submit_button">Decline</button>
            </div>
            <div id="zone_offer">
                {% include "trade/edit_offer.html" %}
            </div>
            <div id="zone_decline">
                {% include "trade/decline_trade.html" %}
            </div>
        {% endif %}
    {% elif trade.responder_offer %}
        {% include "trade/show_offer.html" with offer=trade.responder_offer giver=trade.responder %}
        {% if trade.status == 'REPLIED' and game.is_active %}
            {% if user == trade.responder %}
                <form id="cancel_trade" data-trade-action="cancel" data-trade-id="{{ trade.id }}">{% csrf_token %}
                    <div class="submit"><input type="submit" class="trade_submit_button" value="Cancel this trade"/></div>
                </form>
            {% elif user == trade.initiator %}
                <div class="submit" id="zone_choice_buttons">
                    <form id="accept_trade" data-trade-action="accept" data-trade-id="{{ trade.id }}">{% csrf_token %}
                        <input type="submit" class="trade_submit_button" value="Accept this trade"/> &nbsp;&nbsp;
                        <button type="button" id="decline" class="trade_submit_button">Decline</button>
                    </form>
                </div>
                <div id="zone_decline">
                    {% include "trade/decline_trade.html" %}
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}

<script>
    $(function() {
        $(".trade_submit_button").button();
        $("img").tooltip();
        $("#zone_decline").hide();
        {% if errors %}
            $('#zone_choice_buttons').hide("blind");
        {% else %}
            $('#zone_offer').hide();
        {% endif %}
    });

    $("#new_offer, #cancel_trade, #decline_trade, #accept_trade").on("submit", function() { postTrade(this); return false; });

    $(".link_reset_offer").on("click", function() {
        $("#id_responder").add("#id_free_information").add("#id_comment").val("");
        $("input[name^=commodity]").val(0);
        refreshSelectedCommodities();
        $("#zone_commodities").find(".commodity_card").removeClass("card_selected");
        $("input[name^=rulecard]").val("False");
        refreshSelectedRulecards();
        $("#zone_rulecards").find(".rulecard").removeClass("card_selected");
        $(".errors").html("");
    {% if trade %} {# in reply mode, we also hide the offer and re-show the choice buttons #}
        resetCardsInHandWhenSelectionIsDisabled();
        $("#zone_offer").hide("blind");
        $("#zone_decline").hide();
        $("#zone_choice_buttons").show("blind");
        $("#id_decline_reason").val("")
    {% endif %}
    });

    $("#reply").on("click", function() {
        $("#zone_offer").show("blind");
        $("#zone_choice_buttons").hide("blind");
        prepareCardsInHandForSelection();
    });
    $("#decline").on("click", function() {
        $("#zone_decline").show("blind");
        $("#zone_choice_buttons").hide("blind");
    });
</script>