{% extends "base.html" %}
{% load filters %}
{% load staticfiles %}
{% load url from future %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.9.1.custom.min.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'jquery/jquery-1.8.2.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui-1.9.1.custom.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="header">Your trades for game #{{ game }} (ending in {{ game.end_date|timeuntil }})
        <span class="floatright">&lt; <a href="{% url 'welcome' %}">Back</a></span></div>

    <div class="css_table">
        {% for trade in trades %}
            {% cycle 'even_color' 'odd_color' as color silent %}
            <div class="css_table-row{% if trade.status == 'ACCEPTED' or trade.status == 'DECLINED' %} done{% elif trade.status == 'CANCELLED' %} cancelled{% endif %}">
                <div class="css_table-cell {{ color }}">
                    Trade proposed by <strong>{% include "common/name_or_you.html" with who=trade.initiator %}</strong>
                    ({{ trade.initiator_offer.summary }})
                    to <strong>{% include "common/name_or_you.html" with who=trade.responder %}</strong>
                    {% if trade.responder_offer %}({{ trade.responder_offer.summary }}){% endif %}
                </div>
                <div class="css_table-cell {{ color }}">
                    {% if trade.status == 'INITIATED' %}
                        {% if trade.initiator == user %}submitted{% else %}offered{% endif %} {{ trade.creation_date|timesince }} ago
                    {% elif trade.status == 'CANCELLED' %}
                        cancelled by {% include "common/name_or_you.html" with who=trade.finalizer %} {{ trade.closing_date|timesince }} ago
                    {% elif trade.status == 'REPLIED' %}
                        response submitted by {% include "common/name_or_you.html" with who=trade.responder %}
                    {% elif trade.status == 'ACCEPTED' %}
                        done {{ trade.closing_date|timesince }} ago
                    {% elif trade.status == 'DECLINED' %}
                        declined by {% include "common/name_or_you.html" with who=trade.finalizer %} {{ trade.closing_date|timesince }} ago
                    {% endif %}
                </div>
                <div class="css_table-cell {{ color }}">
                    {% if trade.status == 'INITIATED' and user == trade.responder %}
                        <a href="{% url 'show_trade' game.id trade.id %}"><span class="new">Reply</span></a>
                    {% elif trade.status == 'REPLIED' and user == trade.initiator %}
                        <a href="{% url 'show_trade' game.id trade.id %}"><span class="new">Decide</span></a>
                    {% else %}
                        <a href="{% url 'show_trade' game.id trade.id %}">Show</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <form action="{% url 'create_trade' game.id %}" method="GET">
        <input type="submit" value="Set up trade proposal" />
    </form>

    <script>
        $(function() {
            $( "input[type=submit]" ).button();
        });
    </script>
{% endblock content %}