{% load staticfiles %}
{% load humanize %}
{% load cycle from future %} {# security autoescaping introduced in django 1.6 #}

{% if trade_list %}
    <div id="table_trade_list">
    {% for trade in trade_list %}
        {% cycle 'even_color' 'odd_color' as color silent %}
        <div class="row_trade_list{% if trade.finalizer %} finalized{% endif %}">
            <div class="cell_trade_list column_trade_detail {{ color }}">
                {% include "common/name_or_you.html" with who=trade.initiator %} :
                {% include "trade/trade_list_detail_offer.html" with offer=trade.initiator_offer %}
                {% if trade.responder_offer %}
                    <img src="{% static 'arrow_double.png' %}" width="30" alt="&lt;=&gt;"/>
                {% else %}
                    <img src="{% static 'arrow_simple.png' %}" width="30" alt="=&gt;"/>
                {% endif %}
                {% include "common/name_or_you.html" with who=trade.responder %}
                {% if trade.responder_offer %}: {% include "trade/trade_list_detail_offer.html" with offer=trade.responder_offer %}
                {% else %}<span class="helptext">(no offer submitted)</span>{% endif %}
            </div>
            <div class="cell_trade_list column_trade_status {{ color }}">
                {% if trade.status == 'INITIATED' %}
                    waiting offer from {% include "common/name_or_you.html" with who=trade.responder %}...<br/>
                    <span class="helptext">proposed {{ trade.creation_date|naturalday|lower }} {{ trade.creation_date|time }}</span>
                {% elif trade.status == 'REPLIED' %}
                    waiting decision from {% include "common/name_or_you.html" with who=trade.initiator %}...<br/>
                    <span class="helptext">replied {{ trade.responder_offer.creation_date|naturalday|lower }} {{ trade.responder_offer.creation_date|time }}</span>
                {% elif trade.status == 'CANCELLED' %}
                    cancelled by {% include "common/name_or_you.html" with who=trade.finalizer %}
                {% elif trade.status == 'ACCEPTED' %}
                    accepted and done
                {% elif trade.status == 'DECLINED' %}
                    declined by {% include "common/name_or_you.html" with who=trade.finalizer %}
                {% endif %}
                {% if not trade.is_pending %}
                    <br/>
                    <span class="helptext">{{ trade.closing_date|naturalday|lower }} {{ trade.closing_date|time }}</span>
                {% endif %}
            </div>
            <div class="cell_trade_list column_trade_link {{ color }}">
                <a class="list_link_trade" data-trade-id="{{ trade.id }}">Show</a>
            </div>
        </div>
    {% endfor %}
    </div>

    {% if trade_list.has_other_pages %}
        <div class="pagination">
        {% if trade_list.has_previous %}
            <a data-page="{{ trade_list.previous_page_number }}" class="link_change_page">&lt; previous</a>
        {% endif %}
        {% if trade_list.has_next %}
            <a data-page="{{ trade_list.next_page_number }}" class="link_change_page">next &gt;</a>
        {% endif %}
        </div>
    {% endif %}

    <script>
        $(function() {
            $("#table_trade_list").tooltip({ position: { my: "left+5 top", at: "right bottom" } });
        })

        $(".list_link_trade").on("click", function(event) {
            refreshTrade($(event.target).data("tradeId"));
            $("#zone_tabs").tabs("option", "active", 1)
                    .find("li[aria-controls=tab-trade]").find("a").text("View Trade");
            $("#zone_trade_list").dialog("close");
        });

        $(".link_change_page").on("click", function(event) {
            refreshTradeList($(event.target).data("page"));
        });
    </script>
{% else %}
    <span class="helptext">No trades yet.</span>
{% endif %}