{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.9.1.custom.min.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'jquery/jquery-1.8.2.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui-1.9.1.custom.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="header">Your trades for game #{{ game }} (ending in {{ game.end_date|timeuntil }})
        <span class="floatright">&lt; <a href="{% url 'game' game.id %}">Back</a></span></div>

    {% if not game.is_active %}
    <div class="reminder">
        {% if game.is_ended %}
            This game has ended. No more trades can be created or finalized.<br/>
            The game master will close this game soon, so that scores are calculated.
        {% elif game.is_closed %}
            This game has been closed by the game master. No more trades can be created or finalized.<br/>
            Scores have been calculated.
        {% elif not game.is_active %}
            This game has not started yet. Please come back in {{ game.start_date|timeuntil }}.
        {% endif %}
    </div>
    <br/>
    {% endif %}

    {% if trades %}
        {% include "trade/trades_table.html" %}
    {% else %}
        <span class="helptext">No trades.</span>
    {% endif %}

    {% if can_create_trade and game.is_active %}
        <form action="{% url 'create_trade' game.id %}" method="GET">
            <input type="submit" value="Set up trade proposal" />
        </form>

        <script>
            $(function() {
                $( "input[type=submit]" ).button();
            });
        </script>
    {% endif %}
{% endblock content %}