{% extends "base.html" %}
{% load staticfiles static %}
{% load widget_tweaks %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.10.3.custom.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.profile.css' %}" />
{% endblock styles %}

{% block scripts %}
    <script src="{% static 'jquery/jquery-1.8.2.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script src="//cdn.jsdelivr.net/jstimezonedetect/1.0.5/jstz.min.js"></script>
{% endblock %}

{% block content %}
	<form action="{% if sign_up %}{% url 'signup' %}{% else %}{% url 'editprofile' %}{% endif %}" method="POST">{% csrf_token %}
		<table id="table_profile">
			<tr>
				<td colspan="2" class="header">{% if sign_up %}Create profile
                    {% else %}Edit profile <span class="note">&lt; <a href="{% url 'profile' %}">Back</a>{% endif %}</span>
                </td>
			</tr>
			<tr>
				<th>{{ user_form.username.label_tag }}</th>
				<td>{{ user_form.username }}&nbsp;<span class="errors">{{ user_form.username.errors.as_text }}</span>
				    <span class="helptext">{{ user_form.username.help_text }}</span></td>
			</tr>
			<tr>
				<th>{{ user_form.first_name.label_tag }}</th>
				<td>{{ user_form.first_name }}&nbsp;<span class="errors">{{ user_form.first_name.errors.as_text }}</span>
				    <span class="helptext">(optional)</span></td>
			</tr>
			<tr>
				<th>{{ user_form.last_name.label_tag }}</th>
				<td>{{ user_form.last_name }}&nbsp;<span class="errors">{{ user_form.last_name.errors.as_text }}</span>
				    <span class="helptext">(optional)</span>
				    <div class="helptext">People will see you as : <div class="game-player"><span id="displayed_name"></span></div></div></td>
			</tr>
			<tr>
				<th>{{ user_form.email.label_tag }}</th>
				<td>{{ user_form.email|attr:"size:40" }}&nbsp;<span class="errors">{{ user_form.email.errors.as_text }}</span>
				    <span class="helptext">Required</span></td>
			</tr>
            <tr>
                <th>{{ user_form.send_notifications.label_tag }}</th>
                <td>{{ user_form.send_notifications }}&nbsp;<span class="errors">{{ user_form.send_notifications.errors.as_text }}</span>
                    <span class="helptext">{{ user_form.send_notifications.help_text }}</span></td>
            </tr>
            <tr>
                <th>{{ user_form.timezone.label_tag }}</th>
                <td>{{ user_form.timezone }}&nbsp;<span class="errors">{{ user_form.timezone.errors.as_text }}</span>
                    <span class="helptext">{{ user_form.timezone.help_text }}</span></td>
            </tr>
			<tr>
				<th>{{ user_form.bio.label_tag }}</th>
				<td>{{ user_form.bio|attr:"cols:75"|attr:"rows:5" }}&nbsp;<span class="errors">{{ user_form.bio.errors.as_text }}</span>
				    <span class="helptext">{{ user_form.bio.help_text }}</span></td>
			</tr>
			<tr>
				<th>{{ user_form.contact.label_tag }}</th>
				<td>{{ user_form.contact|attr:"cols:75"|attr:"rows:5" }}&nbsp;<span class="errors">{{ user_form.contact.errors.as_text }}</span>
				    <span class="helptext">{{ user_form.contact.help_text }}</span></td>
			</tr>
            <tr>
                <th>{{ user_form.palette.label_tag }}</th>

                <td class="zone_palettes">
                {% for palette in palettes %}
                    <div class="palette {{ palette.key }}" data-key="{{ palette.key }}">
                        {{ palette.name }}
                        {% if palette.note %}<div class="helptext">{{ palette.note }}</div>{% endif %}
                    </div>
                {% endfor %}

                    <input type="hidden" name="palette" id="id_palette" value="{{ user_form.palette.value }}"/>
                    &nbsp;<span class="errors">{{ user_form.palette.errors.as_text }}</span>
                    <span class="helptext">{{ user_form.palette.help_text }}</span>
                </td>
            </tr>
        </table>

        <table id="table_password">
			<tr>
				<td colspan="2" class="header">{% if sign_up %}Password
                    {% else %}Change password <span class="helptext">Let blank to keep the same password</span>{% endif %}</td>
			</tr>
        {% if not sign_up %}
            <tr>
                <th>{{ password_form.old_password.label_tag }}</th>
                <td>{{ password_form.old_password }}&nbsp;<span class="errors">{{ password_form.old_password.errors.as_text }}</span>
                    <span class="helptext">{{ password_form.old_password.help_text }}</span></td>
            </tr>
        {% endif %}
			<tr>
				<th>{% if sign_up %}<label for="id_new_password1">Type your password :</label>
                    {% else %}{{ password_form.new_password1.label_tag }}{% endif %}</th>
				<td>{{ password_form.new_password1 }}&nbsp;<span class="errors">{{ password_form.new_password1.errors.as_text }}</span>
				    <span class="helptext">Required</span></td>
			</tr>
			<tr>
				<th>{% if sign_up %}<label for="id_new_password2">Please type your password again :</label>
                    {% else %}{{ password_form.new_password2.label_tag }}{% endif %}</th>
				<td>{{ password_form.new_password2 }}&nbsp;<span class="errors">{{ password_form.new_password2.errors.as_text }}</span>
				    <span class="helptext">Required</span></td>
			</tr>
        {% if sign_up %}
            <tr>
                <th>{{ user_form.mystery.label_tag }} :</th>
                <td>{{ user_form.mystery }}&nbsp;<span class="errors">{{ user_form.mystery.errors.as_text }}</span>
                    <span class="helptext">{{ user_form.mystery.help_text }}</span></td>
            </tr>
        {% endif %}
		</table>

		<div class="submit-button note">
			<input type="submit" value="Submit" />
		</div>
	</form>

    <script type="text/javascript">
        $(function() {
            $("input[type=submit]").button();

            {% if sign_up %}
                $("#id_username").focus();
              {% if not user_form.timezone.data %} {# initialise the timezone with a best guess at the first loading of the page #}
                $("#id_timezone").val(jstz.determine().name());
              {% endif %}
            {% endif %}

            $(".palette").on("click", function() {
                var new_key = $(this).data("key");
                $("#id_palette").val(new_key);
                $(".palette").each(function() {
                    $(this).toggleClass("selected", $(this).data("key") === new_key);
                });
                loadPalette(new_key);
            });

            $("." + $("#id_palette").val()).addClass("selected");
        });

        function getDisplayedName() {
            var firstName = $('#id_first_name').val();
            var lastName = $('#id_last_name').val();
            if (firstName != "" && lastName != "") {
                return firstName + " " + lastName;
            } else if (lastName != "") {
                return lastName;
            } else if (firstName != "") {
                return firstName;
            } else {
                return $('#id_username').val();
            }
        }

        function refreshDisplayedName() {
            displayed_name = $('#displayed_name').text(getDisplayedName());
        }

        $("#id_first_name").on("input keyup cut paste", refreshDisplayedName);
        $("#id_last_name").on("input keyup cut paste", refreshDisplayedName);
        $("#id_username").on("input keyup cut paste", refreshDisplayedName);

        refreshDisplayedName();

        function loadPalette(palette) {
            $("#palette_style").remove();
        {% for p in palettes %}
            {% if p.key != user.DEFAULT_PALETTE %}
                if (palette === '{{ p.key }}') {
                    $("head").append(
                            '<link id="palette_style" rel="stylesheet" href="{% get_static_prefix %}css/palette/{{ p.key }}.css" />');
                }
            {% endif %}
        {% endfor %}

        }
    </script>
{% endblock content %}