{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.10.3.custom.min.css' %}" />
    <link rel="stylesheet" href="{% static "css/style.login.css" %}" type="text/css"/>
{% endblock styles %}

{% block scripts %}
    <script src="{% static 'jquery/jquery-1.8.2.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.colorbox-min.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="login_form">
        {% if form.errors %}
            <p class="errors">Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table class="login">
                <tr class="form-row">
                    <td class="label">{{ form.username.label_tag }} :</td>
                    <td>{{ form.username|attr:"autocapitalize:off" }}</td>
                </tr>
                <tr class="form-row">
                    <td class="label">{{ form.password.label_tag }} :</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <div class="submit-row">
                <input type="submit" value="Log in" />
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>

    <div id="band_propaganda"></div>

    <div id="zone_propaganda">
        <div id="zone_propaganda_wrapper">
            <div id="zone_propaganda_content">
                <div class="top_sentence">MysTrade: a casual game for fine negotiators</div>

                <div id="copy">
                    <div id="first">Will you make the best deals ?</div>
                    <div id="second">Will you outsmart your opponents ?</div>
                    <div id="third">Will you make them laugh ?</div>
                </div>

                <div id="know">
                    <p>Read the <a href="{% url 'rules' %}">Rules</a> &mdash; Watch a screenshot:</p>
                    <a id="screenshot" href="{% static "propaganda/screenshot_game.png" %}">
                        <img src="{% static "propaganda/screenshot_game_thumbnail.png" %}" width="146" height="110"/>
                    </a>
                </div>

                <div id="contact">Do you want to join the fun ? Great ! Please ask for an account at <a href="mailto:hello&#64;mystra&#46;de">hello&#64;mystra&#46;de</a>. (Yes it's old-school. For now.)</div>
            </div>
        </div>
    </div>

	<script type="text/javascript">
        $(function() {
            $("input[type=submit]").button();
            $("#id_username").focus();
            $("#screenshot").colorbox({height: '95%', closeButton: false});
        });
	</script>
{% endblock content %}