{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.profile.css' %}" />
{% endblock %}


{% block content %}
	<table id="table_profile">
		<tr>
			<td colspan="2" class="header">
				{{ user_displayed.name|title }}
			</td>
		</tr>
		<tr class="longtext">
			<th>Bio :</th>
			<td>
                <div>
					{{ user_displayed.bio|linebreaksbr|default:'<span class="helptext">Nothing yet.</span>' }}
				</div>
            </td>
		</tr>
		<tr class="longtext">
			<th>Contact informations :</th>
			<td>
                <div>
					{{ user_displayed.contact|linebreaksbr|default:'<span class="helptext">Nothing yet.</span>' }}
				</div>
            </td>
		</tr>													
	</table>
{% endblock content %}