{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.10.3.custom.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.profile.css' %}" />
{% endblock styles %}

{% block scripts %}
    <script src="{% static 'jquery/jquery-1.8.2.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui-1.10.3.custom.min.js' %}"></script>
{% endblock %}
{% block content %}
    <h3>Forgotten your password?</h3>

    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

    <form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}
         {{ form.email.label_tag }} :
         {{ form.email|attr:"size:40" }}&nbsp;<span class="errors">{{ form.email.errors.as_text }}</span>
         <input type="submit" value="Submit" />
    </form>

    <script type="text/javascript">
        $(function() {
            $("input[type=submit]").button();
            $("#id_email").focus();
        });
    </script>
{% endblock content %}