{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.profile.css' %}" />
{% endblock %}

{% block content %}
	<table id="table_profile">
		<tr>
			<td colspan="2" class="header">
				Your details :
				<span class="action">
					<a href="{% url 'editprofile' %}"><img src="{% static "pencil.png" %}" height="16" width="16" alt=""/> Edit</a>
				</span>
			</td>
		</tr>
		<tr>
			<th>Username :</th>
			<td>{{ user.username }}</td>
		</tr>
		<tr>
			<th>First name :</th>
			<td>{{ user.first_name|default:'<span class="helptext">Nothing yet.</span>' }}</td>
		</tr>
		<tr>
			<th>Last name :</th>
			<td>{{ user.last_name|default:'<span class="helptext">Nothing yet.</span>' }}</td>
		</tr>
		<tr>
			<th>E-mail address :</th>
			<td>{{ user.email }}
				<div class="helptext">for sending notifications - will never be publicly displayed</div></td>
		</tr>
        <tr>
            <th>Sending game notifications :</th>
            <td>{{user.send_notifications|yesno|capfirst }}
        </tr>
		<tr class="longtext">
			<th>Your bio :</th>
			<td><div>
					{{ user.bio|linebreaksbr|default:'<span class="helptext">Nothing yet.</span>' }}
				</div>
				<div class="helptext">for others to know you</div></td>
		</tr>
		<tr class="longtext">
			<th>Your contact informations :</th>
			<td><div>
					{{ user.contact|linebreaksbr|default:'<span class="helptext">Nothing yet.</span>' }}
				</div>
				<div class="helptext">for others to reach you</div></td>
		</tr>													
	</table>
{% endblock content %}