{% if commodity.symbol %}
    <span class="commodity_card symbol {{ commodity.symbol }}{% if extra_classes %} {{ extra_classes }}{% endif %}" title="{{ commodity.name }}{% if title_note %} -- {{ title_note }}{% endif %}" data-commodity-id="{{ commodity.id }}" data-name="{{ commodity.name }}" style="background-color: {{ commodity.color }}">
        &nbsp;
    </span>
{% else %}
    <span class="commodity_card named{% if extra_classes %} {{ extra_classes }}{% endif %}" title="{{ commodity.category }}{% if title_note %} -- {{ title_note }}{% endif %}" data-commodity-id="{{ commodity.id }}" data-name="{{ commodity.category }}" style="background-color: {{ commodity.color }}">
        {{ commodity.name }}
        <div class="category">[{{ commodity.category_acronym }}]</div>
    </span>
{% endif %}