Django==1.6.5
psycopg2 # needs "sudo apt-get install libpq-dev python-dev" before
django-widget-tweaks
South
django-extensions
Werkzeug
#pygraphviz  # doesn't work: need to do 'sudo apt-get install python-pygraphviz' manually
django-debug-toolbar
model_mommy
markdown
bleach
numpy
pytz
matplotlib # BEWARE: needed 'sudo apt-get install libfreetype6-dev libxft-dev' and 'sudo apt-get build-dep python-matplotlib' before