Django==1.4.1
psycopg2 # needs "sudo apt-get install libpq-dev python-dev" before
django-widget-tweaks
South
django-extensions
Werkzeug
#pygraphviz  # doesn't work: need to do 'sudo apt-get install python-pygraphviz' manually
django-debug-toolbar
model_mommy
markdown
bleach
