{% load staticfiles %}
{% load url from future %}

<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>MysTrade</title>  
  		<meta name="description" content="MysTrade - A game of mysterious trades"/>  
  		<link rel="stylesheet" href="{% static "style.css" %}" type="text/css"/>  
 	</head>  
 		
	<body>
		<div class="toplinks">
			{% block toplinks %}<a href="{% url 'django.contrib.auth.views.login' %}">Log in</a>{% endblock %}
		</div>

		<div class="logobox">
			<img src="{% static "logo_mystrade.png" %}" height="122" width="422" alt="MysTrade">
			<div class="motto">a game of mysterious trades<br/></div>
		</div>

		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>  
</html>
