{% load staticfiles %}
{% load url from future %}

<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>MysTrade</title>  
  		<meta name="description" content="MysTrade - A game of mysterious trades"/>  
  		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
		{% block styles %}{% endblock %}
		{% block scripts %}{% endblock %}
 	</head>  
 		
	<body>
		<div class="toplinks">
			{% if user.is_authenticated %}
                <div class="game-player">{{  user.get_profile.name }}</div>&nbsp;&nbsp;&nbsp;
				<a href="{% url 'profile' %}">Profile</a> |
				<a href="{% url 'logout' %}">Log out</a>
			{% else %}
				<a href="{% url 'login' %}">Log in</a>
			{% endif %}
		</div>

		<div class="logobox">
			<a href="{% url 'welcome' %}"><img src="{% static "logo_mystrade.png" %}" height="122" width="422" alt="MysTrade">
			<div class="motto">a game of mysterious trades<br/></div></a>
		</div>

		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>  
</html>
