{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>MysTrade</title>  
  		<meta name="description" content="MysTrade - A game of mysterious trades"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <link rel="icon" href="{% static 'favicon.png' %}">
 		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/> {# TODO suppress at the end of redesign #}
		{% block styles %}{% endblock %}
		{% block scripts %}{% endblock %}
 	</head>  
 		
	<body>
		<div id="zone_toplinks">
            {% if user.is_authenticated %}<div class="game-player">{{ user.name }}</div>&nbsp;&nbsp;&nbsp;{% endif %}

            <a href="{% url 'rules' %}">R&egrave;gles</a> |

			{% if user.is_authenticated %}
				<a href="{% url 'profile' %}">Profile</a> |
				<a href="{% url 'logout' %}">Log out</a>
			{% else %}
				<a href="{% url 'login' %}">Log in</a>
			{% endif %}
		</div>

		<div id="zone_logobox">
			<a href="{% url 'welcome' %}"><img src="{% static "logo_mystrade.png" %}" height="122" width="422" alt="MysTrade">
			<div id="zone_motto">a game of mysterious trades<br/></div></a>
		</div>

		<div id="zone_content">
			{% block content %}{% endblock %}
		</div>
	</body>  
</html>
