{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="reminder">
        <img src="{% static 'warning.png' %}" alt=""/>
        Cette page de r&egrave;gles est r&eacute;dig&eacute;e en fran&ccedil;ais. Tout le reste du site est en anglais.
    </div>

    <div class="header">R&egrave;gles du jeu</div>

    <h4>Principes</h4>

    <p>Au début d'une partie, chaque joueur reçoit une main (<em>hand</em>) aléatoire de cartes, réparties en deux catégories :</p>
    <ul>
        <li>Deux cartes règles (<em>rules</em>) ;</li>
        <li>Dix cartes biens (<em>commodities</em>).</li>
    </ul>

    <p>Le but du jeu est de rassembler à la fin de la partie la combinaison de cartes <strong>biens</strong> qui rapportera le plus de points.
    Cependant, la valeur d'une main ne peut être déterminée qu'à partir de l'ensemble des règles présentes dans le jeu (voir un exemple en bas de page).
    En d'autres termes, en début de partie chaque joueur ne connaît qu'une fraction des règles du jeu !</p>

    <p>Le nombre de règles en jeu est initialement secret, mais chacune d'entre elles est numérotée et présente en un minimum de deux exemplaires,
    répartis aléatoirement entre tous les joueurs.</p>

    <h4>Echanges</h4>

    <p>Les joueurs poursuivent leurs deux objectifs parallèles d'obtention d'informations sur les règles et de constitution d'une main optimale
    en proposant à leurs adversaires de réaliser des échanges (<em>trades</em>). Chacun des deux joueurs impliqués dans un projet d'échange
    soumet à l'autre une offre contenant autant de cartes (biens et/ou règles), ainsi que d' &laquo; informations libres &raquo; (<em>free informations</em>),
    qu'il le souhaite. Tout type d'accord est permis tant qu'il satisfait les deux joueurs, et le nombre d'échanges durant une partie n'est pas limité.</p>

    <p>Tant que l'échange n'a pas été accepté par les deux joueurs, chacun ne visualise dans l'offre de l'autre partie que les biens,
    le <em>numéro</em> des règles, et la présence ou non d'une information libre. Le <em>détail</em> des règles et de l'information libre ne sont   révélés
    qu'après acceptation mutuelle des deux offres. Il est toutefois possible d'accompagner son offre d'un commentaire, visible immédiatement
    par l'autre joueur, afin d'apporter des précisions sur ces éléments cachés ou de détailler ses souhaits pour l'offre en retour.</p>

    <h4>Fin de partie</h4>

    <p>Chaque partie est définie avec une date et heure de fin (<em>end date</em>) ; lorsque celle-ci est atteinte, plus aucun échange ne peut être
    réalisé (y compris les échanges encore non acceptés par les deux joueurs, qui ne pourront pas être menés à leur terme). Le score des
    joueurs sera alors calculé, sur impulsion du maître du jeu (<em>game master</em>), à partir de la main que chacun a soumis.</p>

    <p>Si un joueur estime que son score sera meilleur en excluant certains biens qu'il possède, ce joueur peut rendre sa main
    <strong>avant la date de fin</strong> de la partie en choisissant quelles cartes sont remises au maître du jeu. Les joueurs qui
    n'auront pas pris cette initiative à la date de fin soumettront automatiquement toutes les cartes biens de leur main.</p>

    <h4>Exemple de règles</h4>
    <ol>
        <li>Les cartes "souris" valent un point.</li>
        <li>Les biens "chien" et "chat" valent deux points chacun.</li>
        <li>Une carte "mouton" vaut trois fois le nombre de points d'une carte "souris".</li>
        <li>Chaque carte "chat" annule une carte "souris", qui ne vaut plus aucun point.</li>
        <li>Chaque ensemble d'une carte "mouton" et d'une carte "chien" rapporte un bonus de trois points.</li>
        <li>Il n'y a pas de place pour plus de six animaux dans votre ferme. Si votre main comporte plus de six cartes, on en retirera au hasard jusqu'à ce qu'il n'en reste que six.</li>
    </ol>

    <h4>Exemple de score</h4>

    <ul>
        <li>
            <div class="game-player">André</div>
            <ul>
                <li>Main rendue : 2 chats, 2 chiens : 8 points</li>
                <li><strong>Grand Total :</strong> 8 points</li>
            </ul>
        </li>
        <li>
            <div class="game-player">Béatrice</div>
            <ul>
                <li>Main rendue : 3 souris, 1 chien, 1 chat</li>
                <li>1 chien, 1 chat : 4 points</li>
                <li>3 souris mais 1 chat, donc seules deux souris rapportent des points : 2 points</li>
                <li><strong>Grand Total :</strong> 6 points</li>
            </ul>
        </li>
        <li>
            <div class="game-player">Claude</div>
            <ul>
                <li>Main rendue : 1 souris, 1 chien, 1 chat, 4 moutons : au total 7 cartes, soit une de trop. Au hasard, un mouton est retiré.</li>
                <li>La souris ne marque pas à cause du chat.</li>
                <li>1 chien, 1 chat : 4 points</li>
                <li>3 moutons, mais un seul rapporte un bonus car il n'y a qu'un chien : 9 points + 3 points de bonus</li>
                <li><strong>Grand Total :</strong> 16 points</li>
            </ul>
        </li>
        <li>
            <div class="game-player">Daphné</div>
            <ul>
                <li>Main rendue : 3 chiens, 1 chat, 2 moutons. Daphné possédait 3 chats mais a choisi de soumettre sa main en excluant deux félins,
                    car elle connaissait la règle 6. et ne voulait pas prendre le risque de perdre des moutons, comme Claude.</li>
                <li>3 chiens, 1 chat : 8 points</li>
                <li>2 moutons, qui rapportent chacun un bonus grâce aux trois chiens : 6 points + 6 points de bonus</li>
                <li><strong>Grand Total :</strong> 20 points</li>
            </ul>
        </li>
    </ul>

    <p>Daphné gagne cette partie.</p>

{% endblock %}