{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block styles %}
<link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.9.0.custom.min.css' %}" />
{% endblock %}

{% block scripts %}
<script src="{% static 'jquery/jquery-1.8.2.min.js' %}"></script>
<script src="{% static 'jquery/jquery-ui-1.9.0.custom.min.js' %}"></script>
<script src="{% static 'jquery/jquery.formset.min.js' %}"></script>
{% endblock %}

{% block content %}
	<form action="{% url 'scoring' %}" method="POST">{% csrf_token %}
		<div class="header">Select rule cards :
			<span class="floatright"><img src="{% static "select.png" %}" height="16" width="16" alt="" class="icon"/>
				<span class="dynamic_link" id="selectall">Select all</span>
			</span>
		</div>
		<div class="css_table">
		{{ rulecards_formset.management_form }}
		{% for form in rulecards_formset %}
			{% if forloop.first or forloop.counter0|divisibleby:"4" %}
			<div class="css_table-row">
			{% endif %}
				<div class="css_table-cell">
				  <div class="rulecard with_button">
					{{ form.card_id }}
					<div class="rulecard_name">{{ form.public_name.value }}</div>
					<div class="rulecard_desc">{{ form.description.value }}</div>
					<div class="align_to_bottom">
					  <div class="rulecard_select">
						<input type="checkbox" class="rulecard_checkbox" name="{{ form.selected_rule.html_name }}" id="id_{{ form.selected_rule.html_name }}" {% if form.selected_rule.value %}checked="checked"{% endif %} {% if form.mandatory.value %}disabled="disabled"{% endif %} />
						<label for="id_{{ form.selected_rule.html_name }}">{% if form.mandatory.value %}Mandatory{% else %}Keep{% endif %}</label>
					  </div>
					</div>
				  </div>
				</div>
			{% if forloop.counter|divisibleby:"4" or forloop.last %}
			</div>
			{% endif %}
		{% endfor %}
		</div>
		<div class="header">Type the hands of each player :</div>
		<div class="css_table">
		{{ hands_formset.management_form }}
		{% for form in hands_formset %}
			<div class="css_table-row hand">
				<div class="css_table-cell">
					Player #<span class="counter">{{ forloop.counter }}</span> >
				</div>
				<div class="css_table-cell">
					{{ form.yellow.label_tag }} : {{ form.yellow }}
				</div>
				<div class="css_table-cell">
					{{ form.blue.label_tag }} : {{ form.blue }}
				</div>
				<div class="css_table-cell">
					{{ form.red.label_tag }} : {{ form.red }}
				</div>
				<div class="css_table-cell">
					{{ form.orange.label_tag }} : {{ form.orange }}
				</div>
				<div class="css_table-cell">
					{{ form.white.label_tag }} : {{ form.white }}
				</div>
			</div>
		{% endfor %}
		</div>
		<input type="submit" value="Submit"/>
	</form>
	<script>
    $(function() {
        $('.rulecard_checkbox').button();
    });
    var selectall = true;
    $('#selectall').click(function() {
		$('.rulecard_checkbox').each(function() {
			if ($(this).attr('disabled') != 'disabled') {
				$(this).attr('checked', selectall).button('refresh');
			}
		});
		selectall = !selectall;
		$('#selectall').text(selectall ? 'Select all' : 'Deselect all');
    });
    
	var counter = $('.counter').length + 1
    $(function() {
            $('.hand').formset({
            	prefix: 		'hands',
            	addText: 		'&lt;Add a player&gt;',
            	deleteText: 	'&lt;Delete&gt;',
            	addCssClass: 	'helptext',
            	deleteCssClass: 'helptext',
            	added:			function(row) {
            						$(row).find('.counter').text(counter++);
            					},
            	removed:		function(row) {
            						counter--;
            					}
            });
    })
    </script>
{% endblock content %}