{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
	<form action="{% url 'scoring' %}" method="POST">{% csrf_token %}
		{{ formset.management_form }}
		<input type="submit" value="Submit"/>
		{% for form in formset %}
			<div class="rulecard">
				<div class="rulecard_name">{{ form.public_name.value }}</div>
				<div class="rulecard_desc">{{ form.description.value }}</div>
				{{ form.selectedRule }}
			</div>
		{% endfor %}
	</form>
{% endblock content %}