{% load filters %}
{% load staticfiles %}

{% if random_scoring %}
    <span class="helptext">These scores include at least one random element, that may or may not change the player's total and rank.
        The definitive scores will be calculated at the end of the game. Try refreshing this page to observe the score changes.</span>
{% endif %}

<h3>{{ specification }} Scores
    <span id="link_open_all_scoresheets" class="ui-icon ui-icon-circle-plus" style="display:inline-block; vertical-align: text-bottom;" title="open all"></span>
    <span id="link_close_all_scoresheets" class="ui-icon ui-icon-circle-minus" style="display:inline-block; vertical-align: text-bottom;" title="close all"></span>
</h3>
<div id="zone_scoresheets">
{% for scoresheet in scoresheets %}
    <div class="accordion{% if rank == forloop.counter %} me{% endif %}">
        <a name="player-{{ forloop.counter }}"></a>
        <h2>
            {% if forloop.counter == 1 %}
                <span class="first-player-header">Winner:
            {% elif forloop.counter == 2 %}
                <span class="second-player-header">Second place:
            {% elif forloop.counter == 3 %}
                <span class="third-player-header">Third place:
            {% else %}
                #{{ forloop.counter }}. <span>
            {% endif %}
            <strong>{% include "common/name_or_you.html" with who=scoresheet.gameplayer.player %}</strong></span>
            <span class="helptext">({{ scoresheet.total_score }} points)</span>
        </h2>
        <div class="player_scoresheet">
            <div class="grand_total">
                Grand Total: {{ scoresheet.total_score }} points
                {% if scoresheet.is_random %}
                    <span class="helptext">(this score includes random elements)</span>
                {% endif %}
            </div>

            <h3>Commodities</h3>
            <div class="table_scoresheet">
                {% for sfc in scoresheet.scores_from_commodity %}
                <div class="row_scoresheet">
                    <div class="cell_scoresheet {% cycle 'even_color' 'odd_color' as color %}">
                        {% for copy in sfc.nb_submitted_cards|as_range %}
                            {% if copy >= sfc.nb_scored_cards %}
                                {% include "common/commodity_card.html" with name=sfc.commodity.name commodity_id=sfc.commodity_id color=sfc.commodity.color extra_classes="mini_commodity_card excluded" title_note="not scored" %}
                            {% else %}
                                {% include "common/commodity_card.html" with name=sfc.commodity.name commodity_id=sfc.commodity_id color=sfc.commodity.color extra_classes="mini_commodity_card" %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="cell_scoresheet {{ color }}"><em>x {{ sfc.actual_value|default_if_none:'' }} pt{{ sfc.actual_value|pluralize }} each</em></div>
                    <div class="cell_scoresheet {{ color }} points">{% if sfc.score != None %}= <strong>{{ sfc.score }} pt{{ sfc.score|pluralize }}</strong>{% endif %}</div>
                </div>
                {% endfor %}
            </div>

            <h3>Bonus &amp; Penalties</h3>
            {% if scoresheet.scores_from_rule %}
                <div class="table_scoresheet">
                {% for sfr in scoresheet.scores_from_rule %}
                    <div class="row_scoresheet">
                        <div class="cell_scoresheet {% cycle 'even_color' 'odd_color' as color %}">
                            <div class="rulecard_thumbnail" title="Rulecard {{ sfr.rulecard.public_name }}">{{ sfr.rulecard.public_name }}</div>
                        </div>
                        <div class="cell_scoresheet {{ color }}">{{ sfr.detail }}</div>
                        <div class="cell_scoresheet {{ color }} points">{% if sfr.score != None %}<strong>{{ sfr.score|stringformat:'+ d' }} pt{{ sfr.score|pluralize }}{% endif %}</strong></div>
                        {% if sfr.is_random %}
                            <div class="cell_scoresheet" data-tip="this rule introdudes a random element">
                                <img src="{% static "warning.png" %}" height="16" width="16" alt=""/>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <em>No applicable rules</em><br/>
            {% endif %}

            {# TODO: player's known rulecards #}

        </div>
        <br/>
    </div>
{% endfor %}
</div>

<script>
    $(function() {
        $("#zone_scoresheets > .accordion").accordion({ header: "h2", collapsible: true, active: false });
        $("#link_open_all_scoresheets").tooltip().on("click", function() {
            $("#zone_scoresheets > .accordion").accordion({active: 0});
        });
        $("#link_close_all_scoresheets").tooltip().on("click", function() {
            $("#zone_scoresheets > .accordion").accordion({active: false});
        });
    });
</script>

