{% load filters %}
{% load staticfiles %}

{% if random_scoring %}
    <span class="helptext">These scores include at least one random element, that may or may not change the player's total and rank.
        The definitive scores will be calculated at the end of the game. Try refreshing this page to observe the score changes.</span>
{% endif %}

<h3>{{ specification }} Scores
    <span class="helptext">Click to see score details</span>
    <div class="note">
        <span id="link_close_all_scoresheets" class="selectable ui-icon ui-icon-circle-minus" style="display:inline-block; vertical-align: text-bottom;" title="close all"></span>
        <span id="link_open_all_scoresheets" class="selectable ui-icon ui-icon-circle-plus" style="display:inline-block; vertical-align: text-bottom;" title="open all"></span>
    </div>
</h3>
<div id="zone_scoresheets">
{% for scoresheet in scoresheets %}
    <div class="player {% if rank == forloop.counter %} me{% endif %}">
        <div class="score_header">
            <span class="ui-icon ui-icon-triangle-1-e"></span>
            {% if forloop.counter == 1 %}
                <span class="first-player">Winner:
            {% elif forloop.counter == 2 %}
                <span class="second-player">Second place:
            {% elif forloop.counter == 3 %}
                <span class="third-player">Third place:
            {% else %}
                <span class="other-players">#{{ forloop.counter }}.
            {% endif %}
            <strong>{% include "common/name_or_you.html" with who=scoresheet.gameplayer.player %}</strong></span>
            <span class="helptext">({{ scoresheet.total_score }} points)</span>
        </div>
        <div class="player_scoresheet">
            <div class="grand_total">
                Grand Total: {{ scoresheet.total_score }} points
                {% if scoresheet.is_random %}
                    <span class="helptext">(this score includes random elements)</span>
                {% endif %}
            </div>

            <h3>Commodities</h3>
            <div class="table_scoresheet">
                {% for sfc in scoresheet.scores_from_commodity %}
                <div class="row_scoresheet {{forloop.counter0|divisibleby:2|yesno:"even_color,odd_color"}}">
                    <div class="cell_scoresheet">
                        {% for copy in sfc.nb_submitted_cards|as_range %}
                            {% if copy >= sfc.nb_scored_cards %}
                                {% include "common/commodity_card.html" with commodity=sfc.commodity extra_classes="mini_commodity_card excluded" title_note="not scored" %}
                            {% else %}
                                {% include "common/commodity_card.html" with commodity=sfc.commodity extra_classes="mini_commodity_card" %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="cell_scoresheet"><em>x {{ sfc.actual_value|default_if_none:'' }} pt{{ sfc.actual_value|pluralize }} each</em></div>
                    <div class="cell_scoresheet points">{% if sfc.score != None %}= <strong>{{ sfc.score }} pt{{ sfc.score|pluralize }}</strong>{% endif %}</div>
                </div>
                {% endfor %}
            </div>

            <h3>Bonus &amp; Penalties</h3>
            {% if scoresheet.scores_from_rule %}
                <div class="table_scoresheet">
                {% for sfr in scoresheet.scores_from_rule %}
                    <div class="row_scoresheet {{forloop.counter0|divisibleby:2|yesno:"even_color,odd_color"}}">
                        <div class="cell_scoresheet">
                            <div class="rulecard_thumbnail" title="Rulecard {{ sfr.rulecard.public_name }}">{{ sfr.rulecard.public_name }}</div>
                        </div>
                        <div class="cell_scoresheet">{{ sfr.detail }}</div>
                        <div class="cell_scoresheet points">{% if sfr.score != None %}<strong>{{ sfr.score|stringformat:'+ d' }} pt{{ sfr.score|pluralize }}{% endif %}</strong></div>
                        {% if sfr.is_random %}
                        <div class="cell_scoresheet">
                            <img src="{% static "warning.png" %}" height="16" width="16" alt="" title="this rule introduces a random element"/>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <em>No applicable rules</em>
            {% endif %}

            <h3>Rules Known By This Player</h3>
            {% if scoresheet.known_rules %}
                <div class="known_rules">
                    {% for rih in scoresheet.known_rules %}
                    <div class="rulecard_thumbnail" title="{{ rih.rulecard.description }}">{{ rih.rulecard.public_name }}</div>
                    {% endfor %}
                </div>
            {% else %}
                <em>No known rules</em>
            {% endif %}

        </div>
        <br/>
    </div>
{% endfor %}
</div>

<script>
    var zoneScoresheets = $("#zone_scoresheets");

    zoneScoresheets.find(".score_header").on("click", function(event) {
        var zonePlayer = $(event.target).parents(".player");
        zonePlayer.find(".player_scoresheet").slideToggle();
        zonePlayer.find(".ui-icon").toggleClass("ui-icon-triangle-1-e ui-icon-triangle-1-s");
    });

    $("#link_open_all_scoresheets").tooltip().on("click", function() {
        zoneScoresheets.find(".player_scoresheet").slideDown();
        zoneScoresheets.find(".ui-icon").toggleClass("ui-icon-triangle-1-s", true).toggleClass("ui-icon-triangle-1-e", false);
    });
    $("#link_close_all_scoresheets").tooltip().on("click", function() {
        zoneScoresheets.find(".player_scoresheet").slideUp();
        zoneScoresheets.find(".ui-icon").toggleClass("ui-icon-triangle-1-s", false).toggleClass("ui-icon-triangle-1-e", true);
    });

    $(function() { // document ready
        zoneScoresheets.find(".player_scoresheet").hide();

        zoneScoresheets.find(".known_rules").find(".rulecard_thumbnail").tooltip();
    });
</script>

