{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.rules.css' %}" />
{% endblock %}

{% block content %}
    <div id="other_languages"><a href="{% url 'rules_lang' 'fr' %}">En français ?</a></div>

    <div id="etiquette">
        <h2>Etiquette</h2>

        <p>The following rules of conduct must be respected at all times. Should you break them, your account may be suspended or deleted.</p>
        <p>Those items are big NO-NOs that have been identified. They are <em>not</em> comprehensive, and new ones will be added as needed.
            If your case is not specified in the list, ask yourself if it respects the <em>Zen of MysTrade</em>:
            <div id="idea"><strong>Be a respectful human being and don't spoil the fun of others.</strong></div>
            If there's still a doubt, <a href="&#109;ailto&#58;hello&#64;mystra&#46;de">ask the administrator</a>.</p>

        <h3>Rules of conduct</h3>
        <ol>
            <li><strong>Insults.</strong> Do not post any racist, sexist, antisemitic, homophobic, transphobic, derogatory, defamatory or insulting words.
                No religion, no politics. If you need to express criticism, do it in the most constructing and caring fashion.
                All of this is applicable both to public and to private exchanges.</li>
            <li><strong>Impatience.</strong> Do not publicly criticize people for refusing to interact with you, or being slow to do so. They may have good
                reasons, either in game or in real life.<br>
                What you can do: i) cancel the trade; ii) contact the person in private (see previous rule then);
                iii) contact the <a href="&#109;ailto&#58;hello&#64;mystra&#46;de">administrator</a>.<br>
                Conversely, always respond to in-game requests as quickly as you can (even if just to decline them).</li>
            <li><strong>Rule Cards.</strong> Do not include the text of a rule card (in full or even in part) in a public post. It breaks the spirit of the game.</li>
        </ol>

        <p id="lastUpdated">Last updated: nov. 19th, 2013</p>
    </div>

    <h2>Mystrade Rules</h2>

    <div class="image_right"><img src="{% static 'propaganda/animals_commodities.png' %}" alt="screenshot of a player's hand with commodities" width="240"/></div>

    <h3>Objective</h3>

    <p>At the beginning of a game, each player gets a random hand of cards, from two categories:</p>
    <ul>
        <li>Ten Commodity cards, of variable worth;</li>
        <li>Two Rule cards (out of a larger set, defined by the game master).</li>
    </ul>

    <p>The objective is to have, at the end of the game, the most valuable combination of <strong>commodity</strong> cards.
    The catch is that players know only a part of the rules at the start, but their points will be computed from the whole set of rules available in
    the game !</p>

    <p>The number of rules used in a game is initially secret, but each rule is identified by a number, and at least two copies of each are dealt randomly
    to all players at the start of the game.</p>

    <h3>Trades</h3>

    <p>Trades of cards are the way by which players seek to fulfill their two objectives: learning the content of as many <strong>rule</strong> cards as
    possible, and gathering the most valuable set of <strong>commodity</strong> cards. Each player involved in a tentative trade submits to the other an
    offer including as many cards (commodities and/or rules), and as many &laquo; free informations &raquo;, as wished. Any kind of deal is permitted,
    as long as it satisfies both players; the number of trades occuring during a game is not limited.</p>

    <div class="image_left"><img src="{% static 'propaganda/animals_trade.png' %}" alt="screenshot of a trade proposal" width="300"/></div>

    <p>As long as a trade has not been accepted by both players, they can only see from each other's offer:
        <ul style="overflow: hidden;">
            <li>the list of commodities,</li>
            <li>the <em>number</em> of the offered rules,</li>
            <li>and whether a free information has been provided or not.</li>
        </ul>
    The <em>full text</em> of the rules and of the free information will be  revealed only once both players have accepted the other one's offer.<br/>
    A player can always add a comment to the submitted offer, and that piece of text will be immediately visible by the other player. Such a comment could
    clarify the subject of the hidden elements of the offer, and/or specify what is expected back for it, etc.</p>

    <h3>End of the Game</h3>

    <p>Every game is created with a start date and an end date. When the end date is reached, no trades can be performed anymore,
    even those which were already initiated but not accepted by both players: they will be cancelled.
    Using the commodity cards each player has handed in, the scores are computed when the game master decides to do so.</p>

    <p>A player can hand in a set of commodities excluding some owned cards if it is believed that this will make the hand
    more valuable. The players must choose to do this <strong>before the game's end date</strong> ; those who won't opt to do it
    before that date will automatically hand in <em>all</em> their commodity cards.</p>

    <h3>Rules Example</h3>

    <p>Each player knows only some of these cards at the start of the game.</p>

    <div style="display: inline-block;">
        <div class="rulecard">
            <div class="container">
                <div class="rulecard_name">1</div>
                <div class="rulecard_desc">Mice are worth one point each.</div>
            </div>
        </div>
        <div class="rulecard">
            <div class="container">
                <div class="rulecard_name">2</div>
                <div class="rulecard_desc">Cats and dogs are both worth two points per card.</div>
            </div>
        </div>
        <div class="rulecard">
            <div class="container">
                <div class="rulecard_name">3</div>
                <div class="rulecard_desc">A sheep card is worth three mouse cards.</div>
            </div>
        </div>
        <div class="rulecard">
            <div class="container">
                <div class="rulecard_name">4</div>
                <div class="rulecard_desc">Each cat cancels one mouse card, which then isn't worth any points.</div>
            </div>
        </div>
        <div class="rulecard">
            <div class="container">
                <div class="rulecard_name">5</div>
                <div class="rulecard_desc">Each set of a dog card and a sheep card gives a bonus of three points.</div>
            </div>
        </div>
        <div class="rulecard">
            <div class="container">
                <div class="rulecard_name">6</div>
                <div class="rulecard_desc">There's no accomodation for more than six animals in your farm. If you hand in more than six cards at the end of the game, some cards will be removed randomly until there are only six left.</div>
            </div>
        </div>
    </div>

    <h3>Scores Example</h3>

    <div class="player">
        <div class="score_header"><div class="game-player other-players">Annie</div></div>
        <div class="player_scoresheet">
            <h3>Scored Commodities</h3>
            <div class="table_scoresheet">
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_cat.png' %}"/><img src="{% static 'propaganda/animals_card_cat.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 2 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>4 pts</strong></div>
                </div>
                <div class="row_scoresheet odd_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_dog.png' %}"/><img src="{% static 'propaganda/animals_card_dog.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 2 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>4 pts</strong></div>
                </div>
            </div>

            <h3>Bonus &amp; Penalties</h3>
            <em>No applicable rules</em>

            <h3 class="grand_total">Grand Total: 8 points</h3>
        </div>
    </div>

    <div class="player">
        <div class="score_header"><div class="game-player other-players">Benjamin</div></div>
        <div class="player_scoresheet">
            <h3>Scored Commodities</h3>
            <div class="table_scoresheet">
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_mouse.png' %}"/><img src="{% static 'propaganda/animals_card_mouse.png' %}"/><img src="{% static 'propaganda/animals_card_mouse.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 1 pt each</em></div>
                    <div class="cell_scoresheet points">= <strong>3 pts</strong></div>
                </div>
                <div class="row_scoresheet odd_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_cat.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 2 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>2 pts</strong></div>
                </div>
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_dog.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 2 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>2 pts</strong></div>
                </div>
            </div>

            <h3>Bonus &amp; Penalties</h3>
            <div class="table_scoresheet">
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet">
                        <div class="rulecard_thumbnail" title="Each cat cancels one mouse card, which then isn't worth any points.">4</div>
                    </div>
                    <div class="cell_scoresheet">Your cat has eaten a mouse, which will not bring you any points.</div>
                    <div class="cell_scoresheet points"><strong>-1 pt</strong></div>
                </div>
            </div>

            <h3 class="grand_total">Grand Total: 6 points</h3>
        </div>
    </div>

    <div class="player">
        <div class="score_header"><div class="game-player other-players">Chloë</div></div>
        <div class="player_scoresheet">
            <div><em>Note :</em> <strong>Chloë</strong> didn't know rule
                <div class="rulecard_thumbnail" title="There's no accomodation for more than six animals in your farm. If you hand in more than six cards at the end of the game, some cards will be removed randomly until there are only six left.">6</div>,
                so she has handed in her whole hand of 7 cards at the end of the game.</div>
            <h3>Scored Commodities</h3>
            <div class="table_scoresheet">
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_mouse.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 1 pt each</em></div>
                    <div class="cell_scoresheet points">= <strong>1 pt</strong></div>
                </div>
                <div class="row_scoresheet odd_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_cat.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 2 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>2 pts</strong></div>
                </div>
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_dog.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 2 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>2 pts</strong></div>
                </div>
                <div class="row_scoresheet odd_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_sheep.png' %}"/><img src="{% static 'propaganda/animals_card_sheep.png' %}"/><img src="{% static 'propaganda/animals_card_sheep.png' %}"/><img src="{% static 'propaganda/animals_card_sheep.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 3 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>12 pts</strong></div>
                </div>
            </div>

            <h3>Bonus &amp; Penalties</h3>
            <div class="table_scoresheet">
               <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet">
                        <div class="rulecard_thumbnail" title="There's no accomodation for more than six animals in your farm. If you hand in more than six cards at the end of the game, some cards will be removed randomly until there are only six left.">6</div>
                    </div>
                    <div class="cell_scoresheet">Your farm cannot accomodate more than 6 animals. Since you handed in 7 card(s), 1 have been discarded: 1 sheep card.</div>
                    <div class="cell_scoresheet points"><strong>-3 pts</strong></div>
                </div>
                <div class="row_scoresheet odd_color">
                    <div class="cell_scoresheet">
                        <div class="rulecard_thumbnail" title="Each cat cancels one mouse card, which then isn't worth any points.">4</div>
                    </div>
                    <div class="cell_scoresheet">Your cat has eaten a mouse, which will not bring you any points.</div>
                    <div class="cell_scoresheet points"><strong>-1 pt</strong></div>
                </div>
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet">
                        <div class="rulecard_thumbnail" title="Each set of a dog card and a sheep card gives a bonus of three points.">5</div>
                    </div>
                    <div class="cell_scoresheet">Your dog is guarding a sheep.</div>
                    <div class="cell_scoresheet points"><strong>+3 pts</strong></div>
                </div>
            </div>

            <h3 class="grand_total">Grand Total: 16 points</h3>
        </div>
    </div>

    <div class="player">
        <div class="score_header"><div class="game-player other-players">Dorian</div></div>
        <div class="player_scoresheet">
            <div><em>Note :</em> <strong>Dorian</strong> had 3 cats but he opted to hand in only one of them because he knew rule
                <div class="rulecard_thumbnail" title="There's no accomodation for more than six animals in your farm. If you hand in more than six cards at the end of the game, some cards will be removed randomly until there are only six left.">6</div>
                and he didn't want to risk losing sheeps (as happened to <strong>Chloë</strong>).</div>
            <h3>Scored Commodities</h3>
            <div class="table_scoresheet">
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_cat.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 2 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>2 pts</strong></div>
                </div>
                <div class="row_scoresheet odd_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_dog.png' %}"/><img src="{% static 'propaganda/animals_card_dog.png' %}"/><img src="{% static 'propaganda/animals_card_dog.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 2 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>6 pts</strong></div>
                </div>
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_sheep.png' %}"/><img src="{% static 'propaganda/animals_card_sheep.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 3 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>6 pts</strong></div>
                </div>
            </div>

            <h3>Bonus &amp; Penalties</h3>
            <div class="table_scoresheet">
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet">
                        <div class="rulecard_thumbnail" title="Each set of a dog card and a sheep card gives a bonus of three points.">5</div>
                    </div>
                    <div class="cell_scoresheet">Your 2 dogs are each guarding a sheep.</div>
                    <div class="cell_scoresheet points"><strong>+6 pts</strong></div>
                </div>
            </div>

            <h3 class="grand_total">Grand Total: 20 points</h3>
        </div>
    </div>

    <h4>Conclusion : Dorian wins this game.</h4>

{% endblock %}