{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.rules.css' %}" />
{% endblock %}

{% block content %}
    <div id="other_languages"><a href="{% url 'rules_lang' 'en' %}">In English ?</a></div>

    <h2>R&egrave;gles du jeu</h2>

    <div class="image_right"><img src="{% static 'propaganda/animals_commodities.png' %}" alt="screenshot of a player's hand with commodities" width="240"/></div>

    <h3>Principes</h3>

    <p>Au début d'une partie, chaque joueur reçoit une main aléatoire de cartes, réparties en deux catégories :</p>
    <ul>
        <li>Dix cartes biens (<em>commodities</em>) ;</li>
        <li>Deux cartes règles (<em>rules</em>).</li>
    </ul>

    <p>Le but du jeu est de rassembler à la fin de la partie la combinaison de cartes <strong>biens</strong> qui rapportera le plus de points.
    Cependant, la valeur d'une main ne peut être déterminée qu'à partir de l'ensemble des règles présentes dans le jeu (voir un exemple en bas de page).
    En d'autres termes, en début de partie chaque joueur ne connaît qu'une fraction des règles du jeu !</p>

    <p>Le nombre de règles en jeu est initialement secret, mais chacune d'entre elles est numérotée et présente en un minimum de deux exemplaires,
    répartis aléatoirement entre tous les joueurs.</p>

    <h3>Echanges</h3>

    <p>Les joueurs poursuivent leurs deux objectifs parallèles d'obtention d'informations sur les règles et de constitution d'une main optimale
    en proposant à leurs adversaires de réaliser des échanges (<em>trades</em>). Chacun des deux joueurs impliqués dans un projet d'échange
    soumet à l'autre une offre contenant autant de cartes (biens et/ou règles), ainsi que d' &laquo; informations libres &raquo; (<em>free informations</em>),
    qu'il le souhaite. Tout type d'accord est permis tant qu'il satisfait les deux joueurs, et le nombre d'échanges durant une partie n'est pas limité.</p>

    <div class="image_left"><img src="{% static 'propaganda/animals_trade.png' %}" alt="screenshot of a trade proposal" width="300"/></div>

    <p>Tant que l'échange n'a pas été accepté par les deux joueurs, chacun ne visualise dans l'offre de l'autre partie que les biens,
    le <em>numéro</em> des règles, et la présence ou non d'une information libre. Le <em>détail</em> des règles et de l'information libre ne sont révélés
    qu'après acceptation mutuelle des deux offres. Il est toutefois possible d'accompagner son offre d'un commentaire, visible immédiatement
    par l'autre joueur, afin d'apporter des précisions sur ces éléments cachés ou de détailler ses souhaits pour l'offre en retour.</p>

    <h3>Fin de partie</h3>

    <p>Chaque partie est définie avec une date et heure de fin (<em>end date</em>) ; lorsque celle-ci est atteinte, plus aucun échange ne peut être
    réalisé (y compris les échanges encore non acceptés par les deux joueurs, qui ne pourront pas être menés à leur terme). Le score des
    joueurs sera alors calculé, sur impulsion du maître du jeu (<em>game master</em>), à partir de la main que chacun a soumis.</p>

    <p>Si un joueur estime que son score sera meilleur en excluant certains biens qu'il possède, ce joueur peut rendre sa main
    <strong>avant la date de fin</strong> de la partie en choisissant quelles cartes sont remises au maître du jeu. Les joueurs qui
    n'auront pas pris cette initiative à la date de fin soumettront automatiquement toutes les cartes biens de leur main.</p>

    <h3>Exemple de règles</h3>

    <p>Chaque joueur ne connait qu'une partie de ces cartes au début de la partie.</p>

    <div style="display: inline-block;">
        <div class="rulecard">
            <div class="container">
                <div class="rulecard_name">1</div>
                <div class="rulecard_desc">Les cartes "souris" valent un point.</div>
            </div>
        </div>
        <div class="rulecard">
            <div class="container">
                <div class="rulecard_name">2</div>
                <div class="rulecard_desc">Les biens "chien" et "chat" valent deux points chacun.</div>
            </div>
        </div>
        <div class="rulecard">
            <div class="container">
                <div class="rulecard_name">3</div>
                <div class="rulecard_desc">Une carte "mouton" vaut trois fois le nombre de points d'une carte "souris".</div>
            </div>
        </div>
        <div class="rulecard">
            <div class="container">
                <div class="rulecard_name">4</div>
                <div class="rulecard_desc">Chaque carte "chat" annule une carte "souris", qui ne vaut plus aucun point.</div>
            </div>
        </div>
        <div class="rulecard">
            <div class="container">
                <div class="rulecard_name">5</div>
                <div class="rulecard_desc">Chaque ensemble d'une carte "mouton" et d'une carte "chien" rapporte un bonus de trois points.</div>
            </div>
        </div>
        <div class="rulecard">
            <div class="container">
                <div class="rulecard_name">6</div>
                <div class="rulecard_desc">Il n'y a pas de place pour plus de six animaux dans votre ferme. Si votre main comporte plus de six cartes, on en retirera au hasard jusqu'à ce qu'il n'en reste que six.</div>
            </div>
        </div>
    </div>

    <h3>Exemple de scores</h3>

    <div class="player">
        <div class="score_header"><div class="game-player other-players">Annie</div></div>
        <div class="player_scoresheet">
            <h3>Main rendue</h3>
            <div class="table_scoresheet">
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_cat.png' %}"/><img src="{% static 'propaganda/animals_card_cat.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 2 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>4 pts</strong></div>
                </div>
                <div class="row_scoresheet odd_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_dog.png' %}"/><img src="{% static 'propaganda/animals_card_dog.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 2 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>4 pts</strong></div>
                </div>
            </div>

            <h3>Bonus &amp; Penalties</h3>
            <em>No applicable rules</em>

            <h3 class="grand_total">Grand Total: 8 points</h3>
        </div>
    </div>

    <div class="player">
        <div class="score_header"><div class="game-player other-players">Benjamin</div></div>
        <div class="player_scoresheet">
            <h3>Main rendue</h3>
            <div class="table_scoresheet">
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_mouse.png' %}"/><img src="{% static 'propaganda/animals_card_mouse.png' %}"/><img src="{% static 'propaganda/animals_card_mouse.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 1 pt each</em></div>
                    <div class="cell_scoresheet points">= <strong>3 pts</strong></div>
                </div>
                <div class="row_scoresheet odd_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_cat.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 2 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>2 pts</strong></div>
                </div>
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_dog.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 2 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>2 pts</strong></div>
                </div>
            </div>

            <h3>Bonus &amp; Penalties</h3>
            <div class="table_scoresheet">
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet">
                        <div class="rulecard_thumbnail" title="Chaque carte 'chat' annule une carte 'souris', qui ne vaut plus aucun point.">4</div>
                    </div>
                    <div class="cell_scoresheet">Votre chat a mangé une des souris, qui ne vaut donc plus de points.</div>
                    <div class="cell_scoresheet points"><strong>-1 pt</strong></div>
                </div>
            </div>

            <h3 class="grand_total">Grand Total: 6 points</h3>
        </div>
    </div>

    <div class="player">
        <div class="score_header"><div class="game-player other-players">Chloë</div></div>
        <div class="player_scoresheet">
            <div><em>Note :</em> <strong>Chloë</strong> ne connaissait pas la règle
                <div class="rulecard_thumbnail" title="Il n'y a pas de place pour plus de six animaux dans votre ferme. Si votre main comporte plus de six cartes, on en retirera au hasard jusqu'à ce qu'il n'en reste que six.">6</div>,
                elle a donc rendu l'ensemble de ses 7 cartes à la fin de la partie.</div>
            <h3>Main rendue</h3>
            <div class="table_scoresheet">
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_mouse.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 1 pt each</em></div>
                    <div class="cell_scoresheet points">= <strong>1 pt</strong></div>
                </div>
                <div class="row_scoresheet odd_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_cat.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 2 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>2 pts</strong></div>
                </div>
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_dog.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 2 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>2 pts</strong></div>
                </div>
                <div class="row_scoresheet odd_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_sheep.png' %}"/><img src="{% static 'propaganda/animals_card_sheep.png' %}"/><img src="{% static 'propaganda/animals_card_sheep.png' %}"/><img src="{% static 'propaganda/animals_card_sheep.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 3 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>12 pts</strong></div>
                </div>
            </div>

            <h3>Bonus &amp; Penalties</h3>
            <div class="table_scoresheet">
               <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet">
                        <div class="rulecard_thumbnail" title="Il n'y a pas de place pour plus de six animaux dans votre ferme. Si votre main comporte plus de six cartes, on en retirera au hasard jusqu'à ce qu'il n'en reste que six.">6</div>
                    </div>
                    <div class="cell_scoresheet">La ferme ne peut pas héberger plus de 6 animaux. 1 carte est retirée au hasard : 1 mouton.</div>
                    <div class="cell_scoresheet points"><strong>-3 pts</strong></div>
                </div>
                <div class="row_scoresheet odd_color">
                    <div class="cell_scoresheet">
                        <div class="rulecard_thumbnail" title="Chaque carte 'chat' annule une carte 'souris', qui ne vaut plus aucun point.">4</div>
                    </div>
                    <div class="cell_scoresheet">Votre chat a mangé une des souris, qui ne vaut donc plus de points.</div>
                    <div class="cell_scoresheet points"><strong>-1 pt</strong></div>
                </div>
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet">
                        <div class="rulecard_thumbnail" title="Chaque ensemble d'une carte 'mouton' et d'une carte 'chien' rapporte un bonus de trois points.">5</div>
                    </div>
                    <div class="cell_scoresheet">Votre chien garde un mouton.</div>
                    <div class="cell_scoresheet points"><strong>+3 pts</strong></div>
                </div>
            </div>

            <h3 class="grand_total">Grand Total: 16 points</h3>
        </div>
    </div>

    <div class="player">
        <div class="score_header"><div class="game-player other-players">Dorian</div></div>
        <div class="player_scoresheet">
            <div><em>Note :</em> <strong>Dorian</strong> possédait 3 chats mais a choisi de soumettre sa main en excluant deux félins,
                car elle connaissait la règle
                <div class="rulecard_thumbnail" title="Il n'y a pas de place pour plus de six animaux dans votre ferme. Si votre main comporte plus de six cartes, on en retirera au hasard jusqu'à ce qu'il n'en reste que six.">6</div>
                et ne voulait pas prendre le risque de perdre des moutons, comme <strong>Chloë</strong>.</div>
            <h3>Main rendue</h3>
            <div class="table_scoresheet">
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_cat.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 2 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>2 pts</strong></div>
                </div>
                <div class="row_scoresheet odd_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_dog.png' %}"/><img src="{% static 'propaganda/animals_card_dog.png' %}"/><img src="{% static 'propaganda/animals_card_dog.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 2 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>6 pts</strong></div>
                </div>
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet"><img src="{% static 'propaganda/animals_card_sheep.png' %}"/><img src="{% static 'propaganda/animals_card_sheep.png' %}"/></div>
                    <div class="cell_scoresheet"><em>x 3 pts each</em></div>
                    <div class="cell_scoresheet points">= <strong>6 pts</strong></div>
                </div>
            </div>

            <h3>Bonus &amp; Penalties</h3>
            <div class="table_scoresheet">
                <div class="row_scoresheet even_color">
                    <div class="cell_scoresheet">
                        <div class="rulecard_thumbnail" title="Chaque ensemble d'une carte 'mouton' et d'une carte 'chien' rapporte un bonus de trois points.">5</div>
                    </div>
                    <div class="cell_scoresheet">Vos 2 chiens gardent chacun un mouton.</div>
                    <div class="cell_scoresheet points"><strong>+6 pts</strong></div>
                </div>
            </div>

            <h3 class="grand_total">Grand Total: 20 points</h3>
        </div>
    </div>

    <h4>Résultat : Dorian gagne cette partie.</h4>

{% endblock %}