body {
	background-color: #ffb500;
	margin: 5px 0 0 20px;
}

.toplinks {
	top: 2px;
	text-align: right;
	margin-bottom: -20px;
}

.logobox {
	width: 422px;
  	top: 10px;
}
.logobox .motto {
	position: relative;
	top: -10px;
	left: 15px;
	font-family: "Garamond", "Times New Roman", serif;
	font-size: 1.3em;
	font-style: italic;
	letter-spacing: 7px;
}
