body {
	background-color: #FFB600;
	width: 980px;
	margin: 5px auto 0 auto;
  	font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
	font-size: 10pt;
}

a img, .icon {
	border: 0px;
	vertical-align: text-top;
}

.toplinks {
	top: 2px;
	text-align: right;
	margin-bottom: -20px;
	margin-right: 20px;
}

.logobox {
	width: 422px;
  	top: 10px;
}
.logobox .motto {
	position: relative;
	top: -10px;
	left: 15px;
	font-family: "Garamond", "Times New Roman", serif;
	font-size: 1.3em;
	font-style: italic;
	color: black;
	letter-spacing: 7px;
}
.logobox a:hover {
	text-decoration: none;
}

.content {
	padding: 10px;
}

.fullwidth {
	width: 960px;
}

.header {
	line-height: 1.6em;
	background-color: #FFE640;
	padding-left: 2em;
}

.formtable tr {
	line-height: 1.5em;
}

.formtable th {
	width: 230px;
	font-weight: normal;
	padding-right: 1em;
	text-align: right;
	vertical-align: text-top;
}

.formtable .label, .formtable label {
	color: #333333;
}

.helptext {
	font-size: 8pt;
	font-style: italic;
	color: #A67600;
}

.brhelptext {
	font-size: 8pt;
	font-style: italic;
	color: #A67600;
	display: block;
	margin-top: -0.6em;
}

input[type="text"], input[type="password"], textarea, select {
	border:1px solid #FFD773;
}

input, textarea, select {
	font-family: inherit;
	font-size: 10px;
	font-weight: normal;
	background-color: #FAFFBD;
	margin: 2px 0;
	padding: 2px 3px;
}

select {
	height: 2em;
}
select[multiple] {
	height: auto;
}

input[type="submit"] {
	background-color: #DDDDDD;
}

.submit-button {
	margin-left: 250px;
}

.errors {
	font-size: 0.8em;
	color: #A67600;
}

.floatright {
	float: right;
	margin-right: 1em;
}

.frame {
	border: thin inset white;
	padding: 2px;
}

.rulecard {
	position: relative;
	padding: 5px;
	border: 1px solid #FFD773;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	width: 225px;
	height: 170px;
}

.rulecard.with_button {
	height: 200px;
}

.rulecard_name {
	font-size: 1.5em;
	weight: bold;
	padding: 3px;
}

.rulecard_desc {
	padding: 3px;
}

.rulecard_select {
	width: 220px;
	text-align: center;	
}

.css_table {
	display: table;
	border-spacing: 2px;
}

.css_table-row {
	display: table-row;
}

.css_table-cell {
	display: table-cell;
}

.colored {
	background-color: #FFA500;
	padding: 1px 4px;
}

.score {
	min-width: 4em;
	text-align: right;
}

.align_to_bottom {
	position: absolute;
	bottom: 5px;
}

a, .dynamic_link {
	color: #800024;
	font-weight: normal;
	text-decoration: none;
}

a:hover, .dynamic_link:hover {
	text-decoration:underline;
	cursor: pointer;
}

.ui-datepicker-trigger {
	position: relative;
	top: 4px;
	left: 2px;
}