body {
	background-color: #FFB600;
	width: 980px;
	margin: 5px auto 0 auto;
  	font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
	font-size: 11pt;
}

.toplinks {
	top: 2px;
	text-align: right;
	margin-bottom: -20px;
	margin-right: 20px;
}

.logobox {
	width: 422px;
  	top: 10px;
}
.logobox .motto {
	position: relative;
	top: -10px;
	left: 15px;
	font-family: "Garamond", "Times New Roman", serif;
	font-size: 1.3em;
	font-style: italic;
	letter-spacing: 7px;
}

.content {
	border: 1px solid #FFD773;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.content table {
	width: 960px;
}

.content tr {
	line-height: 1.5em;
}

.content .header {
	line-height: 1.2em;
	background-color: #FFE640;
	padding-left: 2em;
}

.content th {
	width: 230px;
	font-weight: normal;
	padding-right: 1em;
	text-align: right;
	vertical-align: text-top;
}

.content .label, .content label {
	color: #333333;
}

.helptext {
	font-size: 8pt;
	font-style: italic;
}

.brhelptext {
	font-size: 8pt;
	font-style: italic;
	display: block;
	margin-top: -0.6em;
}

input[type="text"], input[type="password"], textarea, select {
	border:1px solid #FFD773;
}

input, textarea, select {
	font-family: inherit;
	font-size: 11px;
	font-weight: normal;
	background-color: #FAFFBD;
	margin: 2px 0;
	padding: 2px 3px;
}

input[type="submit"] {
	background-color: #DDDDDD;
}

.submit-button {
	margin-left: 250px;
}

.errors {
	font-size: 0.8em;
	color: #A67600;
}

.blank {
	font-style: italic;
	font-size: 0.8em;
	color: #A67600;
}

.floatright {
	float: right;
	margin-right: 1em;
}

.frame {
	border: thin inset white;
	padding: 2px;
}

a {
	color: #800024;
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}