@import "common";

/* Base tags styling */
body {
  background-color: $backgroundColor;
  width: 980px;
  margin: 5px auto 0 auto;
  @include font(('Lucida Grande', Verdana, Arial, sans-serif), 9pt);
}

h3 {
  margin: 4px 0;
  @include font($size: 10pt);
}

a, .dynamic_link {
  color: #800024;
  @include font($weight: normal);
  text-decoration: none;

  &.game-player {
    font-weight: inherit;
    color: darkgreen;
  }
}

a:hover, .dynamic_link:hover {
  text-decoration: underline;
  cursor: pointer;
}

a img, .icon {
  border: 0px;
  vertical-align: text-top;
}

input[type="text"], input[type="password"], textarea, select {
  border: $lightSolidBorder;
}

input, textarea, select {
  @include font($size: 10px, $weight: normal);
  background-color: #FAFFBD;
  margin: 2px 0;
  padding: 2px 3px;
}

select {
  height: 2em;
}
select[multiple] {
  height: auto;
}

input[type="submit"] {
  background-color: #DDDDDD;
}

textarea {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  width: 100%;
}

/* Page structure */
#zone_toplinks {
  top: 2px;
  text-align: right;
  margin-bottom: -20px;
  margin-right: 20px;
}

#zone_logobox {
  width: 422px;
  top: 10px;

  #zone_motto {
    position: relative;
    top: -10px;
    left: 15px;
    @include font(("Garamond", "Times New Roman", serif), 1.4em, $style: italic);
    color: black;
    letter-spacing: 7px;
  }

  a:hover {
    text-decoration: none;
  }
}

#zone_content {
  padding: 10px;
}

/* Miscellaneous common styles */
.helptext {
  @include font($size: 8pt, $style: italic, $weight: normal);
  color: $infoTextColor;
}

.upperhelptext {
  @extend .helptext;
  display: block;
  margin-top: -0.6em;
}

.lowerhelptext {
  @extend .helptext;
  display: block;
  margin-top: 0.4em;
}

.game-player {
  display: inline;
  border: $lightSolidBorder;
  @include roundedBorder(5px);
  padding: 0 3px;
  margin: 0 2px;
  line-height: 20px;

  &:hover {
    background-color: $lightBackgroundColor;
  }
}

$heightOfCommodityCards: 50px;
$marginOfCommodityCards: 3px;
.commodity_card {
  display: inline-block;
  @include roundedBorder(2px);
  width: 25px;
  height: $heightOfCommodityCards;
  margin: $marginOfCommodityCards;

  &.excluded {
    background: url(../stripe.png);
  }

  &.card_selected {
    border: gray solid 3px;
    margin: 0;
    @include roundedBorder(4px);
  }
}

$widthOfRuleCards: 235px;
$marginOfRuleCards: 3px;
$horizontalPaddingOfRuleCards: 8px;
.rulecard {
  border: $lightSolidBorder;
  @include roundedBorder(10px);
  float: left;
  width: $widthOfRuleCards;
  height: 140px;
  margin: $marginOfRuleCards;
  padding: 4px $horizontalPaddingOfRuleCards;

  &.former {
    border: $lightDashedBorder;
    color: $previouslyOwnedRuleColor;
  }

  .rulecard_name {
    @include font($size: 1.5em, $weight: bold);
  }

  .rulecard_desc {
    line-height: 1.2em;
  }

  &.excluded {
    //color: $previouslyOwnedRuleColor;
    background: url(../stripe.png);
  }

  &.card_selected {
    border: gray solid 3px;
    margin: 1px;
    @include roundedBorder(10px);
  }
}

$heightOfThumbnailRuleCards: 22px;
.rulecard_thumbnail {
  display: inline-block;
  text-align: center;
  border: $lightSolidBorder;
  @include roundedBorder(5px);
  height: $heightOfThumbnailRuleCards;
  min-width: 1em;
  margin: 1px;
  padding: 4px;
  @include font($size: 1.4em, $weight: bold);
}

.note {
  float: right;
}

.errors {
  @include font($size: 0.8em);
  color: $infoTextColor;
}

.selectable:hover {
  cursor: pointer;
}

@import "responsive";