$pageWidth: 980px;

$backgroundColor: #FFB600;
$modalDialogBackgroundColor: lighten($backgroundColor, 10%);

$borderColor: #FFD773;
$selectionHaloColor: gray;

$normalTextColor: black;
$secondaryTextColor: #644700;
$tertiaryTextColor: #A67600;

$linkColor: darkgreen;

$inputBackgroundColor: #FAFFBD;

$lightSolidBorder: 1px solid $borderColor;
$lightDashedBorder: 1px dashed $borderColor;

$defaultFontSize: 9pt;

@mixin roundedBorder($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin blackBorder() {
  border: 1px solid black;
}

@mixin font($family: null, $size: null, $weight: null, $style: null) {
  font: {
    @if $family != null { family: $family; }
    @if $size != null { size: $size; }
    @if $weight != null { weight: $weight; }
    @if $style != null { style: $style; }
  };
}

@mixin shadowBox($offset: 2px, $blur: 10px, $color: darken(#FFB600, 20%), $inset: "") {
  box-shadow: $offset $offset $blur $color unquote($inset);
  -moz-box-shadow: $offset $offset $blur $color unquote($inset);
  -webkit-box-shadow: $offset $offset $blur $color unquote($inset);
}

@mixin floatright() {
  float: right;
  margin-right: 1em;
  text-align: right;
}
