$backgroundColor: #FFB600;
$infoTextColor: #A67600;
$lightBackgroundColor: #FFD773;
$infoPanelColor: #FFBF00;

$lightSolidBorder: 1px solid $lightBackgroundColor;
$lightDashedBorder: 1px dashed $lightBackgroundColor;

@mixin roundedBorder($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin blackBorder() {
  border: 1px solid black;
}

@mixin font($family: null, $size: null, $weight: null, $style: null) {
  font: {
    @if $family != null { family: $family; }
    @if $size != null { size: $size; }
    @if $weight != null { weight: $weight; }
    @if $style != null { style: $style; }
  };
}
