@import "common";

.score_header {
  cursor: pointer;

  .ui-icon {
    display: inline-block;
  }

  .first-player {
    @include font($size: 2.4em, $weight: bold);
  }

  .second-player {
    @include font($size: 1.9em, $weight: bold);
  }

  .third-player {
    @include font($size: 1.7em, $weight: bold);
  }

  .other-players {
    @include font($size: 1.4em);
  }
}

.me {
  .score_header {
    padding: 5px;
    background-color: $infoPanelColor;
    @include roundedBorder(5px);
    @include shadowBox();
  }
}

.congrats {
  margin-top: 20px;
  text-align: center;
  font-size: 1.3em;
}

.player_scoresheet {
  margin: 0.83em 0;
  @include font($size: $defaultFontSize);
  @include roundedBorder(8px);
  padding: 8px;
  background-color: lighten($backgroundColor, 13%);
  @include shadowBox($inset: inset);
}

.grand_total {
  @include font($size: 1.3em, $weight: bold);
}

.table_scoresheet {
  display: table;
}

.row_scoresheet {
  display: table-row;
}

.cell_scoresheet {
  display: table-cell;
  padding: 0 5px 2px 5px;
  vertical-align: middle;

  &.points {
    min-width: 70px;
  }
}

.known_rules {
  @extend .odd_color;
  padding: 0 5px 2px 5px;
}