@import "base";

#table_profile, #table_password {
  width: 100%;

  tr {
    line-height: 1.5em;

    &.longtext th {
      padding-top: 4px;
    }

    &.longtext td div:not(.helptext) {
      @include shadowBox($inset: inset);
      @include roundedBorder(3px);
      padding: 3px 6px;
    }
  }

  tr:first-of-type td {
    @include font($size: 11pt);
    line-height: 1.6em;
    background-color: #FFE640;
    padding-left: 2em;
  }

  th {
    width: 230px;
    padding-right: 1em;
    text-align: right;
    vertical-align: text-top;
  }
}

.palette {
  float: left;
  height: 40px;
  width: 120px;
  margin: 4px;
  border: 1px solid $borderColor;
  @include roundedBorder($radius: 5px);
  text-align: center;
  padding-top: 3px;
  cursor: pointer;

  &.selected {
    border: maroon solid 3px;
    margin: 2px;
  }

  //&.funky_orange {
  //  @import "common";
  //  color: $normalTextColor;
  //  background-color: $backgroundColor;
  //  .helptext {
  //    @import "common";
  //    color: $tertiaryTextColor !important;
  //  }
  //}
  //
  //&.bluish_fiesta {
  //  @import "palette/bluish_fiesta";
  //  color: $normalTextColor;
  //  background-color: $backgroundColor;
  //  .helptext {
  //    @import "palette/bluish_fiesta";
  //    color: $tertiaryTextColor !important;
  //  }
  //}
}

.note, .action {
  margin-right: 3px;
}

.errors {
  color: red;
}