@import "base";

#zone_content {}

#zone_game_header {
  overflow: auto;
  width: 100%;
}

#zone_game_label {
  float: left;
  width: 180px;
}

#game_label {
  @include font($size: 1.9em, $weight: bold);
}

#zone_player_list {
  margin-left: 180px;

  > div {
    float: right;
  }
}

#zone_game_main {
  overflow: auto;
  width: 100%;
}

$widthZoneHand: 520px;

#zone_hand {
  float: left;
  width: $widthZoneHand;

  #zone_links {
    height: 30px;
  }

  #zone_commodities {
    margin-bottom: 16px;
  }

  #zone_rules {
    display: inline-block;
    margin-bottom: 16px;
  }
}

#zone_tabs {
  margin-left: $widthZoneHand + 20px;
  background: none;
  border-width: 0px;
}

#zone_tabs .ui-tabs-nav {
  height:2.2em;
  background: transparent;
  border-width: 0px;
  padding-left: 0px;

  .ui-state-default {
    background: transparent;
    border-color: $lightBackgroundColor;
  }

  .ui-state-active {
    background-color: $lightBackgroundColor;
    border-color: $lightBackgroundColor;
  }

  li {
    @include font($size: 0.9em);
  }
}

#zone_tabs .ui-tabs-panel {
  background: none;
  border: $lightSolidBorder;
}

.minicard.not_submitted {
  background: url(../stripe.png);
}

.rulecard {
  border: $lightSolidBorder;
  @include roundedBorder(10px);
  float: left;
  width: $widthZoneHand / 2 - 22px;
  height: 140px;
  margin: 2px;
  padding: 4px 8px;

  //&.with_button {
  //  height: 200px;
  //}

  &.former {
    border: $lightDashedBorder;
    color: $previouslyOwnedRuleColor;
  }

  .rulecard_name {
    @include font($size: 1.5em, $weight: bold);
  }

  .rulecard_desc {
    line-height: 1.2em;
  }

  .previously_owned {
    float: right;
  }
}

.free_information {
  border: $lightSolidBorder;
  @include roundedBorder(5px);
  padding-top: 10px;
  padding-left: 30px;
  color: $previouslyOwnedRuleColor;

  legend {
    color: #333333;
    @include font($style: italic);
    margin-left: -15px;
    padding: 0 5px;
  }
}

.show_previous {
  margin: -5px 0 5px -10px;
  height: 1em;
}

.event_time {
  display: inline-block;
  color: $infoTextColor;
  @include font($size: 0.9em);
  margin-left: -10px;
  margin-right: 5px;
}
.event_text {
  display: inline;
}

.message_content {
  @include roundedBorder(5px);
  background-color: lighten($backgroundColor, 5%);
  padding: 4px 10px;
  margin: 3px 0 10px 3px;
  font-size: 0.9em;

  &.admin {
    background: darken($backgroundColor, 8%);
  }
}

.show_more {
  text-align: right;
}