@import "base";

#zone_content {}

#zone_game_header {
  overflow: auto;
  width: 100%;
}

#zone_game_label {
  float: left;
  width: 180px;
}

#game_label {
  @include font($size: 1.8em, $weight: bold);
}

#zone_player_list {
  margin-left: 180px;

  > div {
    float: right;
  }
}

#zone_game_main {
  overflow: auto;
  width: 100%;
}

$widthZoneHand: 500px;

#zone_hand {
  float: left;
  width: $widthZoneHand;

  #zone_links {
    height: 30px;
  }

  #zone_commodities {
    margin-bottom: 16px;
  }

  #zone_rules {
    display: inline-block;
    margin-bottom: 16px;
  }
}

.minicard.not_submitted {
  background: url(../stripe.png);
}

.rulecard {
  border: $lightSolidBorder;
  @include roundedBorder(10px);
  float: left;
  width: $widthZoneHand / 2 - 22px;
  height: 140px;
  margin: 2px;
  padding: 4px 8px;
  @include font($size: 0.9em);

  //&.with_button {
  //  height: 200px;
  //}

  &.former {
    border: $lightDashedBorder;
    color: $previouslyOwnedRuleColor;
  }

  .rulecard_name {
    @include font($size: 1.4em, $weight: bold);
  }

  .rulecard_desc {
    line-height: 1.2em;
  }

  .previously_owned {
    float: right;
  }
}

.free_information {
  border: $lightSolidBorder;
  @include roundedBorder(5px);
  padding-top: 10px;
  padding-left: 30px;
  @include font($size: 0.9em);
  color: $previouslyOwnedRuleColor;

  legend {
    color: #333333;
    @include font($style: italic);
    margin-left: -15px;
    padding: 0 5px;
  }
}

#zone_tabs {
  margin-left: $widthZoneHand;
}