@import "common";

.scores {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;

  $cellWidth: 200px;

  td {
    width: $cellWidth;
    height: 30px;
  }

  tr#second-row td {
    width: 1.5 * $cellWidth;
  }

  .podium-box {
    border: 1px solid black;
    height: 50px;
  }
}

.me {
  background-color: #FFE640;
}

.first-player-header {
  @include font($size: 1.6em, $weight: bold);
}

.first-player {
  @include font($size: 1.2em);
}

.second-player-header {
  @include font($size: 1.3em, $weight: bold);
}

.second-player {
  @include font($size: 1.1em);
}

.third-player-header {
  @include font($size: 1.1em, $weight: bold);
  height: 1.3em;
}

.third-player {
  @include font($size: 1em);
}

.scoresheet {
  width: 90%;
  margin-left: 15px;
  padding: 10px;
  background-color: $infoPanelColor;
  @include roundedBorder(5px);
}

.submitted-hand {
  vertical-align: bottom;
  margin: 5px 0;

  .minicard, .minicard.minimized {
    width: 15px;
    height: 30px;
  }
}

.congrats {
  margin-top: 20px;
  text-align: center;
  font-size: 1.3em;
}