@import "base";

#table_profile {
  width: 100%;

  tr {
    line-height: 1.5em;

    &.longtext th {
      padding-top: 4px;
    }

    &.longtext td div:not(.helptext) {
      @include shadowBox($inset: inset);
      @include roundedBorder(3px);
      padding: 3px 6px;
    }
  }

  tr:first-of-type td {
    @include font($size: 11pt);
    line-height: 1.6em;
    background-color: #FFE640;
    padding-left: 2em;
  }

  th {
    width: 230px;
    padding-right: 1em;
    text-align: right;
    vertical-align: text-top;
  }
}

.edit {
  margin-right: 3px;
}
