@import "base";
@import "cards";
@import "scores";

h3 {
  @include font($size: 11pt);
}

#other_languages {
  position: absolute;
  top: 60px;
  right: 320px;
}

.player_scoresheet {
  width: $fullWidthOfARuleCard * 2.7;
}

.image_right {
  float: right;
  padding: 2px;
  margin-left: 8px;
  @include shadowBox();
  @include roundedBorder(8px);
}

.image_left {
  float: left;
  padding: 2px;
  margin-right: 8px;
  @include shadowBox();
  @include roundedBorder(8px);
}

#etiquette {
  @include blackBorder();
  @include roundedBorder($radius: 8px);
  padding: 0 5px;
  background-color: lighten($backgroundColor, 8%);

  h2 {
    margin-top: 4px;
  }

  #idea {
    text-align: center;
    margin-top: -4px;
    margin-bottom: 6px;
  }

  ol li {
    margin-bottom: 6px;
  }

  #lastUpdated {
    @include font($size: 8pt, $style: italic);
    margin-bottom: 2px;
    text-align: right;
  }
}