{% extends "base.html" %}

{% block content %}
	<table class="fullwidth formtable">
		<tr>
			<td colspan="2" class="header">
				{{ user.get_profile.name|title }}
			</td>
		</tr>
		<tr>
			<th class="label">Bio :</th>
			<td><div class="frame">
					{{ user.get_profile.bio|linebreaksbr|default:'<span class="helptext">Nothing yet.</span>' }}
				</div></td>
		</tr>
		<tr>
			<th class="label">Contact informations :</th>
			<td><div class="frame">
					{{ user.get_profile.contact|linebreaksbr|default:'<span class="helptext">Nothing yet.</span>' }}
				</div></td>
		</tr>													
	</table>
{% endblock content %}