{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
	<table class="fullwidth">
		<tr>
			<td colspan="2" class="header">
				Your details : {{ user.get_profile.name|title }}
				<span class="floatright">
					<a href="{% url 'userprofile.views.editprofile' user.id %}">
						<img src="{% static "pencil.png" %}" height="16" width="16" alt=""/>Edit</a>
				</span>
			</td>
		</tr>
		<tr>
			<th class="label">Username :</th>
			<td>{{ user.username }}</td>
		</tr>
		<tr>
			<th class="label">First name :</th>
			<td>{{ user.first_name|default:'<span class="helptext">Nothing yet.</span>' }}</td>
		</tr>
		<tr>
			<th class="label">Last name :</th>
			<td>{{ user.last_name|default:'<span class="helptext">Nothing yet.</span>' }}</td>
		</tr>
		<tr>
			<th class="label">E-mail address :</th>
			<td>{{ user.email }}
				<span class="brhelptext">for sending notifications - will never be publicly displayed</span></td>
		</tr>
		<tr>
			<th class="label">Your bio :</th>
			<td><div class="frame">
					{{ user.get_profile.bio|linebreaksbr|default:'<span class="helptext">Nothing yet.</span>' }}
				</div>
				<span class="helptext">for others to know you</span></td>
		</tr>
		<tr>
			<th class="label">Your contact informations :</th>
			<td><div class="frame">
					{{ user.get_profile.contact|linebreaksbr|default:'<span class="helptext">Nothing yet.</span>' }}
				</div>
				<span class="helptext">for others to reach you</span></td>
		</tr>													
	</table>
{% endblock content %}