{% extends "base_authenticated.html" %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
	<table>
		<thead>
			<tr>
				<th colspan="2">
					Your details
					<span class="floatright">
						<a href="{% url 'userprofile.views.editprofile' user.id %}">
							<img src="{% static "pencil.png" %}" height="16" width="16" alt=""/>Edit</a>
					</span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="label">Username :</td>
				<td>{{ user.username }}</td>
			</tr>
			<tr>
				<td class="label">First name :</td>
				<td>{{ user.first_name|default:'<span class="blank">Nothing yet.</span>' }}</td>
			</tr>
			<tr>
				<td class="label">Last name :</td>
				<td>{{ user.last_name|default:'<span class="blank">Nothing yet.</span>' }}</td>
			</tr>
			<tr>
				<td class="label">Email :
				    <div class="note">for sending notifications - will never be publicly displayed</div>
				</td>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<td class="label">Your bio :
					<div class="note">for others to know you</div>
				</td>
				<td>{{ user.get_profile.bio|default:'<span class="blank">Nothing yet.</span>' }}</td>
			</tr>
			<tr>
				<td class="label">Your contact informations :
					<div class="note">for others to reach you</div>
				</td>
				<td>{{ user.get_profile.contact|default:'<span class="blank">Nothing yet.</span>' }}</td>
			</tr>													
		</tbody>
	</table>
{% endblock content %}