{% extends "base.html" %}

{% load filters %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.9.1.custom.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.game.board.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'jquery/jquery-1.8.2.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui-1.9.1.custom.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="zone_game_header">
        <div id="zone_game_label">
            <div id="game_label">Game #{{ game.id }}</div>
            <div id="game_delay" class="helptext">
                {% if game.is_active %}ending in {{ game.end_date|timeuntil }}
                {% elif game.is_closed %}closed {{ game.closing_date|timesince }} ago
                {% elif game.has_ended %}ended {{ game.end_date|timesince }} ago
                {% else %}starting in {{ game.start_date|timeuntil }}{% endif %}
            </div>
        </div>

        <div id="zone_player_list">
            <div>
                {% for player in players %}
                    {% if player == user %}<div class="game-player">{{ player.name }} (you)</div>
                    {% else %}<div class="game-player"><a href="{% url 'otherprofile' player.id %}">{{ player.name }}</a></div>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="zone_game_main">
        <div id="zone_hand">
            <div id="zone_links">&nbsp;</div>

            <div id="zone_commodities">
                <h3>{% if hand_submitted %}Submitted Commodities
                    {% else %}Commodities <span class="helptext">Click to create a new trade proposal</span>{% endif %}</h3>
                {% for cih in commodities %}
                    {% for copy in cih.nb_cards|as_range %}
                        {% if copy >= cih.nb_tradable_cards %}
                            {% include "common/commodity_card.html" with name=cih.commodity.name cih_id=cih.commodity_id color=cih.commodity.color extra_classes="not_tradable" %}
                        {% else %}
                            {% include "common/commodity_card.html" with name=cih.commodity.name cih_id=cih.commodity_id color=cih.commodity.color %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {% for cih in commodities_not_submitted %}
                    {% for copy in cih.nb_cards|as_range %}
                        {% include "common/commodity_card.html" with name=cih.commodity.name cih_id=cih.commodity_id color=cih.commodity.color extra_classes="not_submitted" title_note="not submitted" %}
                    {% endfor %}
                {% endfor %}
            </div>

            <div id="zone_rules">
                <h3>Rules{% if not hand_submitted %} <span class="helptext">Click to create a new trade proposal</span>{% endif %}</h3>

                <div id="zone_rulecards">
                    {% for rih in rulecards %}
                    <div class="rulecard{% if rih.is_in_a_pending_trade %} not_tradable{% endif %}" data-rih-id="{{ rih.id }}" data-public-name="{{ rih.rulecard.public_name }}">
                        <div class="note helptext"></div>
                        <div class="rulecard_name">{{ rih.rulecard.public_name }}</div>
                        <div class="rulecard_desc">{{ rih.rulecard.description }}</div>
                    </div>
                    {% endfor %}
                    {% for rih in former_rulecards %}
                    <div class="rulecard former">
                        <div class="note helptext">(previously owned)</div>
                        <div class="rulecard_name">{{ rih.rulecard.public_name }}</div>
                        <div class="rulecard_desc">{{ rih.rulecard.description }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% if free_informations %}
            <div id="zone_free_informations">
                <h3>Free informations obtained during this game</h3>
                {% for offer in free_informations %}
                    <fieldset class="free_information">
                        <legend>from <strong>{{ offer.offerer }}</strong>, {{ offer.date|timesince }} ago</legend>
                        {{ offer.free_information }}<br/>
                    </fieldset>
                {% endfor %}
            </div>
            {% endif %}

        </div>

        <div id="zone_tabs">
            <ul>
                <li><a href="#tab-event">Recently</a></li>
                <li><a href="#tab-trade">New Trade</a></li>
            </ul>
            <div id="tab-event">
                <div id="zone_events"></div>

                <div id="zone_post_message">
                    <h3>Post a public message</h3>
                    <div>
                        <span class="helptext">(<a href="https://github.com/fletcher/MultiMarkdown/blob/master/Documentation/Markdown%20Syntax.md">Markdown</a> allowed)</span>
                        <span class="helptext chars_left"><span id="charactersLeft">{{ maxMessageLength }}</span> characters left</span>
                    </div>
                    <form id="post_message">{% csrf_token %}
                        {{ message_form.message|attr:"rows:3" }}&nbsp;
                        <span class="errors" id="error_message"></span>
                        <div class="submit"><input type="submit" id="button_post_message" value="Post"/></div>
                    </form>
                </div>
            </div>
            <div id="tab-trade">
                <div id="zone_trade"></div>
            </div>
        </div>
   </div>

    <script>
        var color_list = ["blue", "red", "green", "magenta", "gray", "brown"];
        var idx = ({{ game.id }}) % color_list.length;

        function refreshEvents(datenext, dateprevious) {
            var url = "{% url 'events' game.id %}";
            if (datenext) url += "?datenext=" + datenext;
            if (dateprevious) url += "?dateprevious=" + dateprevious;
            $.get(url)
                .fail(function() {
                    $("#zone_events").text("Error loading recent events. Please try again.");
                })
                .done(function(data) {
                    $("#zone_events").html(data);
                });
        }

        function refreshTrade() {
            $.get("{% url 'create_trade' game.id %}")
                .fail(function() {
                    $("#zone_trade").text("Error loading trade. Please try again.");
                })
                .done(function(data) {
                    $("#zone_trade").html(data);
                });
        }

        function refreshSelectedCommodities() {
            var selectedCommodities = "";
            var currentCihId = 0;
            $("#zone_commodities").find(".commodity_card").not(".not_tradable, .not_submitted").each(function () {
                if ($(this).data("cihId") != currentCihId) {
                    currentCihId = $(this).data("cihId");
                    var numberOfThisCommodity = parseInt($("input#id_commodity_" + currentCihId).val(), 10);
                    for (var i = 0; i < numberOfThisCommodity; i++) {
                        selectedCommodities +=
                                '{% include "common/commodity_card.html" with name="#name#" cih_id="#cihId#" color="#color#" %}'
                                        .replace("#name#", $(this).data("name")).replace("#cihId#", ""+currentCihId)
                                        .replace("#color#", $(this).css("background-color"));
                    }
                }
            });
            $("#zone_selected_commodities").html(selectedCommodities)
                    .find(".commodity_card").on("click", function(event) {
                        var cihId = $(event.target).data("cihId");
                        var indexInThisCommodity = $("#zone_selected_commodities").find(".commodity_card[data-cih-id=" + cihId + "]").index(event.target);
                        var correspondingCardInHand = $("#zone_commodities").find(".commodity_card.card_selected[data-cih-id=" + cihId + "]").get(indexInThisCommodity);
                        clickOnCommodity(correspondingCardInHand);
            });
        }

        function clickOnCommodity(cardElement) {
            var cihId = $(cardElement).data("cihId");
            var hiddenInput = $("input#id_commodity_" + cihId);
            var currentNumber = parseInt(hiddenInput.val(), 10) || 0; // defaults to 0 the first time
            if ($(cardElement).hasClass("card_selected")) {
                hiddenInput.val(currentNumber - 1);
            } else {
                hiddenInput.val(currentNumber + 1);
            }
            $(cardElement).toggleClass("card_selected");
            refreshSelectedCommodities();
        }

        function prepareTradeInteractions(event, ui) {
            var commodities = $(".commodity_card");
            var rulecards = $(".rulecard");
            if ($(ui.newTab).attr("aria-controls") === "tab-trade") {
                commodities.not(".not_tradable").addClass("selectable").on("click.tradeselect", function(event) {
                    clickOnCommodity(event.target)
                });
                commodities.filter(".not_tradable").addClass("excluded").each(function() {
                    $(this).attr("title", $(this).data("name") + " - Reserved for a pending trade");
                });

                rulecards.not(".not_tradable, .former").addClass("selectable").on("click.tradeselect", function(event) {
                    var rulecard = $(event.target).closest(".rulecard"); // find the main rulecard div
                    console.log(rulecard);
                    $("#zone_selected_rules").append($("<div></div>").addClass("rulecard_thumbnail").text(rulecard.data("publicName")));
                    rulecard.toggleClass("card_selected");
                });
                rulecards.filter(".not_tradable").addClass("excluded").children(".note").text("(reserved for a pending trade)");
            } else {
                commodities.not(".not_tradable").off("click.tradeselect").removeClass("card_selected selectable");
                commodities.filter(".not_tradable").removeClass("excluded").each(function() {
                    $(this).attr("title", $(this).data("name"));
                });
                rulecards.not(".not_tradable, .former").off("click.tradeselect").removeClass("card_selected selectable");
                rulecards.filter(".not_tradable").removeClass("excluded").children(".note").text("");
            }
        }

        // on load
        $(function() {
            $('#zone_game_label *').css('color', color_list[idx]);
            $("#zone_tabs").tabs({
                heightStyle: "content",
                beforeActivate: prepareTradeInteractions
            });
            $("input#button_post_message").button();
            $(".commodity_card").tooltip({ position: { my: "left+15" } });

            refreshEvents();
            refreshTrade();
        });

        // messages
        var maxlength = {{ maxMessageLength }};
        $('#id_message').attr('maxlength', maxlength) // direct support for HTML5-enabled browsers
            .on('keyup', function() {
                var vallength = $(this).val().length;
                $("#charactersLeft").html(maxlength - vallength);

                // Trim the field if it has content over the maxlength, for non-HTML5 browsers
                if (vallength > maxlength) {
                    $(this).val($(this).val().slice(0, maxlength));
                }
        });

        $("#post_message").on("submit", function() {
            $.post("{% url 'post_message' game.id %}", $(this).serialize())
                .fail(function(jqXHR) {
                    var error;
                    if (jqXHR.status == 422) error = jqXHR.responseText;
                    else error = "Error sending data. Please try again.";
                    $('#error_message').text(error);
                })
                .done(function() {
                    refreshEvents();
                    $("#id_message").val("").focus(); // clear the textarea
                });
            return false;
        });

        function deleteMessage(trash_icon) {
            $(trash_icon).hide(); // to prevent multi-clicks
            $.post("{% url 'delete_message' game.id %}", $(trash_icon).parent("form").serialize())
                .fail(function() {
                    $(trash_icon).show(); // show it again to enable re-trying
                    alert("Error deleting message. Please try again.");
                })
                .done(function() {
                    refreshEvents();
                });
        }
    </script>
{% endblock %}
