{% extends "base.html" %}

{% load filters %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.9.1.custom.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.game.board.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css-tooltips.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'jquery/jquery-1.8.2.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui-1.9.1.custom.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="zone_game_header">
        <div id="zone_game_label">
            <div id="game_label">Game #{{ game.id }}</div>
            <div id="game_delay" class="helptext">
                {% if game.is_active %}ending in {{ game.end_date|timeuntil }}
                {% elif game.is_ended %}ended {{ game.end_date|timesince }} ago
                {% elif game.is_closed %}closed {{ game.closing_date|timesince }} ago
                {% else %}starting in {{ game.start_date|timeuntil }}{% endif %}
            </div>
        </div>

        <div id="zone_player_list">
            <div>
                {% for player in players %}
                    {% if player == user %}<div class="game-player">{{ player.name }} (you)</div>
                    {% else %}<div class="game-player"><a href="{% url 'otherprofile' player.id %}">{{ player.name }}</a></div>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="zone_game_main">
        <div id="zone_hand">
            <div id="zone_links">&nbsp;</div>

            <div id="zone_commodities">
                <h3>{% if hand_submitted %}Submitted Commodities
                    {% else %}Commodities <span class="helptext">Click to create a new trade proposal</span>{% endif %}</h3>
                {% for cih in commodities %}
                    {% for copy in cih.nb_cards|as_range %}
                        <span class="minicard" data-tip="{{ cih.commodity.name }}" style="background-color: {{ cih.commodity.color }}">&nbsp;</span>
                    {% endfor %}
                {% endfor %}
                {% for cih in commodities_not_submitted %}
                    {% for copy in cih.nb_cards|as_range %}
                        <span class="minicard not_submitted" data-tip="{{ cih.commodity.name }} -- not submitted" style="background-color: {{ cih.commodity.color }}">&nbsp;</span>
                    {% endfor %}
                {% endfor %}
            </div>

            <div id="zone_rules">
                <h3>Rules{% if not hand_submitted %} <span class="helptext">Click to create a new trade proposal</span>{% endif %}</h3>

                <div id="zone_rulecards">
                    {% for card in rulecards %}
                    <div class="rulecard">
                        <div class="rulecard_name">{{ card.rulecard.public_name }}</div>
                        <div class="rulecard_desc">{{ card.rulecard.description }}</div>
                    </div>
                    {% endfor %}
                    {% for card in former_rulecards %}
                    <div class="rulecard former">
                        <div class="previously_owned helptext">(previously owned)</div>
                        <div class="rulecard_name">{{ card.rulecard.public_name }}</div>
                        <div class="rulecard_desc">{{ card.rulecard.description }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% if free_informations %}
            <div id="zone_free_informations">
                <h3>Free informations obtained during this game</h3>
                {% for offer in free_informations %}
                    <fieldset class="free_information">
                        <legend>from <strong>{{ offer.offerer }}</strong>, {{ offer.date|timesince }} ago</legend>
                        {{ offer.free_information }}<br/>
                    </fieldset>
                {% endfor %}
            </div>
            {% endif %}

        </div>

        <div id="zone_tabs">
            <ul>
                <li><a href="#tabs-1">Recently</a></li>
                <li><a href="#tabs-2">New Trade</a></li>
            </ul>
            <div id="tabs-1">
                {% include "game/tab_recently.html" %}
            </div>
            <div id="tabs-2">
                <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
            </div>
        </div>
   </div>

    <script>
        var color_list = ["blue", "red", "green", "magenta", "gray", "brown"];
        var idx = {{ game.id }} % color_list.length;
        $('#zone_game_label *').css('color', color_list[idx]);

        $(function() {
            $( "#zone_tabs" ).tabs();
        });
    </script>
{% endblock %}
