{% extends "base.html" %}

{% load filters %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.10.3.custom.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.game.board.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'jquery/jquery-1.8.2.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui-1.10.3.custom.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="zone_game_header">
        <div id="zone_game_label">
            <div id="game_label">Game #{{ game.id }}</div>
            <div id="game_delay" class="helptext">
                {% if game.is_active %}ending in {{ game.end_date|timeuntil }}
                {% elif game.is_closed %}closed {{ game.closing_date|timesince }} ago
                {% elif game.has_ended %}ended {{ game.end_date|timesince }} ago
                {% else %}starting in {{ game.start_date|timeuntil }}{% endif %}
            </div>
        </div>

        <div id="zone_player_list">
            <div>
                {% for player in players %}
                    {% if player == user %}<div class="game-player">{{ player.name }} (you)</div>
                    {% else %}{% include "common/name_or_you.html" with who=player %}{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="zone_game_main">
        <div id="zone_hand">
            <div id="zone_links">
                <img src="{% static 'action.png' %}" width="16" height="16" alt="&gt;"/>
                {% if game.is_active and not super_access and not hand_submitted %}<a id="link_new_trade">Propose new trade</a> | {% endif %}
                <a id="link_show_trade_list">Show all trades</a>
                {% if game.is_active and not super_access and not hand_submitted %} | <a id="link_submit_hand">Choose final cards</a>{% endif %}
            </div>

            {% if show_control_board %}
                {% include "game/control.html" %}
            {% else %}
                <div id="zone_commodities">
                    {% if hand_submitted %}
                        <p><img class="warning" src="{% static 'warning.png' %}" height="16" width="16" alt=""/>
                            You have submitted your hand to the game master. You can follow the game, but all trades are forbidden.</p>
                        <h3>Submitted Commodities</h3>
                    {% else %}
                        <h3>Commodities{% if game.is_active %} <span class="helptext click2createtrade">Click to create a new trade proposal</span>{% endif %}</h3>
                    {% endif %}
                    {% for cih in commodities %}
                        {% for copy in cih.nb_cards|as_range %}
                            {% if copy >= cih.nb_tradable_cards %}
                                {% include "common/commodity_card.html" with commodity=cih.commodity extra_classes="not_tradable" %}
                            {% elif game.is_active and not hand_submitted %}
                                {% include "common/commodity_card.html" with commodity=cih.commodity extra_classes="selectable" %}
                            {% else %}
                                {% include "common/commodity_card.html" with commodity=cih.commodity %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% for cih in commodities_not_submitted %}
                        {% for copy in cih.nb_cards|as_range %}
                            {% include "common/commodity_card.html" with commodity=cih.commodity extra_classes="not_submitted" title_note="not submitted" %}
                        {% endfor %}
                    {% endfor %}
                </div>

                <div id="zone_rules">
                    <h3>Rules{% if game.is_active and not hand_submitted %} <span class="helptext click2createtrade">Click to create a new trade proposal</span>{% endif %}</h3>

                    <div id="zone_rulecards">
                        {% for rih in rulecards %}
                        <div class="rulecard{% if rih.is_in_a_pending_trade %} not_tradable{% elif not hand_submitted %} selectable{% endif %}" data-rih-id="{{ rih.id }}" data-public-name="{{ rih.rulecard.public_name }}">
                            <div class="container">
                                <div class="note helptext"></div>
                                <div class="rulecard_name">{{ rih.rulecard.public_name }}</div>
                                <div class="rulecard_desc">{{ rih.rulecard.description }}</div>
                                {% include "common/rulecard_origin.html" %}
                            </div>
                        </div>
                        {% endfor %}
                        {% for rih in former_rulecards %}
                        <div class="rulecard former">
                            <div class="container">
                                <div class="note helptext">(previously owned)</div>
                                <div class="rulecard_name">{{ rih.rulecard.public_name }}</div>
                                <div class="rulecard_desc">{{ rih.rulecard.description }}</div>
                                {% include "common/rulecard_origin.html" %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                {% if free_informations %}
                <div id="zone_free_informations">
                    <h3>Free informations obtained during this game</h3>
                    {% for offer in free_informations %}
                        <fieldset class="free_information">
                            <legend>from <strong>{{ offer.offerer }}</strong>, {{ offer.date|timesince }} ago</legend>
                            {{ offer.free_information }}<br/>
                        </fieldset>
                    {% endfor %}
                </div>
                {% endif %}
            {% endif %}
        </div>

        <div id="zone_tabs">
            <ul>
                <li><a href="#tab-event">Recently</a></li>
                <li><a href="#tab-trade">{% if user in players and not hand_submitted and not trade_id %}New Trade{% else %}View Trade{% endif %}</a></li>
            </ul>
            <div id="tab-event">
                <div id="zone_events">Loading...</div>

                <div id="zone_post_message">
                    <h3>Post a public message</h3>
                    <div>
                        <span class="helptext">(<a href="https://github.com/fletcher/MultiMarkdown/blob/master/Documentation/Markdown%20Syntax.md">Markdown</a> allowed)</span>
                        <span class="helptext chars_left"><span id="charactersLeft">{{ maxMessageLength }}</span> characters left</span>
                    </div>
                    <form id="post_message">{% csrf_token %}
                        {{ message_form.message|attr:"rows:3" }}&nbsp;
                        <span class="errors" id="error_message"></span>
                        <div class="submit"><input type="submit" id="button_post_message" value="Post"/></div>
                    </form>
                </div>
            </div>
            <div id="tab-trade">
                <div id="zone_trade">No trade yet.</div>
            </div>
        </div>
    </div>

    <div id="zone_trade_list" class="modal_dialog"></div>
    <div id="zone_submit_hand" class="modal_dialog"></div>

    <script>
        {% include "common/visibility.js" %}
        setUpVisibility(setUpEventsRefreshIfTheEventsTabIsOpen);

        /********************************************************************************************
         **                                Events (Tab Recently)                                   **
         ********************************************************************************************/
        var lastEventsRefreshDate;
        function refreshEvents(first_event_next_page, last_event_previous_page) {
            var url = "{% url 'events' game.id %}";
            if (lastEventsRefreshDate) {
                $("#zone_events").css("cursor", "wait");
                url += "?lastEventsRefreshDate=" + lastEventsRefreshDate;
                if (first_event_next_page) url += "&first_event_next_page=" + first_event_next_page;
                if (last_event_previous_page) url += "&last_event_previous_page=" + last_event_previous_page;
            }
            $.get(url)
                .fail(function() {
                    $("#zone_events").css("cursor", "");
                    $("#zone_events").text("Error loading recent events. Please try again.");
                })
                .done(function(data, textStatus, jqXHR) {
                    $("#zone_events").css("cursor", "");

                    if (jqXHR.getResponseHeader("full_refresh") === "True") {
                        window.location.reload(true);
                    }

                    if (jqXHR.status != 204) { // 204 = No Content, which means no new events where found ; don't refresh
                        $("#zone_events").html(data);
                        $("#zone_events").find(".event.highlight").effect("highlight", {}, 3000).removeClass("highlight");
                    }

                    var stringOnlinePlayers = jqXHR.getResponseHeader("online_players");
                    if (stringOnlinePlayers.match("^\\[(\\d+,?\\s?)*\\]$")) { {# validate we have only a list of numbers before json-parsing #}
                        updateOnlineStatus($.parseJSON(stringOnlinePlayers));
                    }
                });
        }

        var eventsRefreshIntervalId = null;
        function launchEventsRefresh() {
            eventsRefreshIntervalId = window.setInterval(refreshEvents, {{ events_refresh_delay }});
        }
        function stopEventsRefresh() {
            window.clearInterval(eventsRefreshIntervalId);
            eventsRefreshIntervalId = null;
        }
        function setUpEventsRefreshIfTheEventsTabIsOpen() {
            var zoneSubmitHand = $("#zone_submit_hand");
            if (!eventsRefreshIntervalId                                  // not already set
                    && $("#zone_tabs").tabs("option", "active") === 0     // events ("Recently") tab opened
                    && !$("#zone_trade_list").dialog("isOpen")            // "Show all trade" modal dialog not opened
                    && (!zoneSubmitHand.is(".ui-dialog")                  // "Choose final cards" modal dialog not opened
                                   || !zoneSubmitHand.dialog("isOpen"))
                    && $("#link_show_previous_events").length == 0        // the Recently tab shows the most recent events
                    && $("body").attr("visibilityState") === "visible") { // the tab is currently active in the browser
                launchEventsRefresh();
                refreshEvents(); // run it the first time
            }
            else if (eventsRefreshIntervalId) {
                stopEventsRefresh();
            }
        }

        /********************************************************************************************
         **                                Trade (Tab View/New Trade)                              **
         ********************************************************************************************/
        function refreshTrade(tradeId) {
            var url;
            if (tradeId) {
                url = "{% url 'show_trade' game.id 0 %}".replace('/0/', '/' + tradeId + '/');
            } else {
                url = "{% url 'create_trade' game.id %}"
            }
            $.get(url)
                .fail(function() {
                    $("#zone_trade").text("Error loading trade. Please try again.");
                })
                .done(function(data) {
                    $("#zone_trade").html(data);
                    if (currentMode != "initial") {
                        $("form#new_offer").is(":visible") ? prepareCardsInHandForSelection() : resetCardsInHandWhenSelectionIsDisabled();
                    }
                    currentMode = (tradeId) ? "editTrade" : currentMode;
                });
            $("#zone_trade").text("Loading...");
        }

        /********************************************************************************************
         **                              Trade List modal dialog)                                  **
         ********************************************************************************************/
        function refreshTradeList(page) {
            var url = "{% url 'trade_list' game.id %}";
            if (page) {
                url += "?page=" + page;
            }

            $.get(url)
                .fail(function() {
                    $("body").css("cursor", "");
                    $("#zone_trade_list").text("Error loading trade list. Please try again.");
                })
                .done(function(data) {
                    $("body").css("cursor", "");
                    $("#zone_trade_list").html(data);
                });
            $("#zone_trade_list").text("Loading...");
            $("body").css("cursor", "wait");
        }

        /********************************************************************************************
         **                                   Online status                                        **
         ********************************************************************************************/
        function updateOnlineStatus(onlinePlayers) {
            $("#zone_player_list, #zone_events").find(".game-player[data-player-id]").each(function() {
                if ($.inArray($(this).data("playerId"), onlinePlayers) >= 0) {
                    $(this).not(":has(img.icon-online)")
                            .append("<img class=\"icon-online\" title=\"online player\" src=\"{% static 'online.png' %}\" height=\"16\" width=\"16\" alt=\"*\"/>");
                } else {
                    $(this).find("img.icon-online").remove();
                }
            }).tooltip();
        }

        /********************************************************************************************
         **                           Script for card selections                                   **
         ********************************************************************************************/
    {% if not show_control_board and not hand_submitted %}
        {% include "game/player.board.js" %}
    {% else %}
        function eventClickOnATab() { setUpEventsRefreshIfTheEventsTabIsOpen(); }
    {% endif %}

        /********************************************************************************************
         **                                      On Load                                           **
         ********************************************************************************************/
        var currentMode = "initial"; // when loading the page, there is no trade created or edited

        function activateTooltips() {
            $(".commodity_card").tooltip({ position: { my: "left bottom", at: "right+5 top-5" } });
        }

        var color_list = ["blue", "red", "green", "magenta", "gray", "brown"];
        $(function() {
            $('#zone_game_label *').css('color', color_list[({{ game.id }}) % color_list.length]);
            var zoneTabs = $("#zone_tabs");
            zoneTabs.tabs({
                heightStyle: "content",
                activate: eventClickOnATab
            });
            $("input#button_post_message").button();
            activateTooltips();

            $("#zone_trade_list").dialog({
                autoOpen: false,
                modal: true,
                height: 450,
                width: 900,
                title: "Your trades",
                dialogClass: "modal_dialog_class",
                show: {
                    effect: "blind",
                    duration: 200
                },
                hide: {
                    effect: "blind",
                    duration: 200
                },
                open: function() {
                    refreshTradeList();
                    setUpEventsRefreshIfTheEventsTabIsOpen();
                },
                close: setUpEventsRefreshIfTheEventsTabIsOpen
            });

            $("#link_show_trade_list").on("click", function() {
                $("#zone_trade_list").dialog("open");
            });

            updateOnlineStatus({{ online_players }});
        {% if trade_id %} {# if the url asks for showing a specific trade #}
            refreshTrade({{ trade_id }});
            zoneTabs.tabs("option", "active", 1);
        {% elif not game.is_active %}
            $("#zone_trade").text("This game has ended. Trade creation is not permitted.");
        {% elif super_access %}
            $("#zone_trade").text("No trade displayed.");
        {% elif not hand_submitted %} {# regular players when the game is active #}
            refreshTrade();

            $("#zone_submit_hand").dialog({
                autoOpen: false,
                modal: true,
                height: 650,
                width: 1080,
                title: "Choose final cards",
                dialogClass: "modal_dialog_class",
                show: {
                    effect: "blind",
                    duration: 200
                },
                hide: {
                    effect: "blind",
                    duration: 200
                },
                open: function() {
                    $.get("{% url 'submit_hand' game.id %}")
                            .fail(function() {
                                $("body").css("cursor", "");
                                $("#zone_submit_hand").text("Error loading page. Please try again.");
                            })
                            .done(function(data) {
                                $("body").css("cursor", "");
                                $("#zone_submit_hand").html(data);
                            });
                    $("#zone_submit_hand").text("Loading...");
                    $("body").css("cursor", "wait");
                    setUpEventsRefreshIfTheEventsTabIsOpen();
                },
                close: setUpEventsRefreshIfTheEventsTabIsOpen
            });

            $("#link_submit_hand").on("click", function() {
                $("#zone_submit_hand").dialog("open");
            });
        {% endif %}

            setUpEventsRefreshIfTheEventsTabIsOpen();
        });

        /********************************************************************************************
         **                                Public Messages                                         **
         ********************************************************************************************/
        var maxlength = {{ maxMessageLength }};
        $('#id_message').attr('maxlength', maxlength) // direct support for HTML5-enabled browsers
            .on('keyup', function() {
                var vallength = $(this).val().length;
                $("#charactersLeft").html(maxlength - vallength);

                // Trim the field if it has content over the maxlength, for non-HTML5 browsers
                if (vallength > maxlength) {
                    $(this).val($(this).val().slice(0, maxlength));
                }
        });

        $("#post_message").on("submit", function() {
            $.post("{% url 'post_message' game.id %}", $(this).serialize())
                .fail(function(jqXHR) {
                    $("body").css("cursor", "");
                    var error;
                    if (jqXHR.status == 422) error = jqXHR.responseText;
                    else error = "Error sending data. Please try again.";
                    $('#error_message').text(error);
                    $("#post_message").find(":input").prop("disabled", false);
                })
                .done(function() {
                    $("body").css("cursor", "");
                    refreshEvents();
                    $("#post_message").find(":input").prop("disabled", false);
                    $("#id_message").val("").focus(); // clear the textarea
                });
            $("body").css("cursor", "wait");
            $("#post_message").find(":input").prop("disabled", true);
            return false;
        });

        function deleteMessage(trash_icon) {
            $(trash_icon).hide(); // to prevent multi-clicks
            $("body").css("cursor", "wait");
            $.post("{% url 'delete_message' game.id %}", $(trash_icon).parent("form").serialize())
                .fail(function() {
                    $("body").css("cursor", "");
                    $(trash_icon).show(); // show it again to enable re-trying
                    alert("Error deleting message. Please try again.");
                })
                .done(function() {
                    $("body").css("cursor", "");
                    lastEventsRefreshDate = null; // force the refresh
                    refreshEvents();
                });
        }
    </script>
{% endblock %}
