{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.9.1.custom.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.scoring.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/style.css-tooltips.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'jquery/jquery-1.8.2.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui-1.9.1.custom.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="header">Control board for game #{{ game }}{% if game.is_active %} (ending in {{ game.end_date|timeuntil }}){% endif %}
        <span class="floatright">&lt; <a href="{% url 'welcome' %}">Back</a></span></div>

    {% if game.is_ended %}
        <div class="reminder">This game has ended on {{ game.end_date }} ({{ game.end_date|timesince }} ago).
        {% if not game.closing_date %}
            <p>All trades have been blocked since that time.<br/>
            Please click on this button to cancel all unfinished trades, calculate scores and definitely close the game:</p>
            <div class="floatright">
                <form action="{% url 'close_game' game.id %}" method="post">{% csrf_token %}
                    <input type="submit" value="Close this game"/>
                </form>
            </div>
            <br/><br/>
        {% endif %}
        </div>
    {% elif game.is_closed %}
        <div class="reminder">This game was closed on {{ game.end_date }} ({{ game.end_date|timesince }} ago).</div>
    {% endif %}

    <h4>Table of Contents</h4>
    <ul>
        {% if game.is_active %}
            <li><a href="#trades">Trades</a></li>
            <li><a href="#scores">Current Scores</a></li>
            <li><a href="#scoreDetails">Current Score Details</a></li>
        {% elif game.is_closed %}
            <li><a href="#scores">Final Scores</a></li>
            <li><a href="#scoreDetails">Final Score Details</a></li>
            <li><a href="#trades">Trades</a></li>
        {% endif %}
        <li><a href="#rules">Rules</a></li>
    </ul>

    {% if game.is_closed %}
        {% include "scoring/score.html"  with specification="Final" %}
    {% endif %}

    <a name="trades"></a>
    <h3>Trades</h3>
    {% if trades %}
    <table>
        <thead>
            <tr class="header-row">
                <th>from</th>
                <th>to</th>
                <th>status</th>
                <th>initiated</th>
                <th>closed</th>
            </tr>
        </thead>
        <tbody>
        {% for trade in trades %}
            {% cycle 'even_color' 'odd_color' as color silent %}
            <tr{% if trade.status == 'ACCEPTED' or trade.status == 'DECLINED' %} class="done"{% elif trade.status == 'CANCELLED' %} class="cancelled"{% endif %}">
                <td class="css_table-cell {{ color }}">{% include "common/name_or_you.html" with who=trade.initiator %}</td>
                <td class="css_table-cell {{ color }}">{% include "common/name_or_you.html" with who=trade.responder %}</td>
                <td class="css_table-cell {{ color }}">
                    {{ trade.status }}
                    {% if trade.status == 'CANCELLED' or trade.status == 'DECLINED' %}by {% include "common/name_or_you.html" with who=trade.finalizer %}{% endif %}
                </td>
                <td class="css_table-cell {{ color }}">{{ trade.creation_date|date:"SHORT_DATETIME_FORMAT" }}</td>
                <td class="css_table-cell {{ color }}">{% if trade.closing_date|date:"SHORT_DATETIME_FORMAT" %}{{ trade.closing_date }}{% endif %}</td>
                <td class="css_table-cell {{ color }}"><a href="{% url 'show_trade' game.id trade.id %}">Show trade</a></td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
            <tr class="pagination">
                <td colspan="5">
                    {% if trades.has_previous %}
                        <a href="?page={{ trades.previous_page_number }}">&lt;</a>
                    {% endif %}

                    <span class="current">
                        Page {{ trades.number }} of {{ trades.paginator.num_pages }}
                    </span>

                    {% if trades.has_next %}
                        <a href="?page={{ trades.next_page_number }}">&gt;</a>
                    {% endif %}
                </td>
            </tr>
        </tfoot>
    </table>
    {% else %}
        <div class="helptext">No trades yet.</div>
    {% endif %}

    {% if game.is_active %}
        {% include "scoring/score.html" with specification="Current" %}
    {% endif %}

    <a name="rules"></a>
    <h3>Rules in this game</h3>
    <div class="css_table">
        {% for card in game.rules.all %}
            {% if forloop.first or forloop.counter0|divisibleby:"4" %}
                <div class="css_table-row">
            {% endif %}
        <div class="css_table-cell card">
            <div class="card_name">{{ card.public_name }}</div>
            <div class="card_desc">{{ card.description }}</div>
        </div>
        {% if forloop.counter|divisibleby:"4" or forloop.last %}
            </div>
        {% endif %}
        {% endfor %}
    </div>

    <br/>

    <script>
        $(function() {
            $('input[type=submit]').button();
        });
    </script>
{% endblock %}