{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.9.1.custom.min.css' %}" />
    <link rel="stylesheet" href="{% static 'style.scoring.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'style.css-tooltips.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'jquery/jquery-1.8.2.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui-1.9.1.custom.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="header">Control board for game #{{ game }}
        <span class="floatright">&lt; <a href="{% url 'welcome' %}">Back</a></span></div>

    {% if game.is_ended %}
        <div class="reminder">This game has ended on {{ game.end_date }} ({{ game.end_date|timesince }} ago).
        {% if not game.closing_date %}
            <p>All trades have been blocked since that time.<br/>
            Please click on this button to cancel all unfinished trades, calculate scores and definitely close the game:</p>
            <div class="floatright">
                <form action="{% url 'close_game' game.id %}" method="post">{% csrf_token %}
                    <input type="submit" value="Close this game"/>
                </form>
            </div>
            <br/><br/>
        {% endif %}
        </div>
    {% elif game.is_closed %}
        <div class="reminder">This game was closed on {{ game.end_date }} ({{ game.end_date|timesince }} ago).</div>
        {% include "scoring/score.html" %}
    {% endif %}

    <script>
        $(function() {
            $('input[type=submit]').button();
        });
    </script>
{% endblock %}