{% load staticfiles %}

{% if super_access and game.is_active %}
    <h3>Game Master's Control Board</h3>

    <p>All scores below are <strong>temporary</strong> and may evolve as the game progresses.</p>
{% else %}
    <h3>Game Summary</h3>

    {% if game.is_closed %}
        This game was closed on {{ game.end_date }} ({{ game.end_date|timesince }} ago).
        {% if player_access %}
            <p>Thank you for participating!</p>
        {% endif %}
    {% elif game.has_ended %}
        This game has ended on {{ game.end_date }} ({{ game.end_date|timesince }} ago).
        {% if super_access %}
            <p>All trades have been blocked since that time.<br/>
                Please click on this button to cancel all unfinished trades, calculate scores and definitely close the game:</p>
            <div class="submit">
                <form action="{% url 'close_game' game.id %}" method="post">{% csrf_token %}
                    <input type="submit" value="Close this game"/>
                </form>
            </div>
        {% endif %}
    {% endif %}
{% endif %}

<br/><br/>

{% if game.is_closed %}
    {% if player_access %}
        {% if rank == 1 %}
            <div class="congrats">Congratulations {{ user.name }}, you won this game !</div>
        {% elif rank == 2 %}
            <div class="congrats">Congratulations {{ user.name }}, you reached the second place.</div>
        {% elif rank == 3 %}
            <div class="congrats">Congratulations {{ user.name }}, you reached the third place.</div>
        {% endif %}
    {% endif %}
    {% if scoresheets %}{% include "scoring/score.html"  with specification="Final" %}{% endif %}
{% else %}
    {% if scoresheets %}{% include "scoring/score.html" with specification="Current" %}{% endif %}
{% endif %}

<h3>Rules in this game</h3>

<div id="zone_rules">
    {% for rulecard in game.rules.all %}
    <div class="rulecard">
        <div class="rulecard_name">{{ rulecard.public_name }}</div>
        <div class="rulecard_desc">{{ rulecard.description }}</div>
    </div>
    {% endfor %}
</div>

<script>
    $(function() {
        $('input[type=submit]').button();
    });
</script>
