{% extends "base.html" %}
{% load filters %}
{% load staticfiles %}
{% load url from future %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.9.1.custom.min.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'jquery/jquery-1.8.2.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui-1.9.1.custom.min.js' %}"></script>
{% endblock %}

{% block content %}
    <form action="{% url 'create_trade' game.id %}" method="post">{% csrf_token %}
        <div class="header">Set up a trade proposal for game #{{ game }} (ending in {{ game.end_date|timeuntil }})</div>
        {% for err in form.non_field_errors %}
            <tr>
                <td colspan="2"><span class="errors">{{ err }}</span></td>
            </tr>
        {% endfor %}
        <div>Trade with : {{ form.responder }}&nbsp;<span class="errors">{{ form.responder.errors.as_text }}</span><br/>
             You are offering: <span id="summary"/>
        </div>

        <div>
            <h4>Rules</h4>
            <div class="css_table">
                {% for card in rule_hand %}
                    {% if forloop.first or forloop.counter0|divisibleby:"4" %}
                        <div class="css_table-row">
                    {% endif %}
                <div class="css_table-cell">
                    <div class="card with_button" id="rule_{{ card.rulecard.id }}">
                        <div class="card_name">{{ card.rulecard.public_name }}</div>
                        <div class="card_desc">{{ card.rulecard.description }}</div>
                        <div class="align_to_bottom">
                            <div class="card_select">
                                <input type="checkbox" class="rulecard_checkbox" name="rulecard" id="button_rule_{{ card.rulecard.id }}" />
                                <label for="button_rule_{{ card.rulecard.id }}">Offer</label>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:"4" or forloop.last %}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            <h4>Commodities (click on cards to offer)</h4>
            <div class="css_table">
                <div class="css_table-row">
                    {% for card in commodity_hand %}
                        <div class="css_table-cell card" id="commodity_{{ card.commodity.id }}">
                            <div class="card_name">{{ card.commodity.name }}</div>
                            <div class="card_copies">
                                {% for copy in card.nb_cards|as_range %}
                                    <span class="minicard" style="background-color: {{ card.commodity.color }}">&nbsp;</span>
                                {% endfor %}
                            </div>
                            <input type="hidden" name="commodity_{{ card.commodity.id }}" value="0">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </form>
    <script>
        $(function() {
            $('.rulecard_checkbox').button().click(function() {
                updateSummary();
            });
            $('.minicard').click(function() {
                $(this).toggleClass("clicked")
                // set the corresponding hidden form field to hold the number of commodities from this type that are now "clicked"
                $("input[type=hidden][name=" + $(this).parents(".card").attr("id") + "]").val($(this).parent().children(".clicked").length)
                updateSummary();
            })
        });

        function updateSummary() {
            var elements = new Array();

            $(".card").each(function() {
                if ($(this).is("[id^=rule]")) {
                    if ($(this).find(".rulecard_checkbox").attr("checked") == "checked") {
                        elements.push("Rule #" + $(this).children(".card_name").text());
                    }
                }
                else {
                    var qty = $(this).children("input[type=hidden][name^=commodity]").val();
                    if (qty > 0) {
                        elements.push(qty + " " + $(this).children(".card_name").text() + " card" + (qty > 1 ? "s" : ""));
                    }
                }
            });

            var summary = "";
            for (var i = 0; i < elements.length; i++) {
                if (i > 0) {
                    if (i == elements.length - 1) { summary += " and "; }
                    else { summary += ", "; }
                }
                summary += elements[i];
            }

            $("#summary").text(summary);
        }
    </script>

{% endblock content %}