{% load staticfiles %}
{% load humanize %}
<div class="show_previous">{% if dateprevious %}<a>&lt; show previous events</a>{% endif %}</div>
{% regroup events by date|naturalday as grouped_events %}
{% for group in grouped_events %}
    {% if dateprevious or group.grouper != 'today' %}<div class="event_date">{{ group.grouper|capfirst }}</div>{% endif %}
    {% for evt in group.list %}
        <div class="event{% if evt.highlight %} highlight{% endif %}">
            <div class="event_time">{{ evt.date|time }}</div>
            <div class="event_text">
            {% if evt.event_type == 'message' %}
                {% include "common/name_or_you.html" with who=evt.sender %}
                {% if evt.sender == game.master %} (<strong>game master</strong>) {% endif %}
                {% if evt.sender == user %} have {% else %} has {% endif %}
                posted a message:
            {% elif evt.event_type == 'game_start' %}
                Game #{{ game.id }} has started.
            {% elif evt.event_type == 'game_end' %}
                Game #{{ game.id }} has ended.
                {% include "common/name_or_you.html" with who=evt.sender %} will soon calculate scores.
            {% elif evt.event_type == 'game_close' %}
                Game #{{ game.id }} is over. Scores have been calculated.
            {% elif evt.event_type == 'create_trade' %}
                {% include "common/name_or_you.html" with who=evt.sender %} proposed a <a class="event_link_trade" data-trade-id="{{ evt.trade.id }}">trade</a> to {% include "common/name_or_you.html" with who=evt.trade.responder %}.
            {% elif evt.event_type == 'reply_trade' %}
                {% if evt.sender == user %}
                    {% include "common/name_or_you.html" with who=evt.sender %} replied to {% include "common/name_or_you.html" with who=evt.trade.initiator %}'s <a class="event_link_trade" data-trade-id="{{ evt.trade.id }}">trade</a>.
                {% else %}
                    {% include "common/name_or_you.html" with who=evt.sender %} replied to your <a class="event_link_trade" data-trade-id="{{ evt.trade.id }}">trade</a>.
                {% endif %}
            {% elif evt.event_type == 'finalize_trade' %} {# including ACCEPTED trades of which the user is a participant #}
                {% include "common/name_or_you.html" with who=evt.sender %}
                {% if evt.sender == user %} have {% else %} has {% endif %}
                {{ evt.trade.status|lower }} a <a class="event_link_trade" data-trade-id="{{ evt.trade.id }}">trade</a>.
            {% elif evt.event_type == 'accept_trade' %} {# only ACCEPTED trades of which the user in not a participant #}
                A successful trade has been performed:<br/>
                {% include "common/name_or_you.html" with who=evt.trade.initiator %} gave {{ evt.trade.initiator_offer.total_traded_cards }} card{{ evt.trade.initiator_offer.total_traded_cards|pluralize }} to
                {% include "common/name_or_you.html" with who=evt.trade.responder %}, who gave {{ evt.trade.responder_offer.total_traded_cards }} card{{ evt.trade.responder_offer.total_traded_cards|pluralize }} in exchange.
            {% elif evt.event_type == 'submit_hand' %}
                The game master has received the cards submitted by {% include "common/name_or_you.html" with who=evt.sender %} ;
                the game is finished for {% if evt.sender == user %}you{% else %}this player{% endif %}.
            {% endif %}
            </div>
            {% if evt.sender == user and evt.deletable %}
                <form class="delete_message">{% csrf_token %}
                    <input type="hidden" name="event_id" value="{{ evt.id }}"/>
                    <img alt="Delete" title="Delete" class="delete_icon" src="{% static 'trash.png' %}"/>
                </form>
            {% endif %}
            {% if evt.content %}
                <div class="message_content{% if evt.sender == game.master %} admin{% endif %}">{{ evt.content|safe|linebreaksbr }}</div>
            {% endif %}
        </div>
    {% endfor %}
{% endfor %}
<div class="show_more">{% if datenext %}<a>show more events &gt;</a>{% endif %}</div>

<script> {# deleteMessage(), refreshEvents() and refreshTrade() functions are found in board.html, which encloses this file #}
    lastEventsRefreshDate = "{{ lastEventsRefreshDate }}";
    $(".delete_icon").tooltip({ show: false }).on("click", function(event) { deleteMessage(event.target); });
    $(".show_previous a").on("click", function() { refreshEvents({% if dateprevious %}null, "{{ dateprevious }}"{% endif %}); });
    $(".show_more a").on("click", function() { refreshEvents({% if datenext %}"{{ datenext }}"{% endif %}); });
    $(".event_link_trade").on("click", function(event) {
        refreshTrade($(event.target).data("tradeId"));
        $("#zone_tabs").tabs("option", "active", 1)
            .find("li[aria-controls=tab-trade]").find("a").text("View Trade");
    });
</script>