<div class="show_previous">{% if dateprevious %}<a>&lt; show previous events</a>{% endif %}</div>
{% for msg in messages %}
    <div class="event">
        <div class="event_time">{{ msg.posting_date|time }}</div>
        <div class="event_text">
            {% include "common/name_or_you.html" with who=msg.sender %}
            {% if msg.sender == game.master %} (<strong>game master</strong>) {% endif %}
            {% if msg.sender == user %} have {% else %} has {% endif %}
            posted a message:
        </div>
        <div class="message_content{% if msg.sender == game.master %} admin{% endif %}">{{ msg.content|safe|linebreaksbr }}</div>
    </div>
{% endfor %}
<div class="show_more">{% if datenext %}<a>show more events &gt;</a>{% endif %}</div>

<script>
    $(".show_previous a").on("click", function() { refreshEvents({% if dateprevious %}null, "{{ dateprevious }}"{% endif %}); });
    $(".show_more a").on("click", function() { refreshEvents({% if datenext %}"{{ datenext }}"{% endif %}); });
</script>