{% extends "base.html" %}
{% load filters %}
{% load staticfiles %}
{% load url from future %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css-tooltips.css' %}" />
{% endblock %}

{% block content %}
    <div class="header">Game #{{ game }}
        {% if game.is_active %} (started {{ game.start_date|timesince }} ago, ending in {{ game.end_date|timeuntil }})
        {% elif game.is_closed %} (started {{ game.start_date|timesince }} ago, closed {{ game.closing_date|timesince }} ago)
        {% elif game.is_ended %} (started {{ game.start_date|timesince }} ago, ended {{ game.end_date|timesince }} ago)
        {% else %} (starting in {{ game.start_date|timeuntil }}, ending in {{ game.end_date|timeuntil }}){% endif %}
        <span class="floatright">&lt; <a href="{% url 'welcome' %}">Back</a></span>
    </div>

    <div class="reminder">
        This game's players:
        {% for player in players %}
            {% if player == user %}<div class="game-player">{{ player.get_profile.name }} (you)</div>
            {% else %}<div class="game-player"><a href="{% url 'otherprofile' player.id %}">{{ player.get_profile.name }}</a></div>{% endif %}
        {% endfor %}

        {% if user in game.players.all and game.is_active and not hand_submitted %}
            <br/>
            <div class="floatright"><a href="{% url 'submit_hand' game.id %}">&gt; Click here to submit your hand and finish now.</a></div>
            <br/>
        {% endif %}
    </div>

    {% if rules or commodities %}
        <strong>Hand</strong>
        <div class="css_table">
            <div class="css_table-row">
                <div class="css_table-cell">
                    You own {{ rules|length }} rule card{{ rules|length|pluralize }}, and {{ nb_commodities }} commodit{{ nb_commodities|pluralize:"y,ies" }}{% if nb_commodities == 0 %}.{% else %}:<br/>
                    {% for cih in commodities %}
                        {% for copy in cih.nb_cards|as_range %}
                            <span class="minicard" data-tip="{{ cih.commodity.name }}" style="background-color: {{ cih.commodity.color }}">&nbsp;</span>
                        {% endfor %}
                    {% endfor %}{% endif %}
                </div>
            </div>
        </div>
        <a href="{% url 'hand' game.id %}">&gt; show more</a><br/>
        <br/>
    {% endif %}

    {% if user in game.players.all %}
        <strong>{% if pending_trades|length > 3 %}Last 3 pending trades{% else %}Pending trades{% endif %}</strong><br/>
        {% if pending_trades %}
            {% include "trade/trades_table.html" with trades=pending_trades|slice:":3" %}
        {% else %}
            <div class="helptext">No pending trades.</div>
        {% endif %}
        <a href="{% url 'trades' game.id %}">&gt; show more{% if game.is_active and not hand_submitted %} (or create a new trade proposal){% endif %}</a>
    {% endif %}

{% endblock %}