{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.10.3.custom.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.game_list.css' %}" />
{% endblock %}

{% block scripts %}
<script src="{% static 'jquery/jquery-1.8.2.min.js' %}"></script>
<script src="{% static 'jquery/jquery-ui-1.10.3.custom.min.js' %}"></script>
{% endblock %}

{% block content %}
	<strong>{{  user.name|capfirst }}</strong>, welcome to MysTrade !
	<br/><br/>
	<div>Your games :<br/>
		<div id="table_game_list">
			<div class="row_game_list header-row">
				<div class="cell_game_list">Game</div>
				<div class="cell_game_list">Ruleset</div>
				<div class="cell_game_list">Players</div>
				<div class="cell_game_list">Start date</div>
				<div class="cell_game_list">End date</div>
			</div>
			{% for game in games %}
            {% cycle 'even_color' 'odd_color' as backcolor silent %}
			<div class="row_game_list">
				<div class="cell_game_list {{ backcolor }}">
				    #{{ game.id }}, by
					{% if game.master == user %}<strong>{% endif %}{% include "common/name_or_you.html" with who=game.master %}{% if game.master == user %}</strong>{% endif %}
				</div>
				<div class="cell_game_list {{ backcolor }}">{{ game.ruleset.name }}</div>
				<div class="cell_game_list {{ backcolor }}"><span title="{{ game.list_of_players|join:', ' }}">{{ game.players.count }} players</span></div>
				<div class="cell_game_list {{ backcolor }}">{{ game.start_date|date:"SHORT_DATETIME_FORMAT" }}</div>
				<div class="cell_game_list {{ backcolor }}{% if game.less_than_24_hours_remaining and not game.hand_submitted %} end_warning{% endif %}">
                    {{ game.end_date|date:"SHORT_DATETIME_FORMAT" }}
                </div>
                <div class="cell_game_list {{ backcolor }}"> > </div>
                <div class="cell_game_list {{ backcolor }}">
                    <a href="{% url 'game' game.id %}">
                    {% if user in game.players.all %}
                        {% if game.is_closed %}Show Score
                        {% elif game.is_active and not game.hand_submitted %}Play !
                        {% else %}Show Game{% endif %}
                    {% elif user == game.master or user.is_staff %}
                        Game Page
                    {% endif %}
                    </a>
                </div>
                <div class="cell_game_list">
                    {% if game.is_active %}
                        {% if user in game.players.all and game.hand_submitted %}
                            <span class="helptext">hand submitted</span>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    {% elif game.is_closed %}
                        <span class="helptext">game closed</span>
                    {% elif game.has_ended %}
                        <span class="helptext">game ended</span>
                    {% else %}
                        <span class="helptext">not started</span>
                    {% endif %}
                </div>
			</div>
			{% endfor %}
		</div>
	</div>
	
	{% if perms.game.add_game %}
	<br/><br/>
	<form action="{% url 'create_game' %}" method="GET">
		<input type="submit" value="Create new game"/>
	</form>
	{% endif %}
	
	<script>
    $(function() {
        $( "input[type=submit]" ).button();
        $("span").tooltip({position: {  my: "left top", at: "right bottom" } });
    });
    </script>
{% endblock content %}