{% extends "base.html" %}
{% load filters %}

{% block content %}
	<div class="header">Your hand for game #{{ game }} (ending in {{ game.end_date|timeuntil }})</div>
	<h4>Rules Owned</h4>
	<div class="css_table">
		{% for card in rule_hand %}
			{% if forloop.first or forloop.counter0|divisibleby:"4" %}
			<div class="css_table-row">
			{% endif %}
				<div class="css_table-cell card">
					<div class="card_name">{{ card.rulecard.public_name }}</div>
					<div class="card_desc">{{ card.rulecard.description }}</div>
				</div>
			{% if forloop.counter|divisibleby:"4" or forloop.last %}
			</div>
			{% endif %}
		{% endfor %}
	</div>
    <h4>Commodities</h4>
    <div class="css_table">
        <div class="css_table-row">
            {% for card in commodity_hand %}
            <div class="css_table-cell card">
                <div class="card_name">{{ card.commodity.name }}</div>
                <div class="card_copies">
                {% for copy in card.nb_cards|as_range %}
                    <span class="minicard" style="background-color: {{ card.commodity.color }}">&nbsp;</span>
                {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <h4>Free informations</h4>
    {% for offer in free_informations %}
        {{ offer.free_information }}<br/>
    {% endfor %}

{% endblock content %}