{% extends "base.html" %}
{% load url from future %}
{% load filters %}

{% block content %}
	<div class="header">Your hand for game #{{ game }} (ending in {{ game.end_date|timeuntil }})
        <span class="floatright">&lt; <a href="{% url 'welcome' %}">Back</a></span></div>
	<h4>Rules owned</h4>
	<div class="css_table">
		{% for card in rule_hand %}
			{% if forloop.first or forloop.counter0|divisibleby:"4" %}
			<div class="css_table-row">
			{% endif %}
				<div class="css_table-cell card">
					<div class="card_name">{{ card.rulecard.public_name }}</div>
					<div class="card_desc">{{ card.rulecard.description }}</div>
				</div>
			{% if forloop.counter|divisibleby:"4" or forloop.last %}
			</div>
			{% endif %}
		{% endfor %}
	</div>
    {% if former_rules %}
        <h4>Rules previously owned</h4>
        <div class="css_table">
            {% for card in former_rules %}
                {% if forloop.first or forloop.counter0|divisibleby:"4" %}
                    <div class="css_table-row">
                {% endif %}
            <div class="css_table-cell card dashed">
                <div class="card_name">{{ card.public_name }}</div>
                <div class="card_desc">{{ card.description }}</div>
            </div>
            {% if forloop.counter|divisibleby:"4" or forloop.last %}
                </div>
            {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <h4>Commodities{% if hand_submitted %} submitted to the game master{% endif %}</h4>
    <div class="css_table">
        <div class="css_table-row">
            {% for card in commodity_hand %}
            <div class="css_table-cell card">
                <div class="card_name">{{ card.commodity.name }}</div>
                <div class="card_copies">
                {% if hand_submitted %}
                    {% for copy in card.nb_submitted_cards|as_range %}
                        <span class="minicard" style="background-color: {{ card.commodity.color }}">&nbsp;</span>
                    {% endfor %}
                {% else %}
                    {% for copy in card.nb_cards|as_range %}
                        <span class="minicard" style="background-color: {{ card.commodity.color }}">&nbsp;</span>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if commodity_hand_not_submitted %}
        <h4>Commodities not submitted (won't count in the score)</h4>
        <div class="css_table">
            <div class="css_table-row">
                {% for card in commodity_hand_not_submitted %}
                    <div class="css_table-cell card dashed">
                        <div class="card_name">{{ card.commodity.name }}</div>
                        <div class="card_copies">
                            {% for copy in card.nb_cards|as_range %}
                                <span class="minicard" style="background-color: {{ card.commodity.color }}">&nbsp;</span>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if free_informations %}
        <h4>Free informations obtained during this game</h4>
        {% for offer in free_informations %}
            <fieldset class="free_information">
                <legend>from <strong>{{ offer.offerer }}</strong>, {{ offer.date|timesince }} ago</legend>
                {{ offer.free_information }}<br/>
            </fieldset>
        {% endfor %}
    {% endif %}

{% endblock content %}