{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.scoring.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/style.css-tooltips.css' %}" />
{% endblock %}

{% block content %}
    <div class="header">Scores for game #{{ game }}
        <span class="floatright">&lt; <a href="{% url 'welcome' %}">Back</a></span></div>

    <div class="reminder">This game was closed on {{ game.end_date }} ({{ game.end_date|timesince }} ago).</div>

    {% if rank == 1 %}
        <div class="congrats">Congratulations {{ user.get_profile.name }}, you won this game !</div>
    {% elif rank == 2 %}
        <div class="congrats">Congratulations {{ user.get_profile.name }}, you reached the second place.</div>
    {% elif rank == 3 %}
        <div class="congrats">Congratulations {{ user.get_profile.name }}, you reached the third place.</div>
    {% endif %}

    {% include "scoring/score.html" %}
{% endblock %}