{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.10.3.custom.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.create.game.css' %}"/>
{% endblock %}

{% block scripts %}
<script src="{% static 'jquery/jquery-1.8.2.min.js' %}"></script>
<script src="{% static 'jquery/jquery-ui-1.10.3.custom.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="header">Select at most {{ session.players|length }} rule cards (including the mandatory ones) :
        <span class="action"><img src="{% static "select.png" %}" height="16" width="16" alt=""/>
            <span class="dynamic_link" id="selectall">Select all</span>
        </span>
    </div>

    <div id="game_details">
        <div class="note" id="rule_counter">Rules : <span id="nb_selected_rules"></span> / {{ session.players|length }}</div>
        <div><strong>You selected:</strong></div>
        <div>Ruleset : {{ session.ruleset }} &mdash;
        Start date : {{ session.start_date|date:"SHORT_DATETIME_FORMAT" }} &mdash;
        End date : {{ session.end_date|date:"SHORT_DATETIME_FORMAT" }}</div>

        {{ session.players|length }} players :
        {% for player in session.players %}
            <div class="game-player"><a href="{% url 'otherprofile' player.id %}">{{ player.name }}</a></div>
        {% endfor %}
    </div>

    <form action="{% url 'select_rules' %}" method="POST">{% csrf_token %}
        {% if error %}
            <div class="errors" id="error_rules">
                <img class="warning" src="{% static 'warning.png' %}" height="16" width="16" alt=""/>
                {{ error }}
            </div>
        {% endif %}
        <div id="zone_rules">
            <div id="zone_rulecards">
                {% for rulecard in rulecards %}
                    <div class="rulecard{% if rulecard.mandatory %} mandatory card_selected{% else %} selectable{% endif %}{% if rulecard.selected %} card_selected{% endif %}">
                        {% if rulecard.mandatory %}<div class="note helptext">(mandatory)</div>
                        {% else %}<input type="hidden" name="rulecard_{{ rulecard.id }}" value="{% if rulecard.selected %}True{% else %}False{% endif %}"/>{% endif %}
                        <div class="rulecard_name">{{ rulecard.public_name }}</div>
                        <div class="rulecard_desc">{{ rulecard.description }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

    	<div id="submit_form"><input type="submit" value="Submit"/></div>
	</form>

	<script>
    $(function() {
        updateCounter();
        $('input[type=submit]').button();
    });

    $("#zone_rulecards").find(".rulecard").not(".mandatory").on("click", function() {
        var rulecardElement = $(this);
        var hiddenInput = rulecardElement.find("input[name^=rulecard]");
        if (rulecardElement.hasClass("card_selected")) {
            hiddenInput.val("False");
        } else {
            hiddenInput.val("True");
        }
        rulecardElement.toggleClass("card_selected");

        updateCounter();
    });

    function updateCounter() {
        var count = $("#zone_rulecards").find(".rulecard.card_selected").length;
        $("#nb_selected_rules").text(count);
    }

    var selectall = true;
    $('#selectall').click(function() {
        $("#zone_rulecards").find(".rulecard").not(".mandatory").each(function() {
            $(this).toggleClass("card_selected", selectall).find("input[name^=rulecard]").val(selectall ? "True" : "False");
        });
        updateCounter();
		selectall = !selectall;
		$('#selectall').text(selectall ? 'Select all' : 'Deselect all');
    });
    </script>
{% endblock content %}