{% load filters %}
{% load staticfiles %}

This game will end on {{ game.end_date }} ({{ game.end_date|timeuntil }} from now on).<br/>
At this moment, <strong>all</strong> your commodity cards will automatically be submitted back to the game master for scoring.<br/>
You can <a class="link_cancel_submit_hand">cancel</a> now if you are fine with this procedure.<br/>
<br/>
Alternatively, you may submit only <em>some</em> of your commodity cards <strong>and</strong> finish your game now. Select those cards below.<br/>
Please note that, if you do, you will not be able to propose or respond to any trade until the actual end of the game, and all your pending trades
will be cancelled.

<form id="submit_hand">{% csrf_token %}
    <div id="zone_choose_commodities">
        <h3>Deselect the commodities you want to exclude (click on the cards)</h3>
        <div id="submit_hand_validation_error" class="errors"></div>

        {% for cih in commodities %}
            {% for copy in cih.nb_cards|as_range %}
                {% include "common/commodity_card.html" with commodity=cih.commodity extra_classes="selectable card_selected"%}
            {% endfor %}
        {% endfor %}

        {% for commodity in offer_form.commodities %}{{ commodity }}{% endfor %}

        <div id="zone_buttons">
            <div id="submit_hand_global_error" class="errors"></div>
            <input type="submit" class="submit_hand_button" value="Submit this choice and finish the game"/>&nbsp;
            <a class="cancel_link link_cancel_submit_hand">cancel</a>
            <br/>
            <span class="helptext">You won't be able to modify your choice or come back trading !</span>
        </div>
    </div>

    <div id="zone_rules">
        <h3>Rules You Know</h3>

        <div id="zone_rulecards">
            {% for rih in rulecards %}
                <div class="rulecard" data-rih-id="{{ rih.id }}" data-public-name="{{ rih.rulecard.public_name }}">
                    <div class="note helptext"></div>
                    <div class="rulecard_name">{{ rih.rulecard.public_name }}</div>
                    <div class="rulecard_desc">{{ rih.rulecard.description }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if free_informations %}
        <div id="zone_free_informations">
            <h3>Free informations obtained during this game</h3>
            {% for offer in free_informations %}
                <fieldset class="free_information">
                    <legend>from <strong>{{ offer.offerer }}</strong>, {{ offer.date|timesince }} ago</legend>
                    <span class="free_information_text">{{ offer.free_information }}</span><br/>
                </fieldset>
            {% endfor %}
        </div>
    {% endif %}
</form>

<script>
    var zoneChooseCommodities = $("#zone_choose_commodities");

    $(function() {
        $('input[type=submit]').button();
    });

    function clickOnCommodityInSubmitHand() {
        var commodityId = $(this).data("commodityId");
        var hiddenInput = zoneChooseCommodities.find("input#id_commodity_" + commodityId)
        var currentNumber = parseInt(hiddenInput.val(), 10) || 0;
        if ($(this).hasClass("card_selected")) {
            hiddenInput.val(currentNumber - 1);
        } else {
            hiddenInput.val(currentNumber + 1);
        }
        $(this).toggleClass("card_selected");
    }

    zoneChooseCommodities.find(".commodity_card").on("click", clickOnCommodityInSubmitHand);

    $("#submit_hand").on("submit", function() {
        $.post("{% url 'submit_hand' game.id %}", $(this).serialize())
            .fail(function(jqXHR) {
                $("body").css("cursor", "");
                zoneChooseCommodities.find(".selectable").on("click", clickOnCommodityInSubmitHand);
                var warningIcon = '<img class="warning" src="{% static 'warning.png' %}" height="16" width="16" alt=""/>';
                if (jqXHR.status == 422) {
                    zoneChooseCommodities.find("#submit_hand_validation_error").html(warningIcon + jqXHR.responseText)
                }
                else {
                    zoneChooseCommodities.find("#submit_hand_global_error").html(warningIcon + "Error sending data. Please try again.");
                }
            })
            .done(function() {
                debugger;
                window.location.reload(true);
            });
        $("body").css("cursor", "wait");
        $(this).find(".selectable").off("click");
        zoneChooseCommodities.find("#submit_hand_global_error").text("");
        zoneChooseCommodities.find("#submit_hand_validation_error").text("");
        return false;
    });

    $(".link_cancel_submit_hand").on("click", function() {
        $("#zone_submit_hand").dialog("close");
    });
</script>