{% extends "base.html" %}
{% load filters %}
{% load staticfiles %}
{% load url from future %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.9.1.custom.min.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'jquery/jquery-1.8.2.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui-1.9.1.custom.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="header">Your trades for game #{{ game }} (ending in {{ game.end_date|timeuntil }})</div>

    <div class="css_table">
        {% for trade in trades %}
            {% cycle 'even_color' 'odd_color' as color silent %}
            <div class="css_table-row{% if trade.status == 'ACCEPTED' or trade.status == 'DECLINED' %} done{% elif trade.status == 'CANCELLED' %} cancelled{% endif %}">
                <div class="css_table-cell {{ color }}">
                    Trade proposed by {% if trade.initiator == user %}<strong>you</strong>{% else %}{{ trade.initiator.get_profile.name }}{% endif %}
                    to {% if trade.responder == user %}<strong>you</strong>{% else %}{{ trade.responder.get_profile.name }}{% endif %}
                </div>
                <div class="css_table-cell {{ color }}">for {{ trade.summary }}</div>
                <div class="css_table-cell {{ color }}">
                    {% if trade.status == 'INITIATED' %}
                        {% if trade.initiator == user %}submitted{% else %}offered{% endif %} {{ trade.creation_date|timesince }} ago
                    {% elif trade.status == 'CANCELLED' %}
                        cancelled by {% if trade.initiator == user %}<strong>you</strong>{% else %}{{ trade.initiator.get_profile.name }}{% endif %} {{ trade.closing_date|timesince }} ago
                    {% elif trade.status == 'ACCEPTED' %}
                        accepted {{ trade.closing_date|timesince }} ago
                    {% elif trade.status == 'DECLINED' %}
                        declined {{ trade.closing_date|timesince }} ago
                    {% endif %}
                </div>
                <div class="css_table-cell {{ color }}">
                    {% if trade.status == 'INITIATED' and trade.responder = user %}
                        <a href="{% url 'show_trade' game.id trade.id %}"><span class="new">Reply</span></a>
                    {% else %}
                        <a href="{% url 'show_trade' game.id trade.id %}">Show</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <form action="{% url 'create_trade' game.id %}" method="GET">
        <input type="submit" value="Set up trade proposal" />
    </form>

    <script>
        $(function() {
            $( "input[type=submit]" ).button();
        });
    </script>
{% endblock content %}