{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.9.1.custom.min.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css-tooltips.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'jquery/jquery-1.8.2.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui-1.9.1.custom.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="header">Trade for game #{{ game }} (ending in {{ game.end_date|timeuntil }})
        <span class="floatright">&lt; <a href="{% url 'trades' game.id %}">Back</a></span></div>
    {% if not trade %}
        {# Trade creation #}
        <form action="{% url 'create_trade' game.id %}" method="post">{% csrf_token %}
        <div>Set up a new trade proposal to : {{ trade_form.responder }}&nbsp;<span class="errors">{{ trade_form.responder.errors.as_text }}</span></div>
        {% include "game/create_offer.html" with submit="Propose this trade" %}
        </form>
    {% else %}
        <div>Trade proposed by {% include "common/name_or_you.html" with who=trade.initiator %} to {% include "common/name_or_you.html" with who=trade.responder %} &mdash;
        Status : {% if trade.status == 'INITIATED' %}waiting for response by {% include "common/name_or_you.html" with who=trade.responder %}
        {% elif trade.status == 'CANCELLED' %}cancelled by {% include "common/name_or_you.html" with who=trade.finalizer %} {{ trade.closing_date|timesince }} ago
        {% elif trade.status == 'DECLINED' %}declined by {% include "common/name_or_you.html" with who=trade.finalizer %} {{ trade.closing_date|timesince }} ago
        {% elif trade.status == 'REPLIED' %}waiting for definitive agreement by {% include "common/name_or_you.html" with who=trade.initiator %}
        {% elif trade.status == 'ACCEPTED' %}accepted and performed
        {% endif %}
        </div>

        {# First, display the initiator's offer. #}
        <h3>Offered by {% include "common/name_or_you.html" with who=trade.initiator %}:</h3>
        {% include "game/display_offer.html" with offer=trade.initiator_offer giver=trade.initiator %}

        {% if trade.status == 'INITIATED' %}
            {% if user == trade.initiator  %}
                <div class="floatright">
                    <form action="{% url 'cancel_trade' trade.game.id trade.id %}" method="post">{% csrf_token %}
                        <input type="submit" value="Cancel this trade"/>
                    </form>
                </div>
            {% else %}
                <div class="floatright">
                    <button type="button" id="reply">Reply with your offer</button> &nbsp;&nbsp;
                    <button type="button" id="decline">Decline</button>
                </div>
                <div id="offer"><h3>Your offer:</h3>
                    <form action="{% url 'reply_trade' game.id trade.id %}" method="post">{% csrf_token %}
                    {% include "game/create_offer.html" with submit="Reply with this offer" %}
                    </form>
                </div>
                <div id="reason"><h3>Would you like to explain why you decline this offer ? (optional)</h3>
                    <form action="{% url 'decline_trade' game.id trade.id %}" method="post">{% csrf_token %}
                        <div>{{ decline_reason_form.decline_reason }}<br/>
                        <span class="helptext">The other player will see this comment.</span></div>
                        <div class="floatright">
                            <input type="submit" value="Yes, I confirm I decline"/> &nbsp;&nbsp;
                            <button type="button" id="cancel_decline">Let me think again</button>
                        </div>
                    </form>
                </div>
            {% endif %}
        {% elif trade.status == 'CANCELLED' and trade.finalizer == trade.initiator %}
            {# Nothing more to display for trades cancelled by the initiator #}
        {% else %}
            {# Display the responder's offer. #}
            <h3>Offered by {% include "common/name_or_you.html" with who=trade.responder %}:</h3>
            {% include "game/display_offer.html" with offer=trade.responder_offer giver=trade.responder %}

            {% if trade.status == 'REPLIED' %}
                {% if user == trade.responder %}
                <div class="floatright">
                    <form action="{% url 'cancel_trade' trade.game.id trade.id %}" method="post">{% csrf_token %}
                        <input type="submit" value="Cancel this trade"/>
                    </form>
                </div>
                {% elif user == trade.initiator %}
                    <div class="floatright">
                        <form action="{% url 'accept_trade' trade.game.id trade.id %}" method="post">{% csrf_token %}
                            <input type="submit" value="Accept this trade"/>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        <br/><br/><br/>
    {% endif %}

    <script>
        $(function() {
            $('input[type=submit], button').button();
            $('#reason').hide();
            $('#decline').on("click", function() {
                $('#reason').show("blind");
                $('#reply').hide("blind");
                $('#decline').hide("blind");
            })
            $('#cancel_decline').on("click", function() {
                $('#reason').hide("blind");
                $('#reply').show("blind");
                $('#decline').show("blind");
            })
        {% if errors %}
            $('#reply').hide();
        {% else %}
            $('#offer').hide();
            $('#reply').on("click", function() {
                $('#offer').show("blind");
                $('#reply').hide("blind");
                $('#decline').hide("blind")
            })
        {% endif %}
        });
    </script>
{% endblock content %}