{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block styles %}
<link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.9.1.custom.min.css' %}" />
{% endblock %}

{% block scripts %}
<script src="{% static 'jquery/jquery-1.8.2.min.js' %}"></script>
<script src="{% static 'jquery/jquery-ui-1.9.1.custom.min.js' %}"></script>
{% endblock %}

{% block content %}
	{{ user.username|capfirst }}, welcome to MysTrade !
	<br/><br/>
	<div>Your games :<br/>
		<div class="css_table">
			<div class="css_table-row header-row">
				<div class="css_table-cell">Game</div>
				<div class="css_table-cell">Players</div>
				<div class="css_table-cell">Start date</div>
				<div class="css_table-cell">End date</div>
			</div>
			{% for game in games %}
			<div class="css_table-row {% cycle 'even_color' 'odd_color' %}">
				<div class="css_table-cell">{{ game.ruleset }}, by {{ game.master.get_profile.name }}</div>
				<div class="css_table-cell">{{ game.players.count }} players</div>
				<div class="css_table-cell">{{ game.start_date|date:"SHORT_DATETIME_FORMAT" }}</div>
				<div class="css_table-cell">{{ game.end_date|date:"SHORT_DATETIME_FORMAT" }}</div>
			</div>
			{% endfor %}
		</div>
	</div>
	
	{% if perms.game.add_game %}
	<br/><br/>
	<form action="{% url 'create_game' %}" method="GET">
		<input type="submit" value="Create new game"/>
	</form>
	{% endif %}
	
	<script>
    $(function() {
        $( "input[type=submit]" ).button();
    });
    </script>
{% endblock content %}