{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block styles %}
<link rel="stylesheet" href="{% static 'jquery/jquery-ui-1.9.1.custom.min.css' %}" />
<link rel="stylesheet" href="{% static 'style.css-tooltips.css' %}" />
{% endblock %}

{% block scripts %}
<script src="{% static 'jquery/jquery-1.8.2.min.js' %}"></script>
<script src="{% static 'jquery/jquery-ui-1.9.1.custom.min.js' %}"></script>
{% endblock %}

{% block content %}
	{{ user.username|capfirst }}, welcome to MysTrade !
	<br/><br/>
	<div>Your games :<br/>
		<div class="css_table">
			<div class="css_table-row header-row">
				<div class="css_table-cell">Game</div>
				<div class="css_table-cell">Players</div>
				<div class="css_table-cell">Start date</div>
				<div class="css_table-cell">End date</div>
			</div>
			{% for game in games %}
            {% cycle 'even_color' 'odd_color' as color silent %}
			<div class="css_table-row">
				<div class="css_table-cell {{ color }}">
				    #{{ game.id }}, by
					{% if game.master == user %}<strong>{% endif %}{% include "common/name_or_you.html" with who=game.master %}{% if game.master == user %}</strong>{% endif %}
				</div>
				<div class="css_table-cell {{ color }}"><span data-tip="{{ game.list_of_players|join:', ' }}">{{ game.players.count }} players</span></div>
				<div class="css_table-cell {{ color }}">{{ game.start_date|date:"SHORT_DATETIME_FORMAT" }}</div>
				<div class="css_table-cell {{ color }}">{{ game.end_date|date:"SHORT_DATETIME_FORMAT" }}</div>
                <div class="css_table-cell {{ color }}"> > </div>
                <div class="css_table-cell {{ color }}">{% if user in game.players.all %}<a href="{% url 'hand' game.id %}">Show Hand</a>{% endif %}</div>
                <div class="css_table-cell {{ color }}"><a href="{% url 'trades' game.id %}">Show Trades</a></div>
			</div>
			{% endfor %}
		</div>
	</div>
	
	{% if perms.game.add_game %}
	<br/><br/>
	<form action="{% url 'create_game' %}" method="GET">
		<input type="submit" value="Create new game"/>
	</form>
	{% endif %}
	
	<script>
    $(function() {
        $( "input[type=submit]" ).button();
    });
    </script>
{% endblock content %}