/* Base tags styling */
/* line 4, ../../resources/scss/_base.scss */
body {
  background-color: #ffb600;
  width: 980px;
  margin: 5px auto 0 auto;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 9pt; }

/* line 11, ../../resources/scss/_base.scss */
h3 {
  margin: 4px 0;
  font-size: 10pt; }

/* line 16, ../../resources/scss/_base.scss */
a, .dynamic_link {
  color: #800024;
  font-weight: normal;
  text-decoration: none; }
  /* line 21, ../../resources/scss/_base.scss */
  a.game-player, .dynamic_link.game-player {
    font-weight: inherit;
    color: darkgreen; }

/* line 27, ../../resources/scss/_base.scss */
a:hover, .dynamic_link:hover {
  text-decoration: underline;
  cursor: pointer; }

/* line 32, ../../resources/scss/_base.scss */
a img, .icon {
  border: 0px;
  vertical-align: text-top; }

/* line 37, ../../resources/scss/_base.scss */
input[type="text"], input[type="password"], textarea, select {
  border: 1px solid #ffd773; }

/* line 41, ../../resources/scss/_base.scss */
input, textarea, select {
  font-size: 10px;
  font-weight: normal;
  background-color: #FAFFBD;
  margin: 2px 0;
  padding: 2px 3px; }

/* line 48, ../../resources/scss/_base.scss */
select {
  height: 2em; }

/* line 51, ../../resources/scss/_base.scss */
select[multiple] {
  height: auto; }

/* line 55, ../../resources/scss/_base.scss */
input[type="submit"] {
  background-color: #DDDDDD; }

/* line 59, ../../resources/scss/_base.scss */
textarea {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  width: 100%; }

/* Page structure */
/* line 67, ../../resources/scss/_base.scss */
#zone_toplinks {
  top: 2px;
  text-align: right;
  margin-bottom: -20px;
  margin-right: 20px; }

/* line 74, ../../resources/scss/_base.scss */
#zone_logobox {
  width: 422px;
  top: 10px; }
  /* line 78, ../../resources/scss/_base.scss */
  #zone_logobox #zone_motto {
    position: relative;
    top: -10px;
    left: 15px;
    font-family: "Garamond", "Times New Roman", serif;
    font-size: 1.4em;
    font-style: italic;
    color: black;
    letter-spacing: 7px; }
  /* line 87, ../../resources/scss/_base.scss */
  #zone_logobox a:hover {
    text-decoration: none; }

/* line 92, ../../resources/scss/_base.scss */
#zone_content {
  padding: 10px; }

/* Miscellaneous common styles */
/* line 97, ../../resources/scss/_base.scss */
.helptext, .upperhelptext, .lowerhelptext {
  font-size: 8pt;
  font-weight: normal;
  font-style: italic;
  color: #a67600; }

/* line 102, ../../resources/scss/_base.scss */
.upperhelptext {
  display: block;
  margin-top: -0.6em; }

/* line 108, ../../resources/scss/_base.scss */
.lowerhelptext {
  display: block;
  margin-top: 0.4em; }

/* line 114, ../../resources/scss/_base.scss */
.game-player {
  display: inline;
  border: 1px solid #ffd773;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0 3px;
  margin: 0 2px;
  line-height: 20px; }
  /* line 122, ../../resources/scss/_base.scss */
  .game-player:hover {
    background-color: #ffd773; }

/* line 129, ../../resources/scss/_base.scss */
.commodity_card {
  display: inline-block;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  width: 25px;
  height: 50px;
  margin: 3px; }
  /* line 136, ../../resources/scss/_base.scss */
  .commodity_card.excluded {
    background: url(../stripe.png); }
  /* line 140, ../../resources/scss/_base.scss */
  .commodity_card.card_selected {
    border: gray solid 3px;
    margin: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }

/* line 150, ../../resources/scss/_base.scss */
.rulecard {
  border: 1px solid #ffd773;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  float: left;
  width: 235px;
  height: 140px;
  margin: 3px;
  padding: 4px 8px; }
  /* line 159, ../../resources/scss/_base.scss */
  .rulecard.former {
    border: 1px dashed #ffd773;
    color: #644700; }
  /* line 164, ../../resources/scss/_base.scss */
  .rulecard .rulecard_name {
    font-size: 1.5em;
    font-weight: bold; }
  /* line 168, ../../resources/scss/_base.scss */
  .rulecard .rulecard_desc {
    line-height: 1.2em; }
  /* line 172, ../../resources/scss/_base.scss */
  .rulecard.excluded {
    background: url(../stripe.png); }
  /* line 177, ../../resources/scss/_base.scss */
  .rulecard.card_selected {
    border: gray solid 3px;
    margin: 1px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }

/* line 185, ../../resources/scss/_base.scss */
.rulecard_thumbnail {
  display: inline-block;
  text-align: center;
  border: 1px solid #ffd773;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 22px;
  min-width: 1em;
  margin: 1px;
  padding: 4px;
  font-size: 1.4em;
  font-weight: bold; }

/* line 197, ../../resources/scss/_base.scss */
.note {
  float: right; }

/* line 201, ../../resources/scss/_base.scss */
.errors {
  font-size: 0.8em;
  color: #a67600; }

/* line 206, ../../resources/scss/_base.scss */
.warning {
  margin-right: 5px;
  vertical-align: bottom; }

/* line 211, ../../resources/scss/_base.scss */
.selectable:hover {
  cursor: pointer; }

@media handheld, only screen and (max-device-width: 767px) {
  /* line 4, ../../resources/scss/_responsive.scss */
  body, .fullwidth {
    width: auto; }

  /* line 7, ../../resources/scss/_responsive.scss */
  textarea {
    width: 80%; }

  /* line 10, ../../resources/scss/_responsive.scss */
  input, textarea, select {
    font-size: 12px; }

  /* line 13, ../../resources/scss/_responsive.scss */
  #zone_toplinks {
    margin-bottom: 0; }

  /* line 16, ../../resources/scss/_responsive.scss */
  #zone_logobox {
    width: 300px; }
    /* line 18, ../../resources/scss/_responsive.scss */
    #zone_logobox img {
      max-width: 300px; }
    /* line 21, ../../resources/scss/_responsive.scss */
    #zone_logobox #zone_motto {
      font-size: 1em;
      letter-spacing: 5px; }

  /* line 26, ../../resources/scss/_responsive.scss */
  .message_area {
    width: auto; }

  /* line 29, ../../resources/scss/_responsive.scss */
  .message_content {
    width: auto; } }
/* line 3, ../../resources/scss/style.login.scss */
#zone_content {
  background-color: #ffbf00;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 1px solid #ffd773;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  width: 21em;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset, 0px 2px 2px 0px rgba(255, 255, 255, 0.5); }
  /* line 18, ../../resources/scss/style.login.scss */
  #zone_content table.login {
    width: auto; }
    /* line 21, ../../resources/scss/style.login.scss */
    #zone_content table.login td {
      vertical-align: middle; }

/* line 28, ../../resources/scss/style.login.scss */
.form-row .label {
  color: #333333;
  float: left;
  font-size: 1em;
  line-height: 2em;
  padding-right: 0.5em;
  text-align: right;
  width: 9em; }
/* line 38, ../../resources/scss/style.login.scss */
.form-row .input {
  width: 14em; }

/* line 43, ../../resources/scss/style.login.scss */
.submit-row {
  padding-top: 1em;
  padding-bottom: 0.5em; }
