/* Base tags styling */
/* line 4, ../../resources/scss/_base.scss */
body {
  background-color: #ffb600;
  width: 980px;
  margin: 5px auto 0 auto;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 10pt; }

/* line 11, ../../resources/scss/_base.scss */
h3 {
  margin: 4px 0; }

/* line 15, ../../resources/scss/_base.scss */
a, .dynamic_link {
  color: #800024;
  font-weight: normal;
  text-decoration: none; }
  /* line 20, ../../resources/scss/_base.scss */
  a.game-player, .dynamic_link.game-player {
    font-weight: inherit;
    color: darkgreen; }

/* line 26, ../../resources/scss/_base.scss */
a:hover, .dynamic_link:hover {
  text-decoration: underline;
  cursor: pointer; }

/* line 31, ../../resources/scss/_base.scss */
a img, .icon {
  border: 0px;
  vertical-align: text-top; }

/* line 36, ../../resources/scss/_base.scss */
input[type="text"], input[type="password"], textarea, select {
  border: 1px solid #ffd773; }

/* line 40, ../../resources/scss/_base.scss */
input, textarea, select {
  font-size: 10px;
  font-weight: normal;
  background-color: #FAFFBD;
  margin: 2px 0;
  padding: 2px 3px; }

/* line 47, ../../resources/scss/_base.scss */
select {
  height: 2em; }

/* line 50, ../../resources/scss/_base.scss */
select[multiple] {
  height: auto; }

/* line 54, ../../resources/scss/_base.scss */
input[type="submit"] {
  background-color: #DDDDDD; }

/* line 58, ../../resources/scss/_base.scss */
textarea {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  width: 100%; }

/* Page structure */
/* line 66, ../../resources/scss/_base.scss */
#zone_toplinks {
  top: 2px;
  text-align: right;
  margin-bottom: -20px;
  margin-right: 20px; }

/* line 73, ../../resources/scss/_base.scss */
#zone_logobox {
  width: 422px;
  top: 10px; }
  /* line 77, ../../resources/scss/_base.scss */
  #zone_logobox #zone_motto {
    position: relative;
    top: -10px;
    left: 15px;
    font-family: "Garamond", "Times New Roman", serif;
    font-size: 1.3em;
    font-style: italic;
    color: black;
    letter-spacing: 7px; }
  /* line 86, ../../resources/scss/_base.scss */
  #zone_logobox a:hover {
    text-decoration: none; }

/* line 91, ../../resources/scss/_base.scss */
#zone_content {
  padding: 10px; }

/* Miscellaneous common styles */
/* line 96, ../../resources/scss/_base.scss */
.helptext, .upperhelptext, .lowerhelptext {
  font-size: 8pt;
  font-weight: normal;
  font-style: italic;
  color: #a67600; }

/* line 101, ../../resources/scss/_base.scss */
.upperhelptext {
  display: block;
  margin-top: -0.6em; }

/* line 107, ../../resources/scss/_base.scss */
.lowerhelptext {
  display: block;
  margin-top: 0.4em; }

/* line 113, ../../resources/scss/_base.scss */
.game-player {
  display: inline;
  border: 1px solid #ffd773;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0 3px;
  margin: 0 2px;
  line-height: 20px; }
  /* line 121, ../../resources/scss/_base.scss */
  .game-player:hover {
    background-color: #ffd773; }

/* line 126, ../../resources/scss/_base.scss */
.minicard {
  display: inline-block;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  width: 25px;
  height: 50px;
  margin: 1px 1px; }

@media handheld, only screen and (max-device-width: 767px) {
  /* line 4, ../../resources/scss/_responsive.scss */
  body, .fullwidth {
    width: auto; }

  /* line 7, ../../resources/scss/_responsive.scss */
  textarea {
    width: 80%; }

  /* line 10, ../../resources/scss/_responsive.scss */
  input, textarea, select {
    font-size: 12px; }

  /* line 13, ../../resources/scss/_responsive.scss */
  #zone_toplinks {
    margin-bottom: 0; }

  /* line 16, ../../resources/scss/_responsive.scss */
  #zone_logobox {
    width: 300px; }
    /* line 18, ../../resources/scss/_responsive.scss */
    #zone_logobox img {
      max-width: 300px; }
    /* line 21, ../../resources/scss/_responsive.scss */
    #zone_logobox #zone_motto {
      font-size: 1em;
      letter-spacing: 5px; }

  /* line 26, ../../resources/scss/_responsive.scss */
  .message_area {
    width: auto; }

  /* line 29, ../../resources/scss/_responsive.scss */
  .message_content {
    width: auto; } }
/* line 5, ../../resources/scss/style.game.board.scss */
#zone_game_header {
  overflow: auto;
  width: 100%; }

/* line 10, ../../resources/scss/style.game.board.scss */
#zone_game_label {
  float: left;
  width: 180px; }

/* line 15, ../../resources/scss/style.game.board.scss */
#game_label {
  font-size: 1.8em;
  font-weight: bold; }

/* line 19, ../../resources/scss/style.game.board.scss */
#zone_player_list {
  margin-left: 180px; }
  /* line 22, ../../resources/scss/style.game.board.scss */
  #zone_player_list > div {
    float: right; }

/* line 27, ../../resources/scss/style.game.board.scss */
#zone_game_main {
  overflow: auto;
  width: 100%; }

/* line 34, ../../resources/scss/style.game.board.scss */
#zone_hand {
  float: left;
  width: 500px; }
  /* line 38, ../../resources/scss/style.game.board.scss */
  #zone_hand #zone_links {
    height: 30px; }
  /* line 42, ../../resources/scss/style.game.board.scss */
  #zone_hand #zone_commodities {
    margin-bottom: 16px; }
  /* line 46, ../../resources/scss/style.game.board.scss */
  #zone_hand #zone_rules {
    display: inline-block;
    margin-bottom: 16px; }

/* line 52, ../../resources/scss/style.game.board.scss */
.minicard.not_submitted {
  background: url(../stripe.png); }

/* line 56, ../../resources/scss/style.game.board.scss */
.rulecard {
  border: 1px solid #ffd773;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  float: left;
  width: 228px;
  height: 140px;
  margin: 2px;
  padding: 4px 8px;
  font-size: 0.9em; }
  /* line 70, ../../resources/scss/style.game.board.scss */
  .rulecard.former {
    border: 1px dashed #ffd773;
    color: #644700; }
  /* line 75, ../../resources/scss/style.game.board.scss */
  .rulecard .rulecard_name {
    font-size: 1.4em;
    font-weight: bold; }
  /* line 79, ../../resources/scss/style.game.board.scss */
  .rulecard .rulecard_desc {
    line-height: 1.2em; }
  /* line 83, ../../resources/scss/style.game.board.scss */
  .rulecard .previously_owned {
    float: right; }

/* line 88, ../../resources/scss/style.game.board.scss */
.free_information {
  border: 1px solid #ffd773;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding-top: 10px;
  padding-left: 30px;
  font-size: 0.9em;
  color: #644700; }
  /* line 96, ../../resources/scss/style.game.board.scss */
  .free_information legend {
    color: #333333;
    font-style: italic;
    margin-left: -15px;
    padding: 0 5px; }

/* line 104, ../../resources/scss/style.game.board.scss */
#zone_tabs {
  margin-left: 500px; }
