/* Base tags styling */
/* line 4, ../../resources/scss/_base.scss */
body {
  background-color: #ffb600;
  width: 980px;
  margin: 5px auto 0 auto;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 9pt; }

/* line 11, ../../resources/scss/_base.scss */
h3 {
  margin: 4px 0;
  font-size: 10pt; }

/* line 16, ../../resources/scss/_base.scss */
a, .dynamic_link {
  color: darkgreen;
  font-weight: normal;
  text-decoration: none; }

/* line 22, ../../resources/scss/_base.scss */
a:hover, .dynamic_link:hover {
  text-decoration: underline;
  cursor: pointer; }

/* line 27, ../../resources/scss/_base.scss */
a img, .icon {
  border: 0px;
  vertical-align: text-top; }

/* line 32, ../../resources/scss/_base.scss */
input[type="text"], input[type="password"], textarea, select {
  border: 1px solid #ffd773; }

/* line 36, ../../resources/scss/_base.scss */
input, textarea, select {
  font-size: 10px;
  font-weight: normal;
  background-color: #FAFFBD;
  margin: 2px 0;
  padding: 2px 3px; }

/* line 43, ../../resources/scss/_base.scss */
select {
  height: 2em; }

/* line 46, ../../resources/scss/_base.scss */
select[multiple] {
  height: auto; }

/* line 50, ../../resources/scss/_base.scss */
input[type="submit"] {
  background-color: #DDDDDD; }

/* line 54, ../../resources/scss/_base.scss */
textarea {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  width: 100%; }

/* Page structure */
/* line 62, ../../resources/scss/_base.scss */
#zone_toplinks {
  top: 2px;
  text-align: right;
  margin-bottom: -20px;
  margin-right: 20px; }

/* line 69, ../../resources/scss/_base.scss */
#zone_logobox {
  width: 422px;
  top: 10px; }
  /* line 73, ../../resources/scss/_base.scss */
  #zone_logobox #zone_motto {
    position: relative;
    top: -10px;
    left: 15px;
    font-family: "Garamond", "Times New Roman", serif;
    font-size: 1.4em;
    font-style: italic;
    color: black;
    letter-spacing: 7px; }
  /* line 82, ../../resources/scss/_base.scss */
  #zone_logobox a:hover {
    text-decoration: none; }

/* line 87, ../../resources/scss/_base.scss */
#zone_content {
  padding: 10px; }

/* Miscellaneous common styles */
/* line 92, ../../resources/scss/_base.scss */
.helptext, .upperhelptext, .lowerhelptext {
  font-size: 8pt;
  font-weight: normal;
  font-style: italic;
  color: #a67600; }

/* line 97, ../../resources/scss/_base.scss */
.upperhelptext {
  display: block;
  margin-top: -0.6em; }

/* line 103, ../../resources/scss/_base.scss */
.lowerhelptext {
  display: block;
  margin-top: 0.4em; }

/* line 109, ../../resources/scss/_base.scss */
.game-player {
  display: inline;
  border: 1px solid #ffd773;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0 3px;
  margin: 0 2px;
  line-height: 20px; }
  /* line 117, ../../resources/scss/_base.scss */
  .game-player a {
    color: darkgreen; }
  /* line 121, ../../resources/scss/_base.scss */
  .game-player:hover {
    background-color: #ffd773; }

/* line 128, ../../resources/scss/_base.scss */
.commodity_card {
  display: inline-block;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  width: 25px;
  height: 50px;
  margin: 3px; }
  /* line 135, ../../resources/scss/_base.scss */
  .commodity_card.excluded {
    background: url(../stripe.png); }
  /* line 139, ../../resources/scss/_base.scss */
  .commodity_card.card_selected {
    border: gray solid 3px;
    margin: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }

/* line 149, ../../resources/scss/_base.scss */
.rulecard {
  border: 1px solid #ffd773;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  float: left;
  width: 235px;
  height: 140px;
  margin: 3px;
  padding: 4px 8px; }
  /* line 158, ../../resources/scss/_base.scss */
  .rulecard.former {
    border: 1px dashed #ffd773;
    color: #644700; }
  /* line 163, ../../resources/scss/_base.scss */
  .rulecard .rulecard_name {
    font-size: 1.5em;
    font-weight: bold; }
  /* line 167, ../../resources/scss/_base.scss */
  .rulecard .rulecard_desc {
    line-height: 1.2em; }
  /* line 171, ../../resources/scss/_base.scss */
  .rulecard.excluded {
    background: url(../stripe.png); }
  /* line 176, ../../resources/scss/_base.scss */
  .rulecard.card_selected {
    border: gray solid 3px;
    margin: 1px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }

/* line 184, ../../resources/scss/_base.scss */
.rulecard_thumbnail {
  display: inline-block;
  text-align: center;
  border: 1px solid #ffd773;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 22px;
  min-width: 1em;
  margin: 1px;
  padding: 4px;
  font-size: 1.4em;
  font-weight: bold; }

/* line 196, ../../resources/scss/_base.scss */
.note {
  float: right; }

/* line 200, ../../resources/scss/_base.scss */
.errors {
  font-size: 0.8em;
  color: #a67600; }

/* line 205, ../../resources/scss/_base.scss */
.warning {
  margin-right: 5px;
  vertical-align: bottom; }

/* line 210, ../../resources/scss/_base.scss */
.selectable:hover {
  cursor: pointer; }

@media handheld, only screen and (max-device-width: 767px) {
  /* line 4, ../../resources/scss/_responsive.scss */
  body, .fullwidth {
    width: auto; }

  /* line 7, ../../resources/scss/_responsive.scss */
  textarea {
    width: 80%; }

  /* line 10, ../../resources/scss/_responsive.scss */
  input, textarea, select {
    font-size: 12px; }

  /* line 13, ../../resources/scss/_responsive.scss */
  #zone_toplinks {
    margin-bottom: 0; }

  /* line 16, ../../resources/scss/_responsive.scss */
  #zone_logobox {
    width: 300px; }
    /* line 18, ../../resources/scss/_responsive.scss */
    #zone_logobox img {
      max-width: 300px; }
    /* line 21, ../../resources/scss/_responsive.scss */
    #zone_logobox #zone_motto {
      font-size: 1em;
      letter-spacing: 5px; }

  /* line 26, ../../resources/scss/_responsive.scss */
  .message_area {
    width: auto; }

  /* line 29, ../../resources/scss/_responsive.scss */
  .message_content {
    width: auto; } }
/* line 3, ../../resources/scss/style.scss */
.fullwidth {
  width: 960px; }

/* line 7, ../../resources/scss/style.scss */
.header {
  line-height: 1.6em;
  background-color: #FFE640;
  padding-left: 2em; }

/* line 13, ../../resources/scss/style.scss */
.containerForColumns {
  overflow: auto;
  width: 100%; }

/* line 18, ../../resources/scss/style.scss */
.leftOfTwoColumns {
  width: 50%;
  float: left; }

/* line 23, ../../resources/scss/style.scss */
.rightOfTwoColumns {
  margin-left: 50%; }

/* line 28, ../../resources/scss/style.scss */
.formtable tr {
  line-height: 1.5em; }
/* line 32, ../../resources/scss/style.scss */
.formtable th {
  width: 230px;
  font-weight: normal;
  padding-right: 1em;
  text-align: right;
  vertical-align: text-top; }
/* line 40, ../../resources/scss/style.scss */
.formtable label {
  color: #333333; }

/* line 45, ../../resources/scss/style.scss */
td.small-height {
  line-height: 8pt; }

/* line 49, ../../resources/scss/style.scss */
.submit-button {
  margin-left: 250px; }

/* line 53, ../../resources/scss/style.scss */
.done {
  color: #a67600; }

/* line 57, ../../resources/scss/style.scss */
.cancelled {
  text-decoration: line-through; }

/* line 61, ../../resources/scss/style.scss */
.frame {
  border: thin inset white;
  padding: 2px; }

/* line 66, ../../resources/scss/style.scss */
.card {
  position: relative;
  padding: 5px;
  border: 1px solid #ffd773;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
  width: 225px;
  height: 170px; }
  /* line 75, ../../resources/scss/style.scss */
  .card.with_button {
    height: 200px; }
  /* line 79, ../../resources/scss/style.scss */
  .card.dashed {
    border: 1px dashed #ffd773;
    color: #644700; }

/* line 85, ../../resources/scss/style.scss */
.card_name {
  font-size: 1.5em;
  font-weight: bold;
  padding: 3px; }

/* line 90, ../../resources/scss/style.scss */
.card_desc {
  padding: 3px; }

/* line 94, ../../resources/scss/style.scss */
.card_copies {
  margin-top: 30px; }

/* line 98, ../../resources/scss/style.scss */
.commodity_card {
  display: inline-block;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  width: 25px;
  height: 50px; }

/* line 105, ../../resources/scss/style.scss */
.excluded {
  background: url(../stripe.png); }

/* line 109, ../../resources/scss/style.scss */
.card_select {
  width: 220px;
  text-align: center; }

/* line 114, ../../resources/scss/style.scss */
.css_table {
  display: table;
  border-spacing: 2px; }

/* line 119, ../../resources/scss/style.scss */
.css_table-row {
  display: table-row; }

/* line 123, ../../resources/scss/style.scss */
.css_table-cell {
  display: table-cell;
  padding: 1px 4px; }

/* line 128, ../../resources/scss/style.scss */
.header-row {
  text-align: center;
  font-weight: bold;
  padding: 1px 4px;
  background-color: #eba700; }

/* line 135, ../../resources/scss/style.scss */
.even_color {
  background-color: #ffc533; }
  /* line 138, ../../resources/scss/style.scss */
  .even_color:hover {
    background-color: #FFD800; }

/* line 143, ../../resources/scss/style.scss */
.odd_color {
  background-color: #eba700; }
  /* line 146, ../../resources/scss/style.scss */
  .odd_color:hover {
    background-color: #FFD800; }

/* line 151, ../../resources/scss/style.scss */
.middle-align {
  vertical-align: middle; }

/* line 155, ../../resources/scss/style.scss */
.centered {
  text-align: center; }

/* line 159, ../../resources/scss/style.scss */
.pagination {
  font-size: 0.8em;
  text-align: center; }

/* line 164, ../../resources/scss/style.scss */
.points {
  min-width: 4em;
  text-align: right; }

/* line 169, ../../resources/scss/style.scss */
.align_to_bottom {
  position: absolute;
  bottom: 5px; }

/* line 174, ../../resources/scss/style.scss */
.reminder {
  margin: 4px 4px 4px 10px;
  padding: 3px;
  border: thin dotted gray;
  background-color: #ffbf00; }

/* line 181, ../../resources/scss/style.scss */
.new {
  color: red;
  font-weight: bold; }

/* line 186, ../../resources/scss/style.scss */
.underline[data-tip] {
  border-bottom: dotted 1px black; }

/* line 190, ../../resources/scss/style.scss */
.ui-datepicker-trigger {
  position: relative;
  top: 4px;
  left: 2px; }

/* line 196, ../../resources/scss/style.scss */
.end_warning {
  color: red; }

/* line 200, ../../resources/scss/style.scss */
.message_date {
  margin-bottom: 5px; }

/* line 204, ../../resources/scss/style.scss */
.form-button {
  display: inline; }
  /* line 207, ../../resources/scss/style.scss */
  .form-button input[type=submit] {
    height: 16px;
    width: 16px;
    border: none;
    background: transparent 0 0 no-repeat; }
