.scores {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
}

.scores td {
    width: 200px;
    height: 30px;
}

.scores tr#second-row td {
    width: 300px;
}

.scores .podium-box {
    border: 1px solid black;
    height: 50px;
}

.me {
    background-color: #FFE640;
}

.first-player-header {
    font-size: 1.6em;
    font-weight: bold;
}
.first-player {
    font-size: 1.2em;
}

.second-player-header {
    font-size: 1.3em;
    font-weight: bold;
}
.second-player {
    font-size: 1.1em;
}

.third-player-header {
    font-size: 1.1em;
    height: 1.3em;
    font-weight: bold;
}
.third-player {
    font-size: 1em;
}

.scoresheet {
    width: 90%;
    margin-left: 15px;
    padding: 10px;
    background-color: #FFBF00;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.submitted-hand {
    vertical-align: bottom;
    margin: 5px 0;
}

.submitted-hand .minicard, .minicard.minimized {
    width: 15px;
    height: 30px;
}

.congrats {
    margin-top: 20px;
    text-align: center;
    font-size: 1.3em;
}