/* Base tags styling */
/* line 4, ../../resources/scss/_base.scss */
body {
  background-color: #ffb600;
  width: 980px;
  margin: 5px auto 0 auto;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 9pt; }

/* line 11, ../../resources/scss/_base.scss */
h3 {
  margin: 4px 0;
  font-size: 10pt; }

/* line 16, ../../resources/scss/_base.scss */
a, .dynamic_link {
  color: #800024;
  font-weight: normal;
  text-decoration: none; }
  /* line 21, ../../resources/scss/_base.scss */
  a.game-player, .dynamic_link.game-player {
    font-weight: inherit;
    color: darkgreen; }

/* line 27, ../../resources/scss/_base.scss */
a:hover, .dynamic_link:hover {
  text-decoration: underline;
  cursor: pointer; }

/* line 32, ../../resources/scss/_base.scss */
a img, .icon {
  border: 0px;
  vertical-align: text-top; }

/* line 37, ../../resources/scss/_base.scss */
input[type="text"], input[type="password"], textarea, select {
  border: 1px solid #ffd773; }

/* line 41, ../../resources/scss/_base.scss */
input, textarea, select {
  font-size: 10px;
  font-weight: normal;
  background-color: #FAFFBD;
  margin: 2px 0;
  padding: 2px 3px; }

/* line 48, ../../resources/scss/_base.scss */
select {
  height: 2em; }

/* line 51, ../../resources/scss/_base.scss */
select[multiple] {
  height: auto; }

/* line 55, ../../resources/scss/_base.scss */
input[type="submit"] {
  background-color: #DDDDDD; }

/* line 59, ../../resources/scss/_base.scss */
textarea {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  width: 100%; }

/* Page structure */
/* line 67, ../../resources/scss/_base.scss */
#zone_toplinks {
  top: 2px;
  text-align: right;
  margin-bottom: -20px;
  margin-right: 20px; }

/* line 74, ../../resources/scss/_base.scss */
#zone_logobox {
  width: 422px;
  top: 10px; }
  /* line 78, ../../resources/scss/_base.scss */
  #zone_logobox #zone_motto {
    position: relative;
    top: -10px;
    left: 15px;
    font-family: "Garamond", "Times New Roman", serif;
    font-size: 1.4em;
    font-style: italic;
    color: black;
    letter-spacing: 7px; }
  /* line 87, ../../resources/scss/_base.scss */
  #zone_logobox a:hover {
    text-decoration: none; }

/* line 92, ../../resources/scss/_base.scss */
#zone_content {
  padding: 10px; }

/* Miscellaneous common styles */
/* line 97, ../../resources/scss/_base.scss */
.helptext, .upperhelptext, .lowerhelptext {
  font-size: 8pt;
  font-weight: normal;
  font-style: italic;
  color: #a67600; }

/* line 102, ../../resources/scss/_base.scss */
.upperhelptext {
  display: block;
  margin-top: -0.6em; }

/* line 108, ../../resources/scss/_base.scss */
.lowerhelptext {
  display: block;
  margin-top: 0.4em; }

/* line 114, ../../resources/scss/_base.scss */
.game-player {
  display: inline;
  border: 1px solid #ffd773;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0 3px;
  margin: 0 2px;
  line-height: 20px; }
  /* line 122, ../../resources/scss/_base.scss */
  .game-player:hover {
    background-color: #ffd773; }

/* line 128, ../../resources/scss/_base.scss */
.commodity_card {
  display: inline-block;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  width: 25px;
  height: 50px;
  margin: 3px; }
  /* line 135, ../../resources/scss/_base.scss */
  .commodity_card.excluded {
    background: url(../stripe.png); }
  /* line 139, ../../resources/scss/_base.scss */
  .commodity_card.card_selected {
    border: gray solid 3px;
    margin: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }

/* line 149, ../../resources/scss/_base.scss */
.rulecard {
  border: 1px solid #ffd773;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  float: left;
  width: 235px;
  height: 140px;
  margin: 3px;
  padding: 4px 8px; }
  /* line 158, ../../resources/scss/_base.scss */
  .rulecard.former {
    border: 1px dashed #ffd773;
    color: #644700; }
  /* line 163, ../../resources/scss/_base.scss */
  .rulecard .rulecard_name {
    font-size: 1.5em;
    font-weight: bold; }
  /* line 167, ../../resources/scss/_base.scss */
  .rulecard .rulecard_desc {
    line-height: 1.2em; }
  /* line 171, ../../resources/scss/_base.scss */
  .rulecard .note {
    float: right; }
  /* line 175, ../../resources/scss/_base.scss */
  .rulecard.excluded {
    background: url(../stripe.png); }
  /* line 180, ../../resources/scss/_base.scss */
  .rulecard.card_selected {
    border: gray solid 3px;
    margin: 1px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }

/* line 188, ../../resources/scss/_base.scss */
.rulecard_thumbnail {
  display: inline-block;
  text-align: center;
  border: 1px solid #ffd773;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 20px;
  min-width: 1em;
  margin: 1px;
  padding: 4px;
  font-size: 1.5em;
  font-weight: bold; }

/* line 200, ../../resources/scss/_base.scss */
.errors {
  font-size: 0.8em;
  color: #a67600; }

@media handheld, only screen and (max-device-width: 767px) {
  /* line 4, ../../resources/scss/_responsive.scss */
  body, .fullwidth {
    width: auto; }

  /* line 7, ../../resources/scss/_responsive.scss */
  textarea {
    width: 80%; }

  /* line 10, ../../resources/scss/_responsive.scss */
  input, textarea, select {
    font-size: 12px; }

  /* line 13, ../../resources/scss/_responsive.scss */
  #zone_toplinks {
    margin-bottom: 0; }

  /* line 16, ../../resources/scss/_responsive.scss */
  #zone_logobox {
    width: 300px; }
    /* line 18, ../../resources/scss/_responsive.scss */
    #zone_logobox img {
      max-width: 300px; }
    /* line 21, ../../resources/scss/_responsive.scss */
    #zone_logobox #zone_motto {
      font-size: 1em;
      letter-spacing: 5px; }

  /* line 26, ../../resources/scss/_responsive.scss */
  .message_area {
    width: auto; }

  /* line 29, ../../resources/scss/_responsive.scss */
  .message_content {
    width: auto; } }
/* line 8, ../../resources/scss/style.game.board.scss */
#zone_game_header {
  overflow: auto;
  width: 100%; }

/* line 13, ../../resources/scss/style.game.board.scss */
#zone_game_label {
  float: left;
  width: 180px; }

/* line 18, ../../resources/scss/style.game.board.scss */
#game_label {
  font-size: 1.9em;
  font-weight: bold; }

/* line 22, ../../resources/scss/style.game.board.scss */
#zone_player_list {
  margin-left: 180px; }
  /* line 25, ../../resources/scss/style.game.board.scss */
  #zone_player_list > div {
    float: right; }

/* line 30, ../../resources/scss/style.game.board.scss */
#zone_game_main {
  overflow: auto;
  width: 100%; }

/* line 35, ../../resources/scss/style.game.board.scss */
#zone_hand {
  float: left;
  width: 518px; }
  /* line 39, ../../resources/scss/style.game.board.scss */
  #zone_hand #zone_links {
    height: 30px; }
  /* line 43, ../../resources/scss/style.game.board.scss */
  #zone_hand #zone_commodities {
    margin-bottom: 16px; }
  /* line 47, ../../resources/scss/style.game.board.scss */
  #zone_hand #zone_rules {
    display: inline-block;
    margin-bottom: 16px; }

/* line 53, ../../resources/scss/style.game.board.scss */
#zone_tabs {
  margin-left: 538px;
  background: none;
  border-width: 0px; }

/* line 59, ../../resources/scss/style.game.board.scss */
#zone_tabs .ui-tabs-nav {
  height: 2.2em;
  background: transparent;
  border-width: 0px;
  padding-left: 0px; }
  /* line 65, ../../resources/scss/style.game.board.scss */
  #zone_tabs .ui-tabs-nav .ui-state-default {
    background: transparent;
    border-color: #ffd773; }
  /* line 70, ../../resources/scss/style.game.board.scss */
  #zone_tabs .ui-tabs-nav .ui-state-active {
    background-color: #ffd773;
    border-color: #ffd773; }
  /* line 75, ../../resources/scss/style.game.board.scss */
  #zone_tabs .ui-tabs-nav li {
    font-size: 0.9em; }

/* line 80, ../../resources/scss/style.game.board.scss */
#zone_tabs .ui-tabs-panel {
  background: none;
  border: 1px solid #ffd773; }

/* line 85, ../../resources/scss/style.game.board.scss */
#zone_post_message {
  margin-top: 10px; }

/* line 89, ../../resources/scss/style.game.board.scss */
#zone_selected_commodities {
  min-height: 50px; }

/* line 93, ../../resources/scss/style.game.board.scss */
#zone_selected_rules {
  min-height: 20px; }

/* line 97, ../../resources/scss/style.game.board.scss */
.commodity_card.not_submitted {
  background: url(../stripe.png); }

/* line 101, ../../resources/scss/style.game.board.scss */
.free_information {
  border: 1px solid #ffd773;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding-top: 10px;
  padding-left: 30px;
  color: #644700; }
  /* line 108, ../../resources/scss/style.game.board.scss */
  .free_information legend {
    color: #333333;
    font-style: italic;
    margin-left: -15px;
    padding: 0 5px; }

/* line 116, ../../resources/scss/style.game.board.scss */
.show_previous {
  margin: -5px 0 5px -10px;
  height: 1em; }

/* line 121, ../../resources/scss/style.game.board.scss */
.event_date {
  font-size: 0.9em;
  color: #a67600;
  border-bottom: thin dotted #a67600;
  margin: 8px 0 4px -10px;
  padding-bottom: 2px; }

/* line 129, ../../resources/scss/style.game.board.scss */
.event_time {
  display: inline-block;
  color: #a67600;
  font-size: 0.9em;
  margin-left: -10px;
  margin-right: 5px; }

/* line 136, ../../resources/scss/style.game.board.scss */
.event_text {
  display: inline; }

/* line 140, ../../resources/scss/style.game.board.scss */
.delete_message {
  float: right; }

/* line 144, ../../resources/scss/style.game.board.scss */
.delete_icon {
  background-image: url("../trash.png");
  border: none;
  height: 16px;
  width: 16px; }

/* line 151, ../../resources/scss/style.game.board.scss */
.message_content {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #ffbd1a;
  padding: 4px 10px;
  margin: 3px 0 10px 3px;
  font-size: 0.9em; }
  /* line 158, ../../resources/scss/style.game.board.scss */
  .message_content.admin {
    background: #d69900; }

/* line 163, ../../resources/scss/style.game.board.scss */
.show_more {
  text-align: right; }

/* line 167, ../../resources/scss/style.game.board.scss */
.chars_left {
  float: right;
  margin-right: 1em;
  text-align: right; }

/* line 171, ../../resources/scss/style.game.board.scss */
form .submit {
  text-align: right; }

/* line 175, ../../resources/scss/style.game.board.scss */
#button_post_message {
  position: relative;
  top: -10px; }

/* line 181, ../../resources/scss/style.game.board.scss */
#id_responder {
  margin-left: 8px; }
